In [1]:
import csv
import os
import sys
import h5pyd
import xarray as xr
import numpy as np
import pandas as pd
import netCDF4 as nc
from scipy import stats
from datetime import datetime
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from scipy.spatial import cKDTree
from scipy import stats
import math

def haversine(lat1, lon1, lat2, lon2):
   # Convert latitude and longitude from degrees to radians
   lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])

   dlat = lat2 - lat1
   dlon = lon2 - lon1
   a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
   c = 2 * math.asin(math.sqrt(a))

   # Radius of Earth in kilometers. Use 3956 for miles.
   r = 6371

   # Calculate the result
   distance = c * r
   return distance

print(sys.version)

# Create 2D array with file_id, water, and region values for file list
array = np.array([
[6678, 6, 1],[6687, 6, 1],[6772, 6, 1],[6783, 6, 1],[6950, 4, 1],[6963, 4, 0],
[7139, 6, 1],[7239, 2, 0],[7280, 6, 1],[7311, 6, 1],[7321, 6, 1],[7329, 5, 1],
[7361, 4, 1],[7414, 4, 1],[7555, 5, 1],[7571, 5, 1],[7585, 5, 1],[7704, 3, 1],
[7805, 5, 1],[7816, 5, 1],[7838, 5, 1],[7938, 3, 1],[7979, 3, 1],[7999, 1, 1],
[8000, 1, 1]])

# Set index to get file_id, water, and region values for each file
i=0

# Create empty list to store NSRDB file names
files = []

# Fill list with all possible file names
for j in range(8):
   ind = 1998+j
   files.append("/nrel/nsrdb/v3/nsrdb_"+str(ind)+".h5")

# Get the current working directory 
current_directory = os.getcwd() 

# Print the current working directory 
print(current_directory)

# Define the directory containing the files 
path = current_directory+"\\Data\\HADISDH_Humidity\\NC_Files\\"
print(path)

# Create an empty list to hold the dataframes 
dataframes = [] 

# Create datetime object for comparison
datetime_str = '1/1/98 00:00:00'

# Convert string to datetime
datetime_object = datetime.strptime(datetime_str, '%d/%m/%y %H:%M:%S')

# Loop through all filenames in filenames_only.csv 
with open("filenames_only_yearly.csv", mode='r') as file:
   csv_reader = csv.reader(file)
   for row in csv_reader:
      filename = row[0]
      print(filename)
      array_row = array[i]
      # Open the NetCDF file
      file = path+filename
      ds = xr.open_dataset(file)
      # Convert the dataset to a DataFrame
      df = ds.to_dataframe().reset_index()
      df_filtered = df[df['time'] >= datetime_object] # Remove data older than January 1, 1998
      # Fill NaN with linearly interpolated values
      df_filtered = df_filtered.interpolate()
      df_filtered.set_index('time', inplace = True)
      # Drop unneeded columns
      df_filtered = df_filtered.drop(['input_station_id','station_id','coordinate_length'], axis=1)
      df_filtered = df_filtered.drop(['relative_humidity', 'saturation_vapor_pressure', 'dewpoints'], axis=1)
      df_filtered = df_filtered.assign(file_id = int(array_row[0]))
      df_filtered = df_filtered.assign(region = int(array_row[1]))
      df_filtered = df_filtered.assign(water = int(array_row[2]))

      j=0

      # Create empty list for dataframes
      ghi_datasets = []
      wind_speed_datasets = []
      time_index_datasets = []

      # for loop to get data from NSRDB for each year
      for j in range(8):
         # Open the desired year of nsrdb data
         year = 1998 + j
         print("Year: "+str(year))
         files = "/nrel/nsrdb/v3/nsrdb_"+str(year)+".h5"
         f = h5pyd.File(files, 'r')
    
         #Lists attributes contained in file f
         list(f)

         # Locational information is stored in either 'meta' or 'coordinates'
         meta = pd.DataFrame(f['meta'][...])

         # Access the datasets for latitude and longitude
         latitude_dataset = meta['latitude']
         longitude_dataset = meta['longitude']

         # Read the data into numpy arrays
         latitude = latitude_dataset[:]
         longitude = longitude_dataset[:]

         # Print the extracted data
         print("Latitude:", latitude)
         print("Longitude:", longitude)

         indexes1 = []
         indexes2 = []
         values1 = []
         values2 = []

         #HADISDH geospatial coordinates
         latitude_h = df_filtered['latitude'].values[0]
         longitude_h = df_filtered['longitude'].values[0]

         #Range to look for NSRDB geospatial location
         latitude_min_NSRDB = latitude_h - 0.02
         latitude_max_NSRDB = latitude_h + 0.02
         longitude_min_NSRDB = longitude_h - 0.02
         longitude_max_NSRDB = longitude_h + 0.02

         print(latitude_min_NSRDB)
         print(latitude_max_NSRDB)
         print(longitude_min_NSRDB)
         print(longitude_max_NSRDB)

         # Extract datetime index for datasets
         time_index = pd.to_datetime(f['time_index'][...].astype(str))
         time_index # Temporal resolution is 30min
         print(time_index.shape[0])

         for index1 in range(2018392):
            value = latitude[index1]
            if(value < latitude_max_NSRDB and value > latitude_min_NSRDB):
               indexes1.append(index1)
               if value not in values1:
                  values1.append(value)

         for index2 in range(2018392):
            value = longitude[index2]
            if(value < longitude_max_NSRDB  and value > longitude_min_NSRDB):
               indexes2.append(index2)
               if value not in values2:
                  values2.append(value)

         # Find specific index for location from common index between latitude and longitude list
         common_indexes = []
         common_indexes = [value for value in indexes1 if value in indexes2]
         print(common_indexes)
         location_index = common_indexes[0]

         # Datasets are stored in a 2d array of time x location
         dset = f['ghi']
         print(dset.shape)
         print(dset)

         dset2 = f['wind_speed']
         print(dset2.shape)
         print(dset2)

         # Get GHI and wind speed data for specific location and times
         dset_filtered = pd.DataFrame(dset[0::2, location_index])
         dset2_filtered = pd.DataFrame(dset2[0::2, location_index])
         time_index_df = pd.DataFrame(time_index[0::2])

         ghi_datasets.append(dset_filtered)
         wind_speed_datasets.append(dset2_filtered)
         time_index_datasets.append(time_index_df)

         # Close the file
         f.close()

      # Concatenate all Dataframes
      combined_ghi_df = pd.concat(ghi_datasets, ignore_index=True)
      combined_wind_df = pd.concat(wind_speed_datasets, ignore_index=True)
      combined_time_df = pd.concat(time_index_datasets, ignore_index=True)

      # Now combined files contain all the data from GHI and wind speed files
      print(combined_ghi_df)
      print(combined_wind_df)
      print(combined_time_df)

      NSRDB_merged_df = pd.concat([combined_time_df, combined_ghi_df, combined_wind_df], axis=1)
      NSRDB_merged_df.columns = ['time', 'GHI', 'wind_speed']
      NSRDB_merged_df['NSRDB_latitude'] = round(latitude[location_index], 3)
      NSRDB_merged_df['NSRDB_longitude'] = round(longitude[location_index], 3)
      NSRDB_merged_df['distance_h_NSRDB'] = round(haversine(df_filtered['latitude'].values[0], df_filtered['longitude'].values[0], latitude[location_index], longitude[location_index]), 3)

      print(NSRDB_merged_df)
      print(NSRDB_merged_df.shape[0])

      df_filtered2 = df_filtered.reset_index()
      print(df_filtered2['time'])

      print(df_filtered2)

      for n in range(NSRDB_merged_df.shape[0]):
         datevalue = str(NSRDB_merged_df['time'].values[n])[:10]
         timevalue = str(NSRDB_merged_df['time'].values[n])[11:19]
         datetimevalue = datevalue + " " + timevalue
         NSRDB_merged_df.at[n, 'time'] = datetimevalue

      NSRDB_merged_df['time'] = pd.to_datetime(NSRDB_merged_df['time'])
      df_filtered2['time'] = pd.to_datetime(df_filtered2['time'])

      daily_NSRDB_df = NSRDB_merged_df.resample('D', on='time').mean()
      daily_df_filtered = df_filtered2.resample('D', on='time').mean()

      NSRDB_merged_df.set_index('time')
      df_filtered2.set_index('time')

      print(daily_NSRDB_df)
      print(daily_df_filtered)

      merged_df = pd.merge(daily_df_filtered, daily_NSRDB_df, on='time', how='outer')
      #merged_df['file_id'] = merged_df['file_id'].astype(int)
      #merged_df['water'] = merged_df['water'].astype(int)
      #merged_df['region'] = merged_df['region'].astype(int)
      print(merged_df)

      # Write DataFrame to CSV
      newfilename = "HADISDH_NSRDB_Merged_File_Yearly" + str(merged_df['file_id'].values[0]) + ".csv"
      merged_df.to_csv(newfilename, index=True)

      dataframes.append(merged_df)
      i += 1

# Concatenate all Dataframes
combined_df = pd.concat(dataframes, ignore_index=False)

# Now combined_df contains all the data from NC files
print(combined_df)

# Display the dataframe
print(combined_df.head())

# Write DataFrame to CSV
newfilename = "HADISDH_NSRDB_Merged_File_All_Data_Yearly.csv"
combined_df.to_csv(newfilename, index=True)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]
C:\Users\User
C:\Users\User\Data\HADISDH_Humidity\NC_Files\
hadisd.3.4.1.202411p_19310101-20241201_722069-53853_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.373
30.413
-86.487
-86.447
17520
[927438]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.373
30.413
-86.487
-86.447
17520
[927438]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.373
30.413
-86.487
-86.447
17568
[927438]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.373
30.413
-86.487
-86.447
17520
[927438]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.373
30.413
-86.487
-86.447
17520
[927438]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.373
30.413
-86.487
-86.447
17520
[927438]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.373
30.413
-86.487
-86.447
17568
[927438]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.373
30.413
-86.487
-86.447
17520
[927438]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0        0
1        0
2        0
3        0
4        0
...    ...
70123  399
70124  444
70125  289
70126  116
70127    0

[70128 rows x 1 columns]
        0
0      25
1      25
2      24
3      24
4      23
...    ..
70123  21
70124  18
70125  13
70126   8
70127  10

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          25           30.41       -86.459999
1     1998-01-01 01:00:00    0          25           30.41       -86.459999
2     1998-01-01 02:00:00    0          24           30.41       -86.459999
3     1998-01-01 03:00:00    0          24           30.41       -86.459999
4     1998-01-01 04:00:00    0          23           30.41       -86.459999
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00  399          21           30.41       -86.459999
70124 2005-12-31 20:00:00  444          18           30.41       -86.459999
70125 2005-12-31 21:00:00  289          13           30.41       -86.459999
70126 2005-12-31 22:00:00  116           8           30.41       -86.459999
70127 2005-12-31 23:00:00    0          10           30.41       -86.459999

       distance_h_NSRDB
0                 2.006
1                 2.006
2                 2.006
3                 2.006
4                 2.006
...                 ...
70123             2.006
70124             2.006
70125             2.006
70126             2.006
70127             2.006

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235454   2024-11-30 17:00:00
235455   2024-11-30 18:00:00
235456   2024-11-30 19:00:00
235457   2024-11-30 20:00:00
235458   2024-11-30 21:00:00
Name: time, Length: 235459, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -86.467    30.393        5.4      8.000000
1      1998-01-01 01:00:00    -86.467    30.393        5.4      8.000000
2      1998-01-01 02:00:00    -86.467    30.393        5.4      8.000000
3      1998-01-01 03:00:00    -86.467    30.393        5.4      7.000000
4      1998-01-01 04:00:00    -86.467    30.393        5.4      6.500000
...                    ...        ...       ...        ...           ...
235454 2024-11-30 17:00:00    -86.467    30.393        5.4     12.800003
235455 2024-11-30 18:00:00    -86.467    30.393        5.4     13.900002
235456 2024-11-30 19:00:00    -86.467    30.393        5.4     15.000000
235457 2024-11-30 20:00:00    -86.467    30.393        5.4     15.000000
235458 2024-11-30 21:00:00    -86.467    30.393        5.4     15.000000

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1031.800003        5.706459              3.629646           3.449661
1       1032.599998        5.706482              3.629646           3.446991
2       1033.199997        5.706490              3.629646           3.444992
3       1034.099998        5.706505              3.059250           3.442009
4       1034.349998        5.706512              2.774220           3.441181
...             ...             ...                   ...                ...
235454  1026.300003        4.602692              5.490990           2.796181
235455  1025.199997        4.432892              5.943359           2.695747
235456  1024.199997        4.602661              6.638565           2.801888
235457  1023.699997        4.602654              6.638565           2.803253
235458  1023.699997        4.602654              6.638565           2.803253

        file_id  region  water
0          6678       6      1
1          6678       6      1
2          6678       6      1
3          6678       6      1
4          6678       6      1
...         ...     ...    ...
235454     6678       6      1
235455     6678       6      1
235456     6678       6      1
235457     6678       6      1
235458     6678       6      1

[235459 rows x 12 columns]
                   GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  170.375000   23.125000       30.409998       -86.459999
1998-01-02  159.791667   20.916667       30.409998       -86.459999
1998-01-03  151.500000   19.125000       30.409998       -86.459999
1998-01-04  118.916667   20.291667       30.409998       -86.459999
1998-01-05   59.291667   25.208333       30.409998       -86.459999
...                ...         ...             ...              ...
2005-12-27  162.333333   12.750000       30.409998       -86.459999
2005-12-28  103.375000   34.333333       30.409998       -86.459999
2005-12-29  164.416667   27.125000       30.409998       -86.459999
2005-12-30  150.958333   13.500000       30.409998       -86.459999
2005-12-31  102.958333   19.375000       30.409998       -86.459999

            distance_h_NSRDB
time
1998-01-01             2.006
1998-01-02             2.006
1998-01-03             2.006
1998-01-04             2.006
1998-01-05             2.006
...                      ...
2005-12-27             2.006
2005-12-28             2.006
2005-12-29             2.006
2005-12-30             2.006
2005-12-31             2.006

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -86.467    30.393        5.4      6.562500  1034.810416
1998-01-02    -86.467    30.393        5.4      7.958333  1032.070833
1998-01-03    -86.467    30.393        5.4     13.312500  1027.208332
1998-01-04    -86.467    30.393        5.4     15.666667  1023.437499
1998-01-05    -86.467    30.393        5.4     17.833333  1019.037500
...               ...       ...        ...           ...          ...
2024-11-26    -86.467    30.393        5.4     23.166668  1019.633333
2024-11-27    -86.467    30.393        5.4     19.516666  1016.752083
2024-11-28    -86.467    30.393        5.4     23.312501  1012.608333
2024-11-29    -86.467    30.393        5.4     12.300000  1019.291667
2024-11-30    -86.467    30.393        5.4      8.836364  1025.118182

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        5.651680              2.772352           3.406661   6678.0
1998-01-02        8.549684              5.702755           5.175989   6678.0
1998-01-03       13.068624             11.663050           7.958255   6678.0
1998-01-04       15.956059             14.388488           9.763809   6678.0
1998-01-05       18.497606             16.658828          11.377341   6678.0
...                    ...                   ...                ...      ...
2024-11-26       21.727029             20.062718          13.371528   6678.0
2024-11-27       19.260781             17.616569          11.877058   6678.0
2024-11-28       23.391771             20.897539          14.507043   6678.0
2024-11-29        9.900768              8.924808           6.072332   6678.0
2024-11-30        5.397379              3.827333           3.284184   6678.0

            region  water
time
1998-01-01     6.0    1.0
1998-01-02     6.0    1.0
1998-01-03     6.0    1.0
1998-01-04     6.0    1.0
1998-01-05     6.0    1.0
...            ...    ...
2024-11-26     6.0    1.0
2024-11-27     6.0    1.0
2024-11-28     6.0    1.0
2024-11-29     6.0    1.0
2024-11-30     6.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -86.467    30.393        5.4      6.562500  1034.810416
1998-01-02    -86.467    30.393        5.4      7.958333  1032.070833
1998-01-03    -86.467    30.393        5.4     13.312500  1027.208332
1998-01-04    -86.467    30.393        5.4     15.666667  1023.437499
1998-01-05    -86.467    30.393        5.4     17.833333  1019.037500
...               ...       ...        ...           ...          ...
2024-11-26    -86.467    30.393        5.4     23.166668  1019.633333
2024-11-27    -86.467    30.393        5.4     19.516666  1016.752083
2024-11-28    -86.467    30.393        5.4     23.312501  1012.608333
2024-11-29    -86.467    30.393        5.4     12.300000  1019.291667
2024-11-30    -86.467    30.393        5.4      8.836364  1025.118182

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        5.651680              2.772352           3.406661   6678.0
1998-01-02        8.549684              5.702755           5.175989   6678.0
1998-01-03       13.068624             11.663050           7.958255   6678.0
1998-01-04       15.956059             14.388488           9.763809   6678.0
1998-01-05       18.497606             16.658828          11.377341   6678.0
...                    ...                   ...                ...      ...
2024-11-26       21.727029             20.062718          13.371528   6678.0
2024-11-27       19.260781             17.616569          11.877058   6678.0
2024-11-28       23.391771             20.897539          14.507043   6678.0
2024-11-29        9.900768              8.924808           6.072332   6678.0
2024-11-30        5.397379              3.827333           3.284184   6678.0

            region  water         GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     6.0    1.0  170.375000   23.125000       30.409998
1998-01-02     6.0    1.0  159.791667   20.916667       30.409998
1998-01-03     6.0    1.0  151.500000   19.125000       30.409998
1998-01-04     6.0    1.0  118.916667   20.291667       30.409998
1998-01-05     6.0    1.0   59.291667   25.208333       30.409998
...            ...    ...         ...         ...             ...
2024-11-26     6.0    1.0         NaN         NaN             NaN
2024-11-27     6.0    1.0         NaN         NaN             NaN
2024-11-28     6.0    1.0         NaN         NaN             NaN
2024-11-29     6.0    1.0         NaN         NaN             NaN
2024-11-30     6.0    1.0         NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01       -86.459999             2.006
1998-01-02       -86.459999             2.006
1998-01-03       -86.459999             2.006
1998-01-04       -86.459999             2.006
1998-01-05       -86.459999             2.006
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_722080-13880_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
32.879
32.919000000000004
-80.06099999999999
-80.021
17520
[1063228]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
32.879
32.919000000000004
-80.06099999999999
-80.021
17520
[1063228]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
32.879
32.919000000000004
-80.06099999999999
-80.021
17568
[1063228]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
32.879
32.919000000000004
-80.06099999999999
-80.021
17520
[1063228]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
32.879
32.919000000000004
-80.06099999999999
-80.021
17520
[1063228]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
32.879
32.919000000000004
-80.06099999999999
-80.021
17520
[1063228]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
32.879
32.919000000000004
-80.06099999999999
-80.021
17568
[1063228]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
32.879
32.919000000000004
-80.06099999999999
-80.021
17520
[1063228]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0        0
1        0
2        0
3        0
4        0
...    ...
70123  228
70124  299
70125  137
70126   34
70127    0

[70128 rows x 1 columns]
        0
0      21
1      21
2      19
3      17
4      17
...    ..
70123  18
70124  15
70125  11
70126  11
70127  11

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          21       32.889999       -80.059998
1     1998-01-01 01:00:00    0          21       32.889999       -80.059998
2     1998-01-01 02:00:00    0          19       32.889999       -80.059998
3     1998-01-01 03:00:00    0          17       32.889999       -80.059998
4     1998-01-01 04:00:00    0          17       32.889999       -80.059998
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00  228          18       32.889999       -80.059998
70124 2005-12-31 20:00:00  299          15       32.889999       -80.059998
70125 2005-12-31 21:00:00  137          11       32.889999       -80.059998
70126 2005-12-31 22:00:00   34          11       32.889999       -80.059998
70127 2005-12-31 23:00:00    0          11       32.889999       -80.059998

       distance_h_NSRDB
0                 2.037
1                 2.037
2                 2.037
3                 2.037
4                 2.037
...                 ...
70123             2.037
70124             2.037
70125             2.037
70126             2.037
70127             2.037

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235886   2024-11-30 17:00:00
235887   2024-11-30 18:00:00
235888   2024-11-30 19:00:00
235889   2024-11-30 20:00:00
235890   2024-11-30 21:00:00
Name: time, Length: 235891, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -80.041    32.899       11.8      6.699997
1      1998-01-01 01:00:00    -80.041    32.899       11.8      5.599998
2      1998-01-01 02:00:00    -80.041    32.899       11.8      5.000000
3      1998-01-01 03:00:00    -80.041    32.899       11.8      3.900002
4      1998-01-01 04:00:00    -80.041    32.899       11.8      1.099998
...                    ...        ...       ...        ...           ...
235886 2024-11-30 17:00:00    -80.041    32.899       11.8      9.400002
235887 2024-11-30 18:00:00    -80.041    32.899       11.8     11.099998
235888 2024-11-30 19:00:00    -80.041    32.899       11.8     11.699997
235889 2024-11-30 20:00:00    -80.041    32.899       11.8     11.699997
235890 2024-11-30 21:00:00    -80.041    32.899       11.8     11.099998

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1026.199997        3.138031              0.903595           1.907166
1       1027.599998        3.138046              0.226555           1.904587
2       1029.099998        3.033806             -0.329033           1.838562
3       1030.400002        3.169418             -0.914871           1.918434
4       1031.400002        3.339455             -2.567932           2.019547
...             ...             ...                   ...                ...
235886  1024.900002        3.896492              3.069893           2.371765
235887  1023.599998        3.721443              3.895050           2.267929
235888  1023.099998        3.896469              4.359161           2.375900
235889  1022.599998        3.418640              3.984550           2.085190
235890  1022.900002        3.580963              3.785957           2.183693

        file_id  region  water
0          6687       6      1
1          6687       6      1
2          6687       6      1
3          6687       6      1
4          6687       6      1
...         ...     ...    ...
235886     6687       6      1
235887     6687       6      1
235888     6687       6      1
235889     6687       6      1
235890     6687       6      1

[235891 rows x 12 columns]
                   GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  155.458333   12.833333       32.889999       -80.059998
1998-01-02  146.875000    7.083333       32.889999       -80.059998
1998-01-03  115.000000   10.666667       32.889999       -80.059998
1998-01-04  137.083333   12.166667       32.889999       -80.059998
1998-01-05  122.458333   12.750000       32.889999       -80.059998
...                ...         ...             ...              ...
2005-12-27  151.458333   11.291667       32.889999       -80.059998
2005-12-28  114.625000   14.708333       32.889999       -80.059998
2005-12-29  141.958333   22.041667       32.889999       -80.059998
2005-12-30  147.000000   10.041667       32.889999       -80.059998
2005-12-31   84.416667   14.708333       32.889999       -80.059998

            distance_h_NSRDB
time
1998-01-01             2.037
1998-01-02             2.037
1998-01-03             2.037
1998-01-04             2.037
1998-01-05             2.037
...                      ...
2005-12-27             2.037
2005-12-28             2.037
2005-12-29             2.037
2005-12-30             2.037
2005-12-31             2.037

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -80.041    32.899       11.8      2.320833  1035.025000
1998-01-02    -80.041    32.899       11.8      4.558334  1035.833333
1998-01-03    -80.041    32.899       11.8     12.587501  1031.341666
1998-01-04    -80.041    32.899       11.8     14.666667  1027.812500
1998-01-05    -80.041    32.899       11.8     18.308333  1025.087500
...               ...       ...        ...           ...          ...
2024-11-26    -80.041    32.899       11.8     16.691667  1018.612500
2024-11-27    -80.041    32.899       11.8     16.304167  1016.445834
2024-11-28    -80.041    32.899       11.8     18.979166  1011.145833
2024-11-29    -80.041    32.899       11.8     12.341667  1015.645834
2024-11-30    -80.041    32.899       11.8      5.386363  1022.654545

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        3.246722             -1.832898           1.956583   6687.0
1998-01-02        4.973587              0.958594           2.996961   6687.0
1998-01-03       10.154439              9.144663           6.158948   6687.0
1998-01-04       13.923754             12.611565           8.484672   6687.0
1998-01-05       17.081779             15.984144          10.447739   6687.0
...                    ...                   ...                ...      ...
2024-11-26       15.463002             14.409232           9.513723   6687.0
2024-11-27       16.815840             15.225403          10.370377   6687.0
2024-11-28       19.455716             17.539925          12.076015   6687.0
2024-11-29        9.604279              8.524971           5.920199   6687.0
2024-11-30        5.471033              2.035710           3.341659   6687.0

            region  water
time
1998-01-01     6.0    1.0
1998-01-02     6.0    1.0
1998-01-03     6.0    1.0
1998-01-04     6.0    1.0
1998-01-05     6.0    1.0
...            ...    ...
2024-11-26     6.0    1.0
2024-11-27     6.0    1.0
2024-11-28     6.0    1.0
2024-11-29     6.0    1.0
2024-11-30     6.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -80.041    32.899       11.8      2.320833  1035.025000
1998-01-02    -80.041    32.899       11.8      4.558334  1035.833333
1998-01-03    -80.041    32.899       11.8     12.587501  1031.341666
1998-01-04    -80.041    32.899       11.8     14.666667  1027.812500
1998-01-05    -80.041    32.899       11.8     18.308333  1025.087500
...               ...       ...        ...           ...          ...
2024-11-26    -80.041    32.899       11.8     16.691667  1018.612500
2024-11-27    -80.041    32.899       11.8     16.304167  1016.445834
2024-11-28    -80.041    32.899       11.8     18.979166  1011.145833
2024-11-29    -80.041    32.899       11.8     12.341667  1015.645834
2024-11-30    -80.041    32.899       11.8      5.386363  1022.654545

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        3.246722             -1.832898           1.956583   6687.0
1998-01-02        4.973587              0.958594           2.996961   6687.0
1998-01-03       10.154439              9.144663           6.158948   6687.0
1998-01-04       13.923754             12.611565           8.484672   6687.0
1998-01-05       17.081779             15.984144          10.447739   6687.0
...                    ...                   ...                ...      ...
2024-11-26       15.463002             14.409232           9.513723   6687.0
2024-11-27       16.815840             15.225403          10.370377   6687.0
2024-11-28       19.455716             17.539925          12.076015   6687.0
2024-11-29        9.604279              8.524971           5.920199   6687.0
2024-11-30        5.471033              2.035710           3.341659   6687.0

            region  water         GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     6.0    1.0  155.458333   12.833333       32.889999
1998-01-02     6.0    1.0  146.875000    7.083333       32.889999
1998-01-03     6.0    1.0  115.000000   10.666667       32.889999
1998-01-04     6.0    1.0  137.083333   12.166667       32.889999
1998-01-05     6.0    1.0  122.458333   12.750000       32.889999
...            ...    ...         ...         ...             ...
2024-11-26     6.0    1.0         NaN         NaN             NaN
2024-11-27     6.0    1.0         NaN         NaN             NaN
2024-11-28     6.0    1.0         NaN         NaN             NaN
2024-11-29     6.0    1.0         NaN         NaN             NaN
2024-11-30     6.0    1.0         NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01       -80.059998             2.037
1998-01-02       -80.059998             2.037
1998-01-03       -80.059998             2.037
1998-01-04       -80.059998             2.037
1998-01-05       -80.059998             2.037
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_722185-53838_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
34.251999999999995
34.292
-83.85
-83.81
17520
[981997]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
34.251999999999995
34.292
-83.85
-83.81
17520
[981997]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
34.251999999999995
34.292
-83.85
-83.81
17568
[981997]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
34.251999999999995
34.292
-83.85
-83.81
17520
[981997]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
34.251999999999995
34.292
-83.85
-83.81
17520
[981997]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
34.251999999999995
34.292
-83.85
-83.81
17520
[981997]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
34.251999999999995
34.292
-83.85
-83.81
17568
[981997]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
34.251999999999995
34.292
-83.85
-83.81
17520
[981997]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0        0
1        0
2        0
3        0
4        0
...    ...
70123  342
70124  235
70125  107
70126   31
70127    0

[70128 rows x 1 columns]
       0
0      1
1      1
2      2
3      3
4      4
...   ..
70123  0
70124  0
70125  0
70126  0
70127  0

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0           1       34.290001           -83.82
1     1998-01-01 01:00:00    0           1       34.290001           -83.82
2     1998-01-01 02:00:00    0           2       34.290001           -83.82
3     1998-01-01 03:00:00    0           3       34.290001           -83.82
4     1998-01-01 04:00:00    0           4       34.290001           -83.82
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00  342           0       34.290001           -83.82
70124 2005-12-31 20:00:00  235           0       34.290001           -83.82
70125 2005-12-31 21:00:00  107           0       34.290001           -83.82
70126 2005-12-31 22:00:00   31           0       34.290001           -83.82
70127 2005-12-31 23:00:00    0           0       34.290001           -83.82

       distance_h_NSRDB
0                 2.202
1                 2.202
2                 2.202
3                 2.202
4                 2.202
...                 ...
70123             2.202
70124             2.202
70125             2.202
70126             2.202
70127             2.202

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235811   2024-11-30 17:00:00
235812   2024-11-30 18:00:00
235813   2024-11-30 19:00:00
235814   2024-11-30 20:00:00
235815   2024-11-30 21:00:00
Name: time, Length: 235816, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00     -83.83    34.272      386.4     -1.000000
1      1998-01-01 01:00:00     -83.83    34.272      386.4     -1.000000
2      1998-01-01 02:00:00     -83.83    34.272      386.4     -2.000000
3      1998-01-01 03:00:00     -83.83    34.272      386.4     -2.000000
4      1998-01-01 04:00:00     -83.83    34.272      386.4     -2.500000
...                    ...        ...       ...        ...           ...
235811 2024-11-30 17:00:00     -83.83    34.272      386.4      6.099998
235812 2024-11-30 18:00:00     -83.83    34.272      386.4      7.800003
235813 2024-11-30 19:00:00     -83.83    34.272      386.4      9.400002
235814 2024-11-30 20:00:00     -83.83    34.272      386.4      9.400002
235815 2024-11-30 21:00:00     -83.83    34.272      386.4      9.400002

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1029.500000        3.113869             -4.115936           1.983482
1       1030.199997        3.113876             -4.115936           1.982140
2       1031.300003        2.852280             -5.007843           1.813843
3       1031.900002        2.610893             -5.209221           1.659218
4       1032.299999        2.397049             -5.717758           1.522800
...             ...             ...                   ...                ...
235811  1026.199997        2.877625              0.346375           1.836327
235812  1025.099998        3.016884              1.472534           1.926781
235813  1023.800003        3.016876              2.397141           1.928680
235814  1023.099998        3.137482              2.491035           2.007248
235815  1023.000000        3.137482              2.491035           2.007446

        file_id  region  water
0          6772       6      1
1          6772       6      1
2          6772       6      1
3          6772       6      1
4          6772       6      1
...         ...     ...    ...
235811     6772       6      1
235812     6772       6      1
235813     6772       6      1
235814     6772       6      1
235815     6772       6      1

[235816 rows x 12 columns]
                   GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  148.958333    2.875000       34.290001           -83.82
1998-01-02  146.916667    5.000000       34.290001           -83.82
1998-01-03  142.625000    5.250000       34.290001           -83.82
1998-01-04  104.375000    2.458333       34.290001           -83.82
1998-01-05   32.375000    0.000000       34.290001           -83.82
...                ...         ...             ...              ...
2005-12-27  139.916667    0.833333       34.290001           -83.82
2005-12-28   32.166667    0.958333       34.290001           -83.82
2005-12-29  107.625000    0.625000       34.290001           -83.82
2005-12-30  142.041667    0.666667       34.290001           -83.82
2005-12-31   98.666667    0.375000       34.290001           -83.82

            distance_h_NSRDB
time
1998-01-01             2.202
1998-01-02             2.202
1998-01-03             2.202
1998-01-04             2.202
1998-01-05             2.202
...                      ...
2005-12-27             2.202
2005-12-28             2.202
2005-12-29             2.202
2005-12-30             2.202
2005-12-31             2.202

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01     -83.83    34.272      386.4     -1.270833  1034.525000
1998-01-02     -83.83    34.272      386.4      3.083333  1034.689584
1998-01-03     -83.83    34.272      386.4      7.687500  1031.320834
1998-01-04     -83.83    34.272      386.4     11.125000  1028.097917
1998-01-05     -83.83    34.272      386.4     13.375000  1024.493750
...               ...       ...        ...           ...          ...
2024-11-26     -83.83    34.272      386.4     16.395832  1017.487501
2024-11-27     -83.83    34.272      386.4     10.695834  1016.625000
2024-11-28     -83.83    34.272      386.4     13.679165  1010.247917
2024-11-29     -83.83    34.272      386.4      6.012501  1018.404167
2024-11-30     -83.83    34.272      386.4      2.968182  1024.168182

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        2.703959             -4.705210           1.713729   6772.0
1998-01-02        4.957254             -0.096956           3.143266   6772.0
1998-01-03        8.452018              5.455916           5.378213   6772.0
1998-01-04       10.792614              9.024493           6.890127   6772.0
1998-01-05       13.786529             12.139563           8.839577   6772.0
...                    ...                   ...                ...      ...
2024-11-26       13.513912             13.181763           8.719802   6772.0
2024-11-27        8.394594              7.151928           5.415378   6772.0
2024-11-28       11.859476             10.893546           7.710878   6772.0
2024-11-29        5.472381              2.369329           3.524600   6772.0
2024-11-30        3.005275             -1.640839           1.922940   6772.0

            region  water
time
1998-01-01     6.0    1.0
1998-01-02     6.0    1.0
1998-01-03     6.0    1.0
1998-01-04     6.0    1.0
1998-01-05     6.0    1.0
...            ...    ...
2024-11-26     6.0    1.0
2024-11-27     6.0    1.0
2024-11-28     6.0    1.0
2024-11-29     6.0    1.0
2024-11-30     6.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01     -83.83    34.272      386.4     -1.270833  1034.525000
1998-01-02     -83.83    34.272      386.4      3.083333  1034.689584
1998-01-03     -83.83    34.272      386.4      7.687500  1031.320834
1998-01-04     -83.83    34.272      386.4     11.125000  1028.097917
1998-01-05     -83.83    34.272      386.4     13.375000  1024.493750
...               ...       ...        ...           ...          ...
2024-11-26     -83.83    34.272      386.4     16.395832  1017.487501
2024-11-27     -83.83    34.272      386.4     10.695834  1016.625000
2024-11-28     -83.83    34.272      386.4     13.679165  1010.247917
2024-11-29     -83.83    34.272      386.4      6.012501  1018.404167
2024-11-30     -83.83    34.272      386.4      2.968182  1024.168182

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        2.703959             -4.705210           1.713729   6772.0
1998-01-02        4.957254             -0.096956           3.143266   6772.0
1998-01-03        8.452018              5.455916           5.378213   6772.0
1998-01-04       10.792614              9.024493           6.890127   6772.0
1998-01-05       13.786529             12.139563           8.839577   6772.0
...                    ...                   ...                ...      ...
2024-11-26       13.513912             13.181763           8.719802   6772.0
2024-11-27        8.394594              7.151928           5.415378   6772.0
2024-11-28       11.859476             10.893546           7.710878   6772.0
2024-11-29        5.472381              2.369329           3.524600   6772.0
2024-11-30        3.005275             -1.640839           1.922940   6772.0

            region  water         GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     6.0    1.0  148.958333    2.875000       34.290001
1998-01-02     6.0    1.0  146.916667    5.000000       34.290001
1998-01-03     6.0    1.0  142.625000    5.250000       34.290001
1998-01-04     6.0    1.0  104.375000    2.458333       34.290001
1998-01-05     6.0    1.0   32.375000    0.000000       34.290001
...            ...    ...         ...         ...             ...
2024-11-26     6.0    1.0         NaN         NaN             NaN
2024-11-27     6.0    1.0         NaN         NaN             NaN
2024-11-28     6.0    1.0         NaN         NaN             NaN
2024-11-29     6.0    1.0         NaN         NaN             NaN
2024-11-30     6.0    1.0         NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01           -83.82             2.202
1998-01-02           -83.82             2.202
1998-01-03           -83.82             2.202
1998-01-04           -83.82             2.202
1998-01-05           -83.82             2.202
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_722197-53819_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.333999999999996
33.374
-84.589
-84.549
17520
[965601]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.333999999999996
33.374
-84.589
-84.549
17520
[965601]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.333999999999996
33.374
-84.589
-84.549
17568
[965601]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.333999999999996
33.374
-84.589
-84.549
17520
[965601]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.333999999999996
33.374
-84.589
-84.549
17520
[965601]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.333999999999996
33.374
-84.589
-84.549
17520
[965601]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.333999999999996
33.374
-84.589
-84.549
17568
[965601]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.333999999999996
33.374
-84.589
-84.549
17520
[965601]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0        0
1        0
2        0
3        0
4        0
...    ...
70123  456
70124  423
70125  220
70126   86
70127    0

[70128 rows x 1 columns]
        0
0      15
1      12
2       9
3       8
4       7
...    ..
70123  18
70124  16
70125   9
70126   8
70127   8

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          15       33.369999       -84.580002
1     1998-01-01 01:00:00    0          12       33.369999       -84.580002
2     1998-01-01 02:00:00    0           9       33.369999       -84.580002
3     1998-01-01 03:00:00    0           8       33.369999       -84.580002
4     1998-01-01 04:00:00    0           7       33.369999       -84.580002
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00  456          18       33.369999       -84.580002
70124 2005-12-31 20:00:00  423          16       33.369999       -84.580002
70125 2005-12-31 21:00:00  220           9       33.369999       -84.580002
70126 2005-12-31 22:00:00   86           8       33.369999       -84.580002
70127 2005-12-31 23:00:00    0           8       33.369999       -84.580002

       distance_h_NSRDB
0                 2.052
1                 2.052
2                 2.052
3                 2.052
4                 2.052
...                 ...
70123             2.052
70124             2.052
70125             2.052
70126             2.052
70127             2.052

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235847   2024-11-30 17:00:00
235848   2024-11-30 18:00:00
235849   2024-11-30 19:00:00
235850   2024-11-30 20:00:00
235851   2024-11-30 21:00:00
Name: time, Length: 235852, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -84.569    33.354      241.2      2.000000
1      1998-01-01 01:00:00    -84.569    33.354      241.2      0.000000
2      1998-01-01 02:00:00    -84.569    33.354      241.2     -2.000000
3      1998-01-01 03:00:00    -84.569    33.354      241.2     -2.000000
4      1998-01-01 04:00:00    -84.569    33.354      241.2     -3.000000
...                    ...        ...       ...        ...           ...
235847 2024-11-30 17:00:00    -84.569    33.354      241.2      7.199997
235848 2024-11-30 18:00:00    -84.569    33.354      241.2      8.300003
235849 2024-11-30 19:00:00    -84.569    33.354      241.2      8.900002
235850 2024-11-30 20:00:00    -84.569    33.354      241.2      9.400002
235851 2024-11-30 21:00:00    -84.569    33.354      241.2      9.400002

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1031.000000        3.397507             -1.947937           2.119003
1       1031.800003        3.397514             -3.222153           2.117851
2       1032.900002        4.036018             -3.748039           2.514389
3       1033.500000        3.704247             -4.142754           2.306068
4       1033.799999        3.704250             -4.694454           2.305679
...             ...             ...                   ...                ...
235847  1027.900002        3.017105              1.115852           1.886040
235848  1026.599998        3.137711              1.857307           1.963768
235849  1025.599998        3.137703              2.205208           1.965553
235850  1025.000000        3.288101              2.607254           2.060974
235851  1024.800003        3.418312              2.707207           2.143120

        file_id  region  water
0          6783       6      1
1          6783       6      1
2          6783       6      1
3          6783       6      1
4          6783       6      1
...         ...     ...    ...
235847     6783       6      1
235848     6783       6      1
235849     6783       6      1
235850     6783       6      1
235851     6783       6      1

[235852 rows x 12 columns]
                   GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  154.333333    8.916667       33.369999       -84.580002
1998-01-02  150.000000    9.750000       33.369999       -84.580002
1998-01-03  142.125000   10.083333       33.369999       -84.580002
1998-01-04   95.541667   11.000000       33.369999       -84.580002
1998-01-05   49.375000   12.458333       33.369999       -84.580002
...                ...         ...             ...              ...
2005-12-27  144.375000    9.750000       33.369999       -84.580002
2005-12-28   22.916667   14.750000       33.369999       -84.580002
2005-12-29  122.333333   17.375000       33.369999       -84.580002
2005-12-30  136.083333   10.208333       33.369999       -84.580002
2005-12-31  122.750000   14.000000       33.369999       -84.580002

            distance_h_NSRDB
time
1998-01-01             2.052
1998-01-02             2.052
1998-01-03             2.052
1998-01-04             2.052
1998-01-05             2.052
...                      ...
2005-12-27             2.052
2005-12-28             2.052
2005-12-29             2.052
2005-12-30             2.052
2005-12-31             2.052

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -84.569    33.354      241.2     -1.000000  1035.375000
1998-01-02    -84.569    33.354      241.2      1.000000  1034.758334
1998-01-03    -84.569    33.354      241.2      5.958333  1030.762501
1998-01-04    -84.569    33.354      241.2     10.458333  1027.195833
1998-01-05    -84.569    33.354      241.2     14.562500  1023.204166
...               ...       ...        ...           ...          ...
2024-11-26    -84.569    33.354      241.2     15.279166  1018.847917
2024-11-27    -84.569    33.354      241.2      8.287500  1017.275000
2024-11-28    -84.569    33.354      241.2     15.458334  1011.266666
2024-11-29    -84.569    33.354      241.2      7.041667  1020.016666
2024-11-30    -84.569    33.354      241.2      2.495455  1025.895454

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        3.094336             -3.945802           1.922681   6783.0
1998-01-02        4.736347             -1.579012           2.946374   6783.0
1998-01-03        7.604315              3.813952           4.750989   6783.0
1998-01-04       10.469655              8.383410           6.567180   6783.0
1998-01-05       15.523003             13.671056           9.791070   6783.0
...                    ...                   ...                ...      ...
2024-11-26       14.924364             13.617084           9.448157   6783.0
2024-11-27        9.459599              6.769244           5.990868   6783.0
2024-11-28       14.296549             13.168802           9.123940   6783.0
2024-11-29        6.040525              3.394069           3.811577   6783.0
2024-11-30        3.636781             -1.361305           2.280115   6783.0

            region  water
time
1998-01-01     6.0    1.0
1998-01-02     6.0    1.0
1998-01-03     6.0    1.0
1998-01-04     6.0    1.0
1998-01-05     6.0    1.0
...            ...    ...
2024-11-26     6.0    1.0
2024-11-27     6.0    1.0
2024-11-28     6.0    1.0
2024-11-29     6.0    1.0
2024-11-30     6.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -84.569    33.354      241.2     -1.000000  1035.375000
1998-01-02    -84.569    33.354      241.2      1.000000  1034.758334
1998-01-03    -84.569    33.354      241.2      5.958333  1030.762501
1998-01-04    -84.569    33.354      241.2     10.458333  1027.195833
1998-01-05    -84.569    33.354      241.2     14.562500  1023.204166
...               ...       ...        ...           ...          ...
2024-11-26    -84.569    33.354      241.2     15.279166  1018.847917
2024-11-27    -84.569    33.354      241.2      8.287500  1017.275000
2024-11-28    -84.569    33.354      241.2     15.458334  1011.266666
2024-11-29    -84.569    33.354      241.2      7.041667  1020.016666
2024-11-30    -84.569    33.354      241.2      2.495455  1025.895454

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        3.094336             -3.945802           1.922681   6783.0
1998-01-02        4.736347             -1.579012           2.946374   6783.0
1998-01-03        7.604315              3.813952           4.750989   6783.0
1998-01-04       10.469655              8.383410           6.567180   6783.0
1998-01-05       15.523003             13.671056           9.791070   6783.0
...                    ...                   ...                ...      ...
2024-11-26       14.924364             13.617084           9.448157   6783.0
2024-11-27        9.459599              6.769244           5.990868   6783.0
2024-11-28       14.296549             13.168802           9.123940   6783.0
2024-11-29        6.040525              3.394069           3.811577   6783.0
2024-11-30        3.636781             -1.361305           2.280115   6783.0

            region  water         GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     6.0    1.0  154.333333    8.916667       33.369999
1998-01-02     6.0    1.0  150.000000    9.750000       33.369999
1998-01-03     6.0    1.0  142.125000   10.083333       33.369999
1998-01-04     6.0    1.0   95.541667   11.000000       33.369999
1998-01-05     6.0    1.0   49.375000   12.458333       33.369999
...            ...    ...         ...         ...             ...
2024-11-26     6.0    1.0         NaN         NaN             NaN
2024-11-27     6.0    1.0         NaN         NaN             NaN
2024-11-28     6.0    1.0         NaN         NaN             NaN
2024-11-29     6.0    1.0         NaN         NaN             NaN
2024-11-30     6.0    1.0         NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01       -84.580002             2.052
1998-01-02       -84.580002             2.052
1998-01-03       -84.580002             2.052
1998-01-04       -84.580002             2.052
1998-01-05       -84.580002             2.052
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_722589-03991_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.189
33.229000000000006
-97.219
-97.179
17520
[693105]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.189
33.229000000000006
-97.219
-97.179
17520
[693105]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.189
33.229000000000006
-97.219
-97.179
17568
[693105]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.189
33.229000000000006
-97.219
-97.179
17520
[693105]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.189
33.229000000000006
-97.219
-97.179
17520
[693105]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.189
33.229000000000006
-97.219
-97.179
17520
[693105]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.189
33.229000000000006
-97.219
-97.179
17568
[693105]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
33.189
33.229000000000006
-97.219
-97.179
17520
[693105]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0        0
1        0
2        0
3        0
4        0
...    ...
70123  516
70124  529
70125  407
70126  241
70127   62

[70128 rows x 1 columns]
        0
0      16
1      20
2      22
3      23
4      24
...    ..
70123  57
70124  56
70125  53
70126  39
70127  32

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          16       33.209999           -97.18
1     1998-01-01 01:00:00    0          20       33.209999           -97.18
2     1998-01-01 02:00:00    0          22       33.209999           -97.18
3     1998-01-01 03:00:00    0          23       33.209999           -97.18
4     1998-01-01 04:00:00    0          24       33.209999           -97.18
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00  516          57       33.209999           -97.18
70124 2005-12-31 20:00:00  529          56       33.209999           -97.18
70125 2005-12-31 21:00:00  407          53       33.209999           -97.18
70126 2005-12-31 22:00:00  241          39       33.209999           -97.18
70127 2005-12-31 23:00:00   62          32       33.209999           -97.18

       distance_h_NSRDB
0                 1.771
1                 1.771
2                 1.771
3                 1.771
4                 1.771
...                 ...
70123             1.771
70124             1.771
70125             1.771
70126             1.771
70127             1.771

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235779   2024-11-30 17:00:00
235780   2024-11-30 18:00:00
235781   2024-11-30 19:00:00
235782   2024-11-30 20:00:00
235783   2024-11-30 21:00:00
Name: time, Length: 235784, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -97.199    33.209      194.6           NaN
1      1998-01-01 01:00:00    -97.199    33.209      194.6           NaN
2      1998-01-01 02:00:00    -97.199    33.209      194.6           NaN
3      1998-01-01 03:00:00    -97.199    33.209      194.6           NaN
4      1998-01-01 04:00:00    -97.199    33.209      194.6           NaN
...                    ...        ...       ...        ...           ...
235779 2024-11-30 17:00:00    -97.199    33.209      194.6     10.599998
235780 2024-11-30 18:00:00    -97.199    33.209      194.6     11.699997
235781 2024-11-30 19:00:00    -97.199    33.209      194.6     13.900002
235782 2024-11-30 20:00:00    -97.199    33.209      194.6     13.900002
235783 2024-11-30 21:00:00    -97.199    33.209      194.6     15.000000

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0               NaN             NaN                   NaN                NaN
1               NaN             NaN                   NaN                NaN
2               NaN             NaN                   NaN                NaN
3               NaN             NaN                   NaN                NaN
4               NaN             NaN                   NaN                NaN
...             ...             ...                   ...                ...
235779  1025.900002        5.875191              5.220177           3.660477
235780  1025.000000        5.875175              5.825325           3.663338
235781  1023.699997        6.137497              7.189705           3.831421
235782  1022.500000        6.137474              7.189705           3.835915
235783  1022.000000        6.137466              7.760292           3.837433

        file_id  region  water
0          6950       4      1
1          6950       4      1
2          6950       4      1
3          6950       4      1
4          6950       4      1
...         ...     ...    ...
235779     6950       4      1
235780     6950       4      1
235781     6950       4      1
235782     6950       4      1
235783     6950       4      1

[235784 rows x 12 columns]
                   GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01   70.958333   39.875000       33.209999           -97.18
1998-01-02   39.250000   55.583333       33.209999           -97.18
1998-01-03   35.000000   54.416667       33.209999           -97.18
1998-01-04   47.958333   40.708333       33.209999           -97.18
1998-01-05   73.916667   20.791667       33.209999           -97.18
...                ...         ...             ...              ...
2005-12-27  126.666667   50.875000       33.209999           -97.18
2005-12-28  101.291667   34.250000       33.209999           -97.18
2005-12-29  140.958333   20.166667       33.209999           -97.18
2005-12-30  152.500000   41.458333       33.209999           -97.18
2005-12-31  147.541667   27.833333       33.209999           -97.18

            distance_h_NSRDB
time
1998-01-01             1.771
1998-01-02             1.771
1998-01-03             1.771
1998-01-04             1.771
1998-01-05             1.771
...                      ...
2005-12-27             1.771
2005-12-28             1.771
2005-12-29             1.771
2005-12-30             1.771
2005-12-31             1.771

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -97.199    33.209      194.6           NaN          NaN
1998-01-02    -97.199    33.209      194.6           NaN          NaN
1998-01-03    -97.199    33.209      194.6           NaN          NaN
1998-01-04    -97.199    33.209      194.6           NaN          NaN
1998-01-05    -97.199    33.209      194.6           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26    -97.199    33.209      194.6      6.533333  1025.266666
2024-11-27    -97.199    33.209      194.6     15.491666  1009.120834
2024-11-28    -97.199    33.209      194.6      8.916667  1020.200000
2024-11-29    -97.199    33.209      194.6      4.487500  1028.345833
2024-11-30    -97.199    33.209      194.6      3.754546  1025.681818

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   6950.0
1998-01-02             NaN                   NaN                NaN   6950.0
1998-01-03             NaN                   NaN                NaN   6950.0
1998-01-04             NaN                   NaN                NaN   6950.0
1998-01-05             NaN                   NaN                NaN   6950.0
...                    ...                   ...                ...      ...
2024-11-26        6.518487              3.423660           4.066996   6950.0
2024-11-27       10.591407             10.879220           6.723441   6950.0
2024-11-28        6.774655              4.920922           4.250948   6950.0
2024-11-29        4.823576              0.856511           2.998921   6950.0
2024-11-30        5.322250              0.860884           3.318253   6950.0

            region  water
time
1998-01-01     4.0    1.0
1998-01-02     4.0    1.0
1998-01-03     4.0    1.0
1998-01-04     4.0    1.0
1998-01-05     4.0    1.0
...            ...    ...
2024-11-26     4.0    1.0
2024-11-27     4.0    1.0
2024-11-28     4.0    1.0
2024-11-29     4.0    1.0
2024-11-30     4.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -97.199    33.209      194.6           NaN          NaN
1998-01-02    -97.199    33.209      194.6           NaN          NaN
1998-01-03    -97.199    33.209      194.6           NaN          NaN
1998-01-04    -97.199    33.209      194.6           NaN          NaN
1998-01-05    -97.199    33.209      194.6           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26    -97.199    33.209      194.6      6.533333  1025.266666
2024-11-27    -97.199    33.209      194.6     15.491666  1009.120834
2024-11-28    -97.199    33.209      194.6      8.916667  1020.200000
2024-11-29    -97.199    33.209      194.6      4.487500  1028.345833
2024-11-30    -97.199    33.209      194.6      3.754546  1025.681818

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   6950.0
1998-01-02             NaN                   NaN                NaN   6950.0
1998-01-03             NaN                   NaN                NaN   6950.0
1998-01-04             NaN                   NaN                NaN   6950.0
1998-01-05             NaN                   NaN                NaN   6950.0
...                    ...                   ...                ...      ...
2024-11-26        6.518487              3.423660           4.066996   6950.0
2024-11-27       10.591407             10.879220           6.723441   6950.0
2024-11-28        6.774655              4.920922           4.250948   6950.0
2024-11-29        4.823576              0.856511           2.998921   6950.0
2024-11-30        5.322250              0.860884           3.318253   6950.0

            region  water        GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     4.0    1.0  70.958333   39.875000       33.209999
1998-01-02     4.0    1.0  39.250000   55.583333       33.209999
1998-01-03     4.0    1.0  35.000000   54.416667       33.209999
1998-01-04     4.0    1.0  47.958333   40.708333       33.209999
1998-01-05     4.0    1.0  73.916667   20.791667       33.209999
...            ...    ...        ...         ...             ...
2024-11-26     4.0    1.0        NaN         NaN             NaN
2024-11-27     4.0    1.0        NaN         NaN             NaN
2024-11-28     4.0    1.0        NaN         NaN             NaN
2024-11-29     4.0    1.0        NaN         NaN             NaN
2024-11-30     4.0    1.0        NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01           -97.18             1.771
1998-01-02           -97.18             1.771
1998-01-03           -97.18             1.771
1998-01-04           -97.18             1.771
1998-01-05           -97.18             1.771
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_722618-23091_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.892
30.932
-102.937
-102.897
17520
[538743]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.892
30.932
-102.937
-102.897
17520
[538743]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.892
30.932
-102.937
-102.897
17568
[538743]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.892
30.932
-102.937
-102.897
17520
[538743]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.892
30.932
-102.937
-102.897
17520
[538743]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.892
30.932
-102.937
-102.897
17520
[538743]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.892
30.932
-102.937
-102.897
17568
[538743]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
30.892
30.932
-102.937
-102.897
17520
[538743]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0        0
1        0
2        0
3        0
4        0
...    ...
70123  656
70124  615
70125  508
70126  349
70127  156

[70128 rows x 1 columns]
        0
0      25
1      33
2      39
3      43
4      47
...    ..
70123  56
70124  57
70125  56
70126  39
70127  21

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          25           30.93      -102.900002
1     1998-01-01 01:00:00    0          33           30.93      -102.900002
2     1998-01-01 02:00:00    0          39           30.93      -102.900002
3     1998-01-01 03:00:00    0          43           30.93      -102.900002
4     1998-01-01 04:00:00    0          47           30.93      -102.900002
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00  656          56           30.93      -102.900002
70124 2005-12-31 20:00:00  615          57           30.93      -102.900002
70125 2005-12-31 21:00:00  508          56           30.93      -102.900002
70126 2005-12-31 22:00:00  349          39           30.93      -102.900002
70127 2005-12-31 23:00:00  156          21           30.93      -102.900002

       distance_h_NSRDB
0                 2.576
1                 2.576
2                 2.576
3                 2.576
4                 2.576
...                 ...
70123             2.576
70124             2.576
70125             2.576
70126             2.576
70127             2.576

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235411   2024-11-30 17:00:00
235412   2024-11-30 18:00:00
235413   2024-11-30 19:00:00
235414   2024-11-30 20:00:00
235415   2024-11-30 21:00:00
Name: time, Length: 235416, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00   -102.917    30.912      917.7           NaN
1      1998-01-01 01:00:00   -102.917    30.912      917.7           NaN
2      1998-01-01 02:00:00   -102.917    30.912      917.7           NaN
3      1998-01-01 03:00:00   -102.917    30.912      917.7           NaN
4      1998-01-01 04:00:00   -102.917    30.912      917.7           NaN
...                    ...        ...       ...        ...           ...
235411 2024-11-30 17:00:00   -102.917    30.912      917.7     13.900002
235412 2024-11-30 18:00:00   -102.917    30.912      917.7     15.599998
235413 2024-11-30 19:00:00   -102.917    30.912      917.7     17.199997
235414 2024-11-30 20:00:00   -102.917    30.912      917.7     18.300003
235415 2024-11-30 21:00:00   -102.917    30.912      917.7     18.900002

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0               NaN             NaN                   NaN                NaN
1               NaN             NaN                   NaN                NaN
2               NaN             NaN                   NaN                NaN
3               NaN             NaN                   NaN                NaN
4               NaN             NaN                   NaN                NaN
...             ...             ...                   ...                ...
235411  1021.199997        5.418243              6.677284           3.713310
235412  1020.900002        5.221939              7.408836           3.577118
235413  1020.000000        5.418243              8.345413           3.712845
235414  1019.300003        5.418236              8.872368           3.713806
235415  1018.800003        5.418236              9.153702           3.714767

        file_id  region  water
0          6963       4      0
1          6963       4      0
2          6963       4      0
3          6963       4      0
4          6963       4      0
...         ...     ...    ...
235411     6963       4      0
235412     6963       4      0
235413     6963       4      0
235414     6963       4      0
235415     6963       4      0

[235416 rows x 12 columns]
                   GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  162.666667   36.541667           30.93      -102.900002
1998-01-02  165.291667   23.125000           30.93      -102.900002
1998-01-03  160.041667   30.000000           30.93      -102.900002
1998-01-04  136.708333   19.041667           30.93      -102.900002
1998-01-05  140.583333   16.875000           30.93      -102.900002
...                ...         ...             ...              ...
2005-12-27  145.500000   51.875000           30.93      -102.900002
2005-12-28  163.791667   32.708333           30.93      -102.900002
2005-12-29  136.208333   25.041667           30.93      -102.900002
2005-12-30  168.833333   26.500000           30.93      -102.900002
2005-12-31  168.708333   32.875000           30.93      -102.900002

            distance_h_NSRDB
time
1998-01-01             2.576
1998-01-02             2.576
1998-01-03             2.576
1998-01-04             2.576
1998-01-05             2.576
...                      ...
2005-12-27             2.576
2005-12-28             2.576
2005-12-29             2.576
2005-12-30             2.576
2005-12-31             2.576

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01   -102.917    30.912      917.7           NaN          NaN
1998-01-02   -102.917    30.912      917.7           NaN          NaN
1998-01-03   -102.917    30.912      917.7           NaN          NaN
1998-01-04   -102.917    30.912      917.7           NaN          NaN
1998-01-05   -102.917    30.912      917.7           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26   -102.917    30.912      917.7     11.687499  1021.420833
2024-11-27   -102.917    30.912      917.7     21.104167  1010.308333
2024-11-28   -102.917    30.912      917.7     12.404167  1016.895832
2024-11-29   -102.917    30.912      917.7      6.112499  1023.920834
2024-11-30   -102.917    30.912      917.7      9.827273  1020.386364

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   6963.0
1998-01-02             NaN                   NaN                NaN   6963.0
1998-01-03             NaN                   NaN                NaN   6963.0
1998-01-04             NaN                   NaN                NaN   6963.0
1998-01-05             NaN                   NaN                NaN   6963.0
...                    ...                   ...                ...      ...
2024-11-26        6.663839              6.245227           4.572681   6963.0
2024-11-27        6.056887             10.473529           4.185047   6963.0
2024-11-28        6.989756              6.912141           4.816515   6963.0
2024-11-29        4.221047              1.276780           2.893919   6963.0
2024-11-30        4.120939              3.370415           2.829418   6963.0

            region  water
time
1998-01-01     4.0    0.0
1998-01-02     4.0    0.0
1998-01-03     4.0    0.0
1998-01-04     4.0    0.0
1998-01-05     4.0    0.0
...            ...    ...
2024-11-26     4.0    0.0
2024-11-27     4.0    0.0
2024-11-28     4.0    0.0
2024-11-29     4.0    0.0
2024-11-30     4.0    0.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01   -102.917    30.912      917.7           NaN          NaN
1998-01-02   -102.917    30.912      917.7           NaN          NaN
1998-01-03   -102.917    30.912      917.7           NaN          NaN
1998-01-04   -102.917    30.912      917.7           NaN          NaN
1998-01-05   -102.917    30.912      917.7           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26   -102.917    30.912      917.7     11.687499  1021.420833
2024-11-27   -102.917    30.912      917.7     21.104167  1010.308333
2024-11-28   -102.917    30.912      917.7     12.404167  1016.895832
2024-11-29   -102.917    30.912      917.7      6.112499  1023.920834
2024-11-30   -102.917    30.912      917.7      9.827273  1020.386364

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   6963.0
1998-01-02             NaN                   NaN                NaN   6963.0
1998-01-03             NaN                   NaN                NaN   6963.0
1998-01-04             NaN                   NaN                NaN   6963.0
1998-01-05             NaN                   NaN                NaN   6963.0
...                    ...                   ...                ...      ...
2024-11-26        6.663839              6.245227           4.572681   6963.0
2024-11-27        6.056887             10.473529           4.185047   6963.0
2024-11-28        6.989756              6.912141           4.816515   6963.0
2024-11-29        4.221047              1.276780           2.893919   6963.0
2024-11-30        4.120939              3.370415           2.829418   6963.0

            region  water         GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     4.0    0.0  162.666667   36.541667           30.93
1998-01-02     4.0    0.0  165.291667   23.125000           30.93
1998-01-03     4.0    0.0  160.041667   30.000000           30.93
1998-01-04     4.0    0.0  136.708333   19.041667           30.93
1998-01-05     4.0    0.0  140.583333   16.875000           30.93
...            ...    ...         ...         ...             ...
2024-11-26     4.0    0.0         NaN         NaN             NaN
2024-11-27     4.0    0.0         NaN         NaN             NaN
2024-11-28     4.0    0.0         NaN         NaN             NaN
2024-11-29     4.0    0.0         NaN         NaN             NaN
2024-11-30     4.0    0.0         NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01      -102.900002             2.576
1998-01-02      -102.900002             2.576
1998-01-03      -102.900002             2.576
1998-01-04      -102.900002             2.576
1998-01-05      -102.900002             2.576
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_723350-13877_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.459999999999994
36.5
-82.419
-82.379
17520
[1012079]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.459999999999994
36.5
-82.419
-82.379
17520
[1012079]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.459999999999994
36.5
-82.419
-82.379
17568
[1012079]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.459999999999994
36.5
-82.419
-82.379
17520
[1012079]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.459999999999994
36.5
-82.419
-82.379
17520
[1012079]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.459999999999994
36.5
-82.419
-82.379
17520
[1012079]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.459999999999994
36.5
-82.419
-82.379
17568
[1012079]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.459999999999994
36.5
-82.419
-82.379
17520
[1012079]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0        0
1        0
2        0
3        0
4        0
...    ...
70123  397
70124  264
70125  105
70126   21
70127    0

[70128 rows x 1 columns]
        0
0      15
1      15
2      16
3      15
4      15
...    ..
70123  25
70124  22
70125  13
70126   8
70127   8

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          15       36.490002       -82.379997
1     1998-01-01 01:00:00    0          15       36.490002       -82.379997
2     1998-01-01 02:00:00    0          16       36.490002       -82.379997
3     1998-01-01 03:00:00    0          15       36.490002       -82.379997
4     1998-01-01 04:00:00    0          15       36.490002       -82.379997
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00  397          25       36.490002       -82.379997
70124 2005-12-31 20:00:00  264          22       36.490002       -82.379997
70125 2005-12-31 21:00:00  105          13       36.490002       -82.379997
70126 2005-12-31 22:00:00   21           8       36.490002       -82.379997
70127 2005-12-31 23:00:00    0           8       36.490002       -82.379997

       distance_h_NSRDB
0                 2.031
1                 2.031
2                 2.031
3                 2.031
4                 2.031
...                 ...
70123             2.031
70124             2.031
70125             2.031
70126             2.031
70127             2.031

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235927   2024-11-30 17:00:00
235928   2024-11-30 18:00:00
235929   2024-11-30 19:00:00
235930   2024-11-30 20:00:00
235931   2024-11-30 21:00:00
Name: time, Length: 235932, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -82.399     36.48      455.9     -4.400002
1      1998-01-01 01:00:00    -82.399     36.48      455.9     -5.000000
2      1998-01-01 02:00:00    -82.399     36.48      455.9     -5.000000
3      1998-01-01 03:00:00    -82.399     36.48      455.9     -4.400002
4      1998-01-01 04:00:00    -82.399     36.48      455.9     -5.000000
...                    ...        ...       ...        ...           ...
235927 2024-11-30 17:00:00    -82.399     36.48      455.9      1.699997
235928 2024-11-30 18:00:00    -82.399     36.48      455.9      1.699997
235929 2024-11-30 19:00:00    -82.399     36.48      455.9      1.699997
235930 2024-11-30 20:00:00    -82.399     36.48      455.9      2.199997
235931 2024-11-30 21:00:00    -82.399     36.48      455.9      2.199997

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1029.099998        2.753242             -6.704437           1.771881
1       1030.000000        2.753250             -7.096466           1.770576
2       1031.199997        2.753265             -7.096466           1.768524
3       1032.000000        2.877396             -6.564491           1.846657
4       1033.000000        3.033089             -6.743538           1.945076
...             ...             ...                   ...                ...
235927  1025.500000        2.242836             -2.934929           1.446213
235928  1024.699997        2.242828             -2.934929           1.447334
235929  1024.099998        2.144020             -2.992798           1.384331
235930  1023.500000        2.366875             -2.532166           1.529083
235931  1023.400002        2.475006             -2.464592           1.599167

        file_id  region  water
0          7139       6      1
1          7139       6      1
2          7139       6      1
3          7139       6      1
4          7139       6      1
...         ...     ...    ...
235927     7139       6      1
235928     7139       6      1
235929     7139       6      1
235930     7139       6      1
235931     7139       6      1

[235932 rows x 12 columns]
                   GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  138.791667   12.250000       36.490002       -82.379997
1998-01-02  138.833333   10.125000       36.490002       -82.379997
1998-01-03  135.208333   10.250000       36.490002       -82.379997
1998-01-04  124.041667    7.916667       36.490002       -82.379997
1998-01-05   97.916667   12.875000       36.490002       -82.379997
...                ...         ...             ...              ...
2005-12-27  123.791667    8.791667       36.490002       -82.379997
2005-12-28   73.833333   15.333333       36.490002       -82.379997
2005-12-29   24.166667   15.666667       36.490002       -82.379997
2005-12-30   77.583333    6.208333       36.490002       -82.379997
2005-12-31  100.625000   14.708333       36.490002       -82.379997

            distance_h_NSRDB
time
1998-01-01             2.031
1998-01-02             2.031
1998-01-03             2.031
1998-01-04             2.031
1998-01-05             2.031
...                      ...
2005-12-27             2.031
2005-12-28             2.031
2005-12-29             2.031
2005-12-30             2.031
2005-12-31             2.031

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -82.399     36.48      455.9     -5.837500  1034.025000
1998-01-02    -82.399     36.48      455.9     -2.379167  1033.754167
1998-01-03    -82.399     36.48      455.9      1.854167  1030.587500
1998-01-04    -82.399     36.48      455.9      4.866667  1028.800000
1998-01-05    -82.399     36.48      455.9      7.641666  1024.895833
...               ...       ...        ...           ...          ...
2024-11-26    -82.399     36.48      455.9     13.066667  1016.487500
2024-11-27    -82.399     36.48      455.9      5.245833  1016.162500
2024-11-28    -82.399     36.48      455.9      8.837501  1007.841666
2024-11-29    -82.399     36.48      455.9      3.137502  1018.245833
2024-11-30    -82.399     36.48      455.9     -1.563637  1023.554545

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        2.313653             -8.128164           1.482320   7139.0
1998-01-02        3.275455             -4.887754           2.097913   7139.0
1998-01-03        4.439800             -1.159588           2.851132   7139.0
1998-01-04        6.703692              2.579548           4.313615   7139.0
1998-01-05        8.859091              5.848489           5.725146   7139.0
...                    ...                   ...                ...      ...
2024-11-26       10.882183             10.034296           7.091458   7139.0
2024-11-27        6.566640              2.775091           4.278706   7139.0
2024-11-28        9.018316              6.737225           5.928235   7139.0
2024-11-29        5.401273              0.591171           3.511962   7139.0
2024-11-30        2.695744             -4.795264           1.743702   7139.0

            region  water
time
1998-01-01     6.0    1.0
1998-01-02     6.0    1.0
1998-01-03     6.0    1.0
1998-01-04     6.0    1.0
1998-01-05     6.0    1.0
...            ...    ...
2024-11-26     6.0    1.0
2024-11-27     6.0    1.0
2024-11-28     6.0    1.0
2024-11-29     6.0    1.0
2024-11-30     6.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -82.399     36.48      455.9     -5.837500  1034.025000
1998-01-02    -82.399     36.48      455.9     -2.379167  1033.754167
1998-01-03    -82.399     36.48      455.9      1.854167  1030.587500
1998-01-04    -82.399     36.48      455.9      4.866667  1028.800000
1998-01-05    -82.399     36.48      455.9      7.641666  1024.895833
...               ...       ...        ...           ...          ...
2024-11-26    -82.399     36.48      455.9     13.066667  1016.487500
2024-11-27    -82.399     36.48      455.9      5.245833  1016.162500
2024-11-28    -82.399     36.48      455.9      8.837501  1007.841666
2024-11-29    -82.399     36.48      455.9      3.137502  1018.245833
2024-11-30    -82.399     36.48      455.9     -1.563637  1023.554545

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        2.313653             -8.128164           1.482320   7139.0
1998-01-02        3.275455             -4.887754           2.097913   7139.0
1998-01-03        4.439800             -1.159588           2.851132   7139.0
1998-01-04        6.703692              2.579548           4.313615   7139.0
1998-01-05        8.859091              5.848489           5.725146   7139.0
...                    ...                   ...                ...      ...
2024-11-26       10.882183             10.034296           7.091458   7139.0
2024-11-27        6.566640              2.775091           4.278706   7139.0
2024-11-28        9.018316              6.737225           5.928235   7139.0
2024-11-29        5.401273              0.591171           3.511962   7139.0
2024-11-30        2.695744             -4.795264           1.743702   7139.0

            region  water         GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     6.0    1.0  138.791667   12.250000       36.490002
1998-01-02     6.0    1.0  138.833333   10.125000       36.490002
1998-01-03     6.0    1.0  135.208333   10.250000       36.490002
1998-01-04     6.0    1.0  124.041667    7.916667       36.490002
1998-01-05     6.0    1.0   97.916667   12.875000       36.490002
...            ...    ...         ...         ...             ...
2024-11-26     6.0    1.0         NaN         NaN             NaN
2024-11-27     6.0    1.0         NaN         NaN             NaN
2024-11-28     6.0    1.0         NaN         NaN             NaN
2024-11-29     6.0    1.0         NaN         NaN             NaN
2024-11-30     6.0    1.0         NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01       -82.379997             2.031
1998-01-02       -82.379997             2.031
1998-01-03       -82.379997             2.031
1998-01-04       -82.379997             2.031
1998-01-05       -82.379997             2.031
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_723898-53119_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.291
36.331
-119.643
-119.60300000000001
17520
[106731]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.291
36.331
-119.643
-119.60300000000001
17520
[106731]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.291
36.331
-119.643
-119.60300000000001
17568
[106731]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.291
36.331
-119.643
-119.60300000000001
17520
[106731]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.291
36.331
-119.643
-119.60300000000001
17520
[106731]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.291
36.331
-119.643
-119.60300000000001
17520
[106731]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.291
36.331
-119.643
-119.60300000000001
17568
[106731]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
36.291
36.331
-119.643
-119.60300000000001
17520
[106731]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0      112
1        0
2        0
3        0
4        0
...    ...
70123   19
70124   40
70125   21
70126  405
70127  268

[70128 rows x 1 columns]
        0
0       7
1       8
2       9
3      11
4      13
...    ..
70123  41
70124  38
70125  38
70126  32
70127  20

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00  112           7       36.330002      -119.620003
1     1998-01-01 01:00:00    0           8       36.330002      -119.620003
2     1998-01-01 02:00:00    0           9       36.330002      -119.620003
3     1998-01-01 03:00:00    0          11       36.330002      -119.620003
4     1998-01-01 04:00:00    0          13       36.330002      -119.620003
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00   19          41       36.330002      -119.620003
70124 2005-12-31 20:00:00   40          38       36.330002      -119.620003
70125 2005-12-31 21:00:00   21          38       36.330002      -119.620003
70126 2005-12-31 22:00:00  405          32       36.330002      -119.620003
70127 2005-12-31 23:00:00  268          20       36.330002      -119.620003

       distance_h_NSRDB
0                  2.13
1                  2.13
2                  2.13
3                  2.13
4                  2.13
...                 ...
70123              2.13
70124              2.13
70125              2.13
70126              2.13
70127              2.13

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235724   2024-11-30 17:00:00
235725   2024-11-30 18:00:00
235726   2024-11-30 19:00:00
235727   2024-11-30 20:00:00
235728   2024-11-30 21:00:00
Name: time, Length: 235729, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00   -119.623    36.311       76.0           NaN
1      1998-01-01 01:00:00   -119.623    36.311       76.0           NaN
2      1998-01-01 02:00:00   -119.623    36.311       76.0           NaN
3      1998-01-01 03:00:00   -119.623    36.311       76.0           NaN
4      1998-01-01 04:00:00   -119.623    36.311       76.0           NaN
...                    ...        ...       ...        ...           ...
235724 2024-11-30 17:00:00   -119.623    36.311       76.0     10.000000
235725 2024-11-30 18:00:00   -119.623    36.311       76.0     10.000000
235726 2024-11-30 19:00:00   -119.623    36.311       76.0     10.599998
235727 2024-11-30 20:00:00   -119.623    36.311       76.0     10.599998
235728 2024-11-30 21:00:00   -119.623    36.311       76.0     11.699997

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0               NaN             NaN                   NaN                NaN
1               NaN             NaN                   NaN                NaN
2               NaN             NaN                   NaN                NaN
3               NaN             NaN                   NaN                NaN
4               NaN             NaN                   NaN                NaN
...             ...             ...                   ...                ...
235724  1022.600002        9.855343              7.566372           6.076149
235725  1022.900002        9.855354              7.922020           6.074188
235726  1022.700001        9.855350              8.054596           6.075314
235727  1022.500000        9.855347              8.187172           6.076439
235728  1021.500000        9.855309              8.687050           6.082153

        file_id  region  water
0          7239       2      0
1          7239       2      0
2          7239       2      0
3          7239       2      0
4          7239       2      0
...         ...     ...    ...
235724     7239       2      0
235725     7239       2      0
235726     7239       2      0
235727     7239       2      0
235728     7239       2      0

[235729 rows x 12 columns]
                  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  97.875000   13.041667       36.330002      -119.620003
1998-01-02  12.666667   18.041667       36.330002      -119.620003
1998-01-03  84.583333   12.208333       36.330002      -119.620003
1998-01-04  48.083333   21.083333       36.330002      -119.620003
1998-01-05  93.500000   11.875000       36.330002      -119.620003
...               ...         ...             ...              ...
2005-12-27  81.458333    7.916667       36.330002      -119.620003
2005-12-28  38.166667   15.833333       36.330002      -119.620003
2005-12-29  60.125000   13.000000       36.330002      -119.620003
2005-12-30  69.291667    7.375000       36.330002      -119.620003
2005-12-31  37.958333   30.750000       36.330002      -119.620003

            distance_h_NSRDB
time
1998-01-01              2.13
1998-01-02              2.13
1998-01-03              2.13
1998-01-04              2.13
1998-01-05              2.13
...                      ...
2005-12-27              2.13
2005-12-28              2.13
2005-12-29              2.13
2005-12-30              2.13
2005-12-31              2.13

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01   -119.623    36.311       76.0           NaN          NaN
1998-01-02   -119.623    36.311       76.0           NaN          NaN
1998-01-03   -119.623    36.311       76.0           NaN          NaN
1998-01-04   -119.623    36.311       76.0           NaN          NaN
1998-01-05   -119.623    36.311       76.0           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26   -119.623    36.311       76.0     13.987501  1019.910417
2024-11-27   -119.623    36.311       76.0     12.250000  1021.170833
2024-11-28   -119.623    36.311       76.0      9.554166  1021.431250
2024-11-29   -119.623    36.311       76.0      9.600000  1021.881251
2024-11-30   -119.623    36.311       76.0      8.977273  1021.990910

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   7239.0
1998-01-02             NaN                   NaN                NaN   7239.0
1998-01-03             NaN                   NaN                NaN   7239.0
1998-01-04             NaN                   NaN                NaN   7239.0
1998-01-05             NaN                   NaN                NaN   7239.0
...                    ...                   ...                ...      ...
2024-11-26       13.787659             12.431400           8.534400   7239.0
2024-11-27       12.065705             10.520104           7.455056   7239.0
2024-11-28       10.128769              7.913841           6.253005   7239.0
2024-11-29       10.033799              7.894673           6.191256   7239.0
2024-11-30        9.516801              7.173150           5.870271   7239.0

            region  water
time
1998-01-01     2.0    0.0
1998-01-02     2.0    0.0
1998-01-03     2.0    0.0
1998-01-04     2.0    0.0
1998-01-05     2.0    0.0
...            ...    ...
2024-11-26     2.0    0.0
2024-11-27     2.0    0.0
2024-11-28     2.0    0.0
2024-11-29     2.0    0.0
2024-11-30     2.0    0.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01   -119.623    36.311       76.0           NaN          NaN
1998-01-02   -119.623    36.311       76.0           NaN          NaN
1998-01-03   -119.623    36.311       76.0           NaN          NaN
1998-01-04   -119.623    36.311       76.0           NaN          NaN
1998-01-05   -119.623    36.311       76.0           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26   -119.623    36.311       76.0     13.987501  1019.910417
2024-11-27   -119.623    36.311       76.0     12.250000  1021.170833
2024-11-28   -119.623    36.311       76.0      9.554166  1021.431250
2024-11-29   -119.623    36.311       76.0      9.600000  1021.881251
2024-11-30   -119.623    36.311       76.0      8.977273  1021.990910

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   7239.0
1998-01-02             NaN                   NaN                NaN   7239.0
1998-01-03             NaN                   NaN                NaN   7239.0
1998-01-04             NaN                   NaN                NaN   7239.0
1998-01-05             NaN                   NaN                NaN   7239.0
...                    ...                   ...                ...      ...
2024-11-26       13.787659             12.431400           8.534400   7239.0
2024-11-27       12.065705             10.520104           7.455056   7239.0
2024-11-28       10.128769              7.913841           6.253005   7239.0
2024-11-29       10.033799              7.894673           6.191256   7239.0
2024-11-30        9.516801              7.173150           5.870271   7239.0

            region  water        GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     2.0    0.0  97.875000   13.041667       36.330002
1998-01-02     2.0    0.0  12.666667   18.041667       36.330002
1998-01-03     2.0    0.0  84.583333   12.208333       36.330002
1998-01-04     2.0    0.0  48.083333   21.083333       36.330002
1998-01-05     2.0    0.0  93.500000   11.875000       36.330002
...            ...    ...        ...         ...             ...
2024-11-26     2.0    0.0        NaN         NaN             NaN
2024-11-27     2.0    0.0        NaN         NaN             NaN
2024-11-28     2.0    0.0        NaN         NaN             NaN
2024-11-29     2.0    0.0        NaN         NaN             NaN
2024-11-30     2.0    0.0        NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01      -119.620003              2.13
1998-01-02      -119.620003              2.13
1998-01-03      -119.620003              2.13
1998-01-04      -119.620003              2.13
1998-01-05      -119.620003              2.13
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_724080-13739_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.852999999999994
39.893
-75.247
-75.20700000000001
17520
[1205821]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.852999999999994
39.893
-75.247
-75.20700000000001
17520
[1205821]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.852999999999994
39.893
-75.247
-75.20700000000001
17568
[1205821]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.852999999999994
39.893
-75.247
-75.20700000000001
17520
[1205821]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.852999999999994
39.893
-75.247
-75.20700000000001
17520
[1205821]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.852999999999994
39.893
-75.247
-75.20700000000001
17520
[1205821]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.852999999999994
39.893
-75.247
-75.20700000000001
17568
[1205821]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.852999999999994
39.893
-75.247
-75.20700000000001
17520
[1205821]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
        0
0       0
1       0
2       0
3       0
4       0
...    ..
70123   6
70124   3
70125  64
70126   0
70127   0

[70128 rows x 1 columns]
        0
0      27
1      27
2      30
3      34
4      34
...    ..
70123   8
70124   3
70125   5
70126  11
70127  23

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          27       39.889999       -75.220001
1     1998-01-01 01:00:00    0          27       39.889999       -75.220001
2     1998-01-01 02:00:00    0          30       39.889999       -75.220001
3     1998-01-01 03:00:00    0          34       39.889999       -75.220001
4     1998-01-01 04:00:00    0          34       39.889999       -75.220001
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00    6           8       39.889999       -75.220001
70124 2005-12-31 20:00:00    3           3       39.889999       -75.220001
70125 2005-12-31 21:00:00   64           5       39.889999       -75.220001
70126 2005-12-31 22:00:00    0          11       39.889999       -75.220001
70127 2005-12-31 23:00:00    0          23       39.889999       -75.220001

       distance_h_NSRDB
0                 1.982
1                 1.982
2                 1.982
3                 1.982
4                 1.982
...                 ...
70123             1.982
70124             1.982
70125             1.982
70126             1.982
70127             1.982

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235935   2024-11-30 17:00:00
235936   2024-11-30 18:00:00
235937   2024-11-30 19:00:00
235938   2024-11-30 20:00:00
235939   2024-11-30 21:00:00
Name: time, Length: 235940, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -75.227    39.873        2.2     -2.199997
1      1998-01-01 01:00:00    -75.227    39.873        2.2     -2.800003
2      1998-01-01 02:00:00    -75.227    39.873        2.2     -3.900002
3      1998-01-01 03:00:00    -75.227    39.873        2.2     -5.000000
4      1998-01-01 04:00:00    -75.227    39.873        2.2     -5.599998
...                    ...        ...       ...        ...           ...
235935 2024-11-30 17:00:00    -75.227    39.873        2.2      2.800003
235936 2024-11-30 18:00:00    -75.227    39.873        2.2      2.800003
235937 2024-11-30 19:00:00    -75.227    39.873        2.2      3.300003
235938 2024-11-30 20:00:00    -75.227    39.873        2.2      3.300003
235939 2024-11-30 21:00:00    -75.227    39.873        2.2      2.800003

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1021.099998        1.499969             -5.967140           0.914482
1       1022.599998        1.418335             -6.419922           0.863419
2       1024.099998        1.353439             -7.240196           0.822685
3       1025.400002        1.418350             -8.064316           0.861069
4       1026.800003        1.279167             -8.539543           0.775475
...             ...             ...                   ...                ...
235935  1018.300003        2.611313             -1.989159           1.597061
235936  1017.800003        2.475563             -2.076332           1.514702
235937  1017.199997        2.475555             -1.757172           1.515594
235938  1017.400002        2.367401             -1.825607           1.449036
235939  1018.000000        2.367409             -2.144257           1.448189

        file_id  region  water
0          7280       6      1
1          7280       6      1
2          7280       6      1
3          7280       6      1
4          7280       6      1
...         ...     ...    ...
235935     7280       6      1
235936     7280       6      1
235937     7280       6      1
235938     7280       6      1
235939     7280       6      1

[235940 rows x 12 columns]
                  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  89.666667   28.416667       39.889999       -75.220001
1998-01-02  93.041667   23.875000       39.889999       -75.220001
1998-01-03  97.000000   20.291667       39.889999       -75.220001
1998-01-04  87.000000   13.708333       39.889999       -75.220001
1998-01-05  84.083333   13.666667       39.889999       -75.220001
...               ...         ...             ...              ...
2005-12-27  97.416667   30.750000       39.889999       -75.220001
2005-12-28  73.916667   14.791667       39.889999       -75.220001
2005-12-29  20.625000   13.125000       39.889999       -75.220001
2005-12-30  90.250000   29.958333       39.889999       -75.220001
2005-12-31  24.666667   12.166667       39.889999       -75.220001

            distance_h_NSRDB
time
1998-01-01             1.982
1998-01-02             1.982
1998-01-03             1.982
1998-01-04             1.982
1998-01-05             1.982
...                      ...
2005-12-27             1.982
2005-12-28             1.982
2005-12-29             1.982
2005-12-30             1.982
2005-12-31             1.982

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -75.227    39.873        2.2     -4.708332  1030.479167
1998-01-02    -75.227    39.873        2.2      3.541667  1026.541667
1998-01-03    -75.227    39.873        2.2      7.066667  1026.404167
1998-01-04    -75.227    39.873        2.2     10.783333  1026.379167
1998-01-05    -75.227    39.873        2.2      8.150000  1028.416666
...               ...       ...        ...           ...          ...
2024-11-26    -75.227    39.873        2.2     12.279165  1012.587500
2024-11-27    -75.227    39.873        2.2      8.129166  1017.437500
2024-11-28    -75.227    39.873        2.2      8.554167  1007.235417
2024-11-29    -75.227    39.873        2.2      5.895834  1012.591667
2024-11-30    -75.227    39.873        2.2      0.859092  1017.277272

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        1.633952             -7.785796           0.986841   7280.0
1998-01-02        3.598739             -0.867584           2.184249   7280.0
1998-01-03        4.790432              2.310073           2.909307   7280.0
1998-01-04        7.488767              6.429112           4.551720   7280.0
1998-01-05        8.435108              5.905648           5.119773   7280.0
...                    ...                   ...                ...      ...
2024-11-26        9.565996              8.803954           5.901892   7280.0
2024-11-27        5.342353              3.416147           3.273529   7280.0
2024-11-28        8.620188              6.236852           5.350727   7280.0
2024-11-29        5.644897              2.412203           3.476475   7280.0
2024-11-30        2.697944             -3.211848           1.651878   7280.0

            region  water
time
1998-01-01     6.0    1.0
1998-01-02     6.0    1.0
1998-01-03     6.0    1.0
1998-01-04     6.0    1.0
1998-01-05     6.0    1.0
...            ...    ...
2024-11-26     6.0    1.0
2024-11-27     6.0    1.0
2024-11-28     6.0    1.0
2024-11-29     6.0    1.0
2024-11-30     6.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -75.227    39.873        2.2     -4.708332  1030.479167
1998-01-02    -75.227    39.873        2.2      3.541667  1026.541667
1998-01-03    -75.227    39.873        2.2      7.066667  1026.404167
1998-01-04    -75.227    39.873        2.2     10.783333  1026.379167
1998-01-05    -75.227    39.873        2.2      8.150000  1028.416666
...               ...       ...        ...           ...          ...
2024-11-26    -75.227    39.873        2.2     12.279165  1012.587500
2024-11-27    -75.227    39.873        2.2      8.129166  1017.437500
2024-11-28    -75.227    39.873        2.2      8.554167  1007.235417
2024-11-29    -75.227    39.873        2.2      5.895834  1012.591667
2024-11-30    -75.227    39.873        2.2      0.859092  1017.277272

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        1.633952             -7.785796           0.986841   7280.0
1998-01-02        3.598739             -0.867584           2.184249   7280.0
1998-01-03        4.790432              2.310073           2.909307   7280.0
1998-01-04        7.488767              6.429112           4.551720   7280.0
1998-01-05        8.435108              5.905648           5.119773   7280.0
...                    ...                   ...                ...      ...
2024-11-26        9.565996              8.803954           5.901892   7280.0
2024-11-27        5.342353              3.416147           3.273529   7280.0
2024-11-28        8.620188              6.236852           5.350727   7280.0
2024-11-29        5.644897              2.412203           3.476475   7280.0
2024-11-30        2.697944             -3.211848           1.651878   7280.0

            region  water        GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     6.0    1.0  89.666667   28.416667       39.889999
1998-01-02     6.0    1.0  93.041667   23.875000       39.889999
1998-01-03     6.0    1.0  97.000000   20.291667       39.889999
1998-01-04     6.0    1.0  87.000000   13.708333       39.889999
1998-01-05     6.0    1.0  84.083333   13.666667       39.889999
...            ...    ...        ...         ...             ...
2024-11-26     6.0    1.0        NaN         NaN             NaN
2024-11-27     6.0    1.0        NaN         NaN             NaN
2024-11-28     6.0    1.0        NaN         NaN             NaN
2024-11-29     6.0    1.0        NaN         NaN             NaN
2024-11-30     6.0    1.0        NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01       -75.220001             1.982
1998-01-02       -75.220001             1.982
1998-01-03       -75.220001             1.982
1998-01-04       -75.220001             1.982
1998-01-05       -75.220001             1.982
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_724210-93814_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.023999999999994
39.064
-84.692
-84.652
17520
[964467]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.023999999999994
39.064
-84.692
-84.652
17520
[964467]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.023999999999994
39.064
-84.692
-84.652
17568
[964467]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.023999999999994
39.064
-84.692
-84.652
17520
[964467]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.023999999999994
39.064
-84.692
-84.652
17520
[964467]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.023999999999994
39.064
-84.692
-84.652
17520
[964467]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.023999999999994
39.064
-84.692
-84.652
17568
[964467]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.023999999999994
39.064
-84.692
-84.652
17520
[964467]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0        0
1        0
2        0
3        0
4        0
...    ...
70123   86
70124   27
70125  183
70126   37
70127    0

[70128 rows x 1 columns]
        0
0       5
1       5
2       5
3       4
4       4
...    ..
70123  15
70124  13
70125   8
70126   5
70127   5

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0           5       39.049999       -84.660004
1     1998-01-01 01:00:00    0           5       39.049999       -84.660004
2     1998-01-01 02:00:00    0           5       39.049999       -84.660004
3     1998-01-01 03:00:00    0           4       39.049999       -84.660004
4     1998-01-01 04:00:00    0           4       39.049999       -84.660004
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00   86          15       39.049999       -84.660004
70124 2005-12-31 20:00:00   27          13       39.049999       -84.660004
70125 2005-12-31 21:00:00  183           8       39.049999       -84.660004
70126 2005-12-31 22:00:00   37           5       39.049999       -84.660004
70127 2005-12-31 23:00:00    0           5       39.049999       -84.660004

       distance_h_NSRDB
0                 1.232
1                 1.232
2                 1.232
3                 1.232
4                 1.232
...                 ...
70123             1.232
70124             1.232
70125             1.232
70126             1.232
70127             1.232

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235930   2024-11-30 17:00:00
235931   2024-11-30 18:00:00
235932   2024-11-30 19:00:00
235933   2024-11-30 20:00:00
235934   2024-11-30 21:00:00
Name: time, Length: 235935, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -84.672    39.044      262.4     -6.699997
1      1998-01-01 01:00:00    -84.672    39.044      262.4     -8.300003
2      1998-01-01 02:00:00    -84.672    39.044      262.4     -9.400002
3      1998-01-01 03:00:00    -84.672    39.044      262.4     -8.300003
4      1998-01-01 04:00:00    -84.672    39.044      262.4    -10.000000
...                    ...        ...       ...        ...           ...
235930 2024-11-30 17:00:00    -84.672    39.044      262.4     -2.199997
235931 2024-11-30 18:00:00    -84.672    39.044      262.4     -0.599998
235932 2024-11-30 19:00:00    -84.672    39.044      262.4      0.000000
235933 2024-11-30 20:00:00    -84.672    39.044      262.4      1.099998
235934 2024-11-30 21:00:00    -84.672    39.044      262.4      0.599998

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1030.300003        2.753548             -8.159706           1.724892
1       1031.000000        2.367180             -9.735931           1.481956
2       1031.800003        2.243118            -10.628876           1.403343
3       1032.199997        2.475334             -9.561401           1.547928
4       1032.300003        2.367188            -10.745354           1.480438
...             ...             ...                   ...                ...
235930  1024.599998        2.144241             -5.677452           1.349571
235931  1023.699997        2.144241             -4.549522           1.350479
235932  1023.000000        2.030914             -4.197815           1.279831
235933  1022.400002        2.144226             -3.390572           1.351898
235934  1022.400002        2.144226             -3.726692           1.351982

        file_id  region  water
0          7311       6      1
1          7311       6      1
2          7311       6      1
3          7311       6      1
4          7311       6      1
...         ...     ...    ...
235930     7311       6      1
235931     7311       6      1
235932     7311       6      1
235933     7311       6      1
235934     7311       6      1

[235935 rows x 12 columns]
                   GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  101.708333    9.500000       39.049999       -84.660004
1998-01-02   43.583333   11.375000       39.049999       -84.660004
1998-01-03   42.083333   10.875000       39.049999       -84.660004
1998-01-04   91.166667    7.625000       39.049999       -84.660004
1998-01-05   43.333333    7.916667       39.049999       -84.660004
...                ...         ...             ...              ...
2005-12-27  106.833333    6.333333       39.049999       -84.660004
2005-12-28   42.666667    8.041667       39.049999       -84.660004
2005-12-29   10.791667    9.083333       39.049999       -84.660004
2005-12-30   28.458333    4.583333       39.049999       -84.660004
2005-12-31   32.958333    8.125000       39.049999       -84.660004

            distance_h_NSRDB
time
1998-01-01             1.232
1998-01-02             1.232
1998-01-03             1.232
1998-01-04             1.232
1998-01-05             1.232
...                      ...
2005-12-27             1.232
2005-12-28             1.232
2005-12-29             1.232
2005-12-30             1.232
2005-12-31             1.232

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -84.672    39.044      262.4     -6.054167  1030.095834
1998-01-02    -84.672    39.044      262.4      5.412501  1025.683334
1998-01-03    -84.672    39.044      262.4     11.200000  1023.300000
1998-01-04    -84.672    39.044      262.4     13.220833  1023.900000
1998-01-05    -84.672    39.044      262.4     12.541667  1020.704166
...               ...       ...        ...           ...          ...
2024-11-26    -84.672    39.044      262.4      7.216667  1018.641666
2024-11-27    -84.672    39.044      262.4      5.179168  1016.262500
2024-11-28    -84.672    39.044      262.4      4.395833  1010.300000
2024-11-29    -84.672    39.044      262.4     -0.029166  1019.875000
2024-11-30    -84.672    39.044      262.4     -4.727273  1023.895455

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        2.837660             -7.839295           1.778860   7311.0
1998-01-02        4.896362              1.427984           3.078989   7311.0
1998-01-03        7.626772              6.741743           4.811151   7311.0
1998-01-04       11.133410             10.273197           7.022912   7311.0
1998-01-05       11.465710             10.214089           7.258032   7311.0
...                    ...                   ...                ...      ...
2024-11-26        8.274106              5.066502           5.255380   7311.0
2024-11-27        6.281075              2.499111           3.990422   7311.0
2024-11-28        7.456318              3.302645           4.767592   7311.0
2024-11-29        4.108736             -2.522451           2.600204   7311.0
2024-11-30        2.315054             -7.343462           1.458754   7311.0

            region  water
time
1998-01-01     6.0    1.0
1998-01-02     6.0    1.0
1998-01-03     6.0    1.0
1998-01-04     6.0    1.0
1998-01-05     6.0    1.0
...            ...    ...
2024-11-26     6.0    1.0
2024-11-27     6.0    1.0
2024-11-28     6.0    1.0
2024-11-29     6.0    1.0
2024-11-30     6.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -84.672    39.044      262.4     -6.054167  1030.095834
1998-01-02    -84.672    39.044      262.4      5.412501  1025.683334
1998-01-03    -84.672    39.044      262.4     11.200000  1023.300000
1998-01-04    -84.672    39.044      262.4     13.220833  1023.900000
1998-01-05    -84.672    39.044      262.4     12.541667  1020.704166
...               ...       ...        ...           ...          ...
2024-11-26    -84.672    39.044      262.4      7.216667  1018.641666
2024-11-27    -84.672    39.044      262.4      5.179168  1016.262500
2024-11-28    -84.672    39.044      262.4      4.395833  1010.300000
2024-11-29    -84.672    39.044      262.4     -0.029166  1019.875000
2024-11-30    -84.672    39.044      262.4     -4.727273  1023.895455

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        2.837660             -7.839295           1.778860   7311.0
1998-01-02        4.896362              1.427984           3.078989   7311.0
1998-01-03        7.626772              6.741743           4.811151   7311.0
1998-01-04       11.133410             10.273197           7.022912   7311.0
1998-01-05       11.465710             10.214089           7.258032   7311.0
...                    ...                   ...                ...      ...
2024-11-26        8.274106              5.066502           5.255380   7311.0
2024-11-27        6.281075              2.499111           3.990422   7311.0
2024-11-28        7.456318              3.302645           4.767592   7311.0
2024-11-29        4.108736             -2.522451           2.600204   7311.0
2024-11-30        2.315054             -7.343462           1.458754   7311.0

            region  water         GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     6.0    1.0  101.708333    9.500000       39.049999
1998-01-02     6.0    1.0   43.583333   11.375000       39.049999
1998-01-03     6.0    1.0   42.083333   10.875000       39.049999
1998-01-04     6.0    1.0   91.166667    7.625000       39.049999
1998-01-05     6.0    1.0   43.333333    7.916667       39.049999
...            ...    ...         ...         ...             ...
2024-11-26     6.0    1.0         NaN         NaN             NaN
2024-11-27     6.0    1.0         NaN         NaN             NaN
2024-11-28     6.0    1.0         NaN         NaN             NaN
2024-11-29     6.0    1.0         NaN         NaN             NaN
2024-11-30     6.0    1.0         NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01       -84.660004             1.232
1998-01-02       -84.660004             1.232
1998-01-03       -84.660004             1.232
1998-01-04       -84.660004             1.232
1998-01-05       -84.660004             1.232
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_724250-03860_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.345
38.385000000000005
-82.575
-82.53500000000001
17520
[1009038]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.345
38.385000000000005
-82.575
-82.53500000000001
17520
[1009038]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.345
38.385000000000005
-82.575
-82.53500000000001
17568
[1009038]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.345
38.385000000000005
-82.575
-82.53500000000001
17520
[1009038]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.345
38.385000000000005
-82.575
-82.53500000000001
17520
[1009038]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.345
38.385000000000005
-82.575
-82.53500000000001
17520
[1009038]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.345
38.385000000000005
-82.575
-82.53500000000001
17568
[1009038]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.345
38.385000000000005
-82.575
-82.53500000000001
17520
[1009038]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
        0
0       0
1       0
2       0
3       0
4       0
...    ..
70123  87
70124  88
70125  51
70126   8
70127   0

[70128 rows x 1 columns]
       0
0      3
1      3
2      3
3      3
4      3
...   ..
70123  5
70124  5
70125  4
70126  3
70127  2

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0           3       38.369999       -82.540001
1     1998-01-01 01:00:00    0           3       38.369999       -82.540001
2     1998-01-01 02:00:00    0           3       38.369999       -82.540001
3     1998-01-01 03:00:00    0           3       38.369999       -82.540001
4     1998-01-01 04:00:00    0           3       38.369999       -82.540001
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00   87           5       38.369999       -82.540001
70124 2005-12-31 20:00:00   88           5       38.369999       -82.540001
70125 2005-12-31 21:00:00   51           4       38.369999       -82.540001
70126 2005-12-31 22:00:00    8           3       38.369999       -82.540001
70127 2005-12-31 23:00:00    0           2       38.369999       -82.540001

       distance_h_NSRDB
0                 1.421
1                 1.421
2                 1.421
3                 1.421
4                 1.421
...                 ...
70123             1.421
70124             1.421
70125             1.421
70126             1.421
70127             1.421

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235770   2024-11-30 17:00:00
235771   2024-11-30 18:00:00
235772   2024-11-30 19:00:00
235773   2024-11-30 20:00:00
235774   2024-11-30 21:00:00
Name: time, Length: 235775, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -82.555    38.365      251.3     -5.599998
1      1998-01-01 01:00:00    -82.555    38.365      251.3     -5.599998
2      1998-01-01 02:00:00    -82.555    38.365      251.3     -5.599998
3      1998-01-01 03:00:00    -82.555    38.365      251.3     -5.599998
4      1998-01-01 04:00:00    -82.555    38.365      251.3     -4.400002
...                    ...        ...       ...        ...           ...
235770 2024-11-30 17:00:00    -82.555    38.365      251.3      0.000000
235771 2024-11-30 18:00:00    -82.555    38.365      251.3      0.599998
235772 2024-11-30 19:00:00    -82.555    38.365      251.3      1.699997
235773 2024-11-30 20:00:00    -82.555    38.365      251.3      2.800003
235774 2024-11-30 21:00:00    -82.555    38.365      251.3      1.699997

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1029.300003        3.033386             -7.097969           1.899094
1       1030.199997        3.486946             -6.385376           2.181519
2       1031.000000        3.486961             -6.385376           2.179832
3       1032.000000        3.486977             -6.385376           2.177727
4       1032.500000        3.486984             -5.770866           2.176338
...             ...             ...                   ...                ...
235770  1025.000000        2.243080             -4.077950           1.408798
235771  1024.199997        2.030937             -3.789436           1.276360
235772  1023.500000        1.940720             -3.106705           1.220291
235773  1022.800003        2.030930             -2.346878           1.277763
235774  1023.000000        1.837303             -3.161842           1.155785

        file_id  region  water
0          7321       6      1
1          7321       6      1
2          7321       6      1
3          7321       6      1
4          7321       6      1
...         ...     ...    ...
235770     7321       6      1
235771     7321       6      1
235772     7321       6      1
235773     7321       6      1
235774     7321       6      1

[235775 rows x 12 columns]
                   GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  118.416667    3.750000       38.369999       -82.540001
1998-01-02  116.583333    4.000000       38.369999       -82.540001
1998-01-03   61.291667    3.375000       38.369999       -82.540001
1998-01-04   92.000000    2.791667       38.369999       -82.540001
1998-01-05   75.791667    2.625000       38.369999       -82.540001
...                ...         ...             ...              ...
2005-12-27  101.125000    2.166667       38.369999       -82.540001
2005-12-28   75.166667    2.500000       38.369999       -82.540001
2005-12-29   15.458333    3.416667       38.369999       -82.540001
2005-12-30   32.375000    1.875000       38.369999       -82.540001
2005-12-31   32.041667    3.291667       38.369999       -82.540001

            distance_h_NSRDB
time
1998-01-01             1.421
1998-01-02             1.421
1998-01-03             1.421
1998-01-04             1.421
1998-01-05             1.421
...                      ...
2005-12-27             1.421
2005-12-28             1.421
2005-12-29             1.421
2005-12-30             1.421
2005-12-31             1.421

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -82.555    38.365      251.3     -3.995834  1031.900000
1998-01-02    -82.555    38.365      251.3      7.345833  1028.012500
1998-01-03    -82.555    38.365      251.3     11.270834  1026.083333
1998-01-04    -82.555    38.365      251.3     13.779166  1025.916667
1998-01-05    -82.555    38.365      251.3     12.054168  1022.950000
...               ...       ...        ...           ...          ...
2024-11-26    -82.555    38.365      251.3     12.204166  1016.954166
2024-11-27    -82.555    38.365      251.3      5.975000  1017.120833
2024-11-28    -82.555    38.365      251.3      6.816667  1008.725001
2024-11-29    -82.555    38.365      251.3      2.483333  1019.120834
2024-11-30    -82.555    38.365      251.3     -1.404546  1023.559091

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        2.856869             -6.254874           1.783816   7321.0
1998-01-02        2.902495              0.991811           1.816393   7321.0
1998-01-03        5.281252              5.035502           3.314820   7321.0
1998-01-04        9.570101              9.438302           6.012533   7321.0
1998-01-05        9.910558              8.827552           6.247597   7321.0
...                    ...                   ...                ...      ...
2024-11-26        9.668845              8.634378           6.140684   7321.0
2024-11-27        6.132360              2.825930           3.885968   7321.0
2024-11-28        7.722629              4.667036           4.938257   7321.0
2024-11-29        4.905377             -0.307656           3.102483   7321.0
2024-11-30        2.500955             -4.893889           1.573804   7321.0

            region  water
time
1998-01-01     6.0    1.0
1998-01-02     6.0    1.0
1998-01-03     6.0    1.0
1998-01-04     6.0    1.0
1998-01-05     6.0    1.0
...            ...    ...
2024-11-26     6.0    1.0
2024-11-27     6.0    1.0
2024-11-28     6.0    1.0
2024-11-29     6.0    1.0
2024-11-30     6.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -82.555    38.365      251.3     -3.995834  1031.900000
1998-01-02    -82.555    38.365      251.3      7.345833  1028.012500
1998-01-03    -82.555    38.365      251.3     11.270834  1026.083333
1998-01-04    -82.555    38.365      251.3     13.779166  1025.916667
1998-01-05    -82.555    38.365      251.3     12.054168  1022.950000
...               ...       ...        ...           ...          ...
2024-11-26    -82.555    38.365      251.3     12.204166  1016.954166
2024-11-27    -82.555    38.365      251.3      5.975000  1017.120833
2024-11-28    -82.555    38.365      251.3      6.816667  1008.725001
2024-11-29    -82.555    38.365      251.3      2.483333  1019.120834
2024-11-30    -82.555    38.365      251.3     -1.404546  1023.559091

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        2.856869             -6.254874           1.783816   7321.0
1998-01-02        2.902495              0.991811           1.816393   7321.0
1998-01-03        5.281252              5.035502           3.314820   7321.0
1998-01-04        9.570101              9.438302           6.012533   7321.0
1998-01-05        9.910558              8.827552           6.247597   7321.0
...                    ...                   ...                ...      ...
2024-11-26        9.668845              8.634378           6.140684   7321.0
2024-11-27        6.132360              2.825930           3.885968   7321.0
2024-11-28        7.722629              4.667036           4.938257   7321.0
2024-11-29        4.905377             -0.307656           3.102483   7321.0
2024-11-30        2.500955             -4.893889           1.573804   7321.0

            region  water         GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     6.0    1.0  118.416667    3.750000       38.369999
1998-01-02     6.0    1.0  116.583333    4.000000       38.369999
1998-01-03     6.0    1.0   61.291667    3.375000       38.369999
1998-01-04     6.0    1.0   92.000000    2.791667       38.369999
1998-01-05     6.0    1.0   75.791667    2.625000       38.369999
...            ...    ...         ...         ...             ...
2024-11-26     6.0    1.0         NaN         NaN             NaN
2024-11-27     6.0    1.0         NaN         NaN             NaN
2024-11-28     6.0    1.0         NaN         NaN             NaN
2024-11-29     6.0    1.0         NaN         NaN             NaN
2024-11-30     6.0    1.0         NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01       -82.540001             1.421
1998-01-02       -82.540001             1.421
1998-01-03       -82.540001             1.421
1998-01-04       -82.540001             1.421
1998-01-05       -82.540001             1.421
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_724287-04848_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.543
41.583000000000006
-83.497
-83.45700000000001
17520
[989599]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.543
41.583000000000006
-83.497
-83.45700000000001
17520
[989599]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.543
41.583000000000006
-83.497
-83.45700000000001
17568
[989599]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.543
41.583000000000006
-83.497
-83.45700000000001
17520
[989599]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.543
41.583000000000006
-83.497
-83.45700000000001
17520
[989599]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.543
41.583000000000006
-83.497
-83.45700000000001
17520
[989599]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.543
41.583000000000006
-83.497
-83.45700000000001
17568
[989599]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.543
41.583000000000006
-83.497
-83.45700000000001
17520
[989599]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
        0
0       0
1       0
2       0
3       0
4       0
...    ..
70123  42
70124  89
70125  34
70126   3
70127   0

[70128 rows x 1 columns]
        0
0      14
1      21
2      28
3      32
4      35
...    ..
70123  56
70124  49
70125  43
70126  34
70127  39

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          14           41.57       -83.459999
1     1998-01-01 01:00:00    0          21           41.57       -83.459999
2     1998-01-01 02:00:00    0          28           41.57       -83.459999
3     1998-01-01 03:00:00    0          32           41.57       -83.459999
4     1998-01-01 04:00:00    0          35           41.57       -83.459999
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00   42          56           41.57       -83.459999
70124 2005-12-31 20:00:00   89          49           41.57       -83.459999
70125 2005-12-31 21:00:00   34          43           41.57       -83.459999
70126 2005-12-31 22:00:00    3          34           41.57       -83.459999
70127 2005-12-31 23:00:00    0          39           41.57       -83.459999

       distance_h_NSRDB
0                 1.614
1                 1.614
2                 1.614
3                 1.614
4                 1.614
...                 ...
70123             1.614
70124             1.614
70125             1.614
70126             1.614
70127             1.614

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235287   2024-11-30 17:00:00
235288   2024-11-30 18:00:00
235289   2024-11-30 19:00:00
235290   2024-11-30 20:00:00
235291   2024-11-30 21:00:00
Name: time, Length: 235292, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -83.477    41.563      189.0           NaN
1      1998-01-01 01:00:00    -83.477    41.563      189.0           NaN
2      1998-01-01 02:00:00    -83.477    41.563      189.0           NaN
3      1998-01-01 03:00:00    -83.477    41.563      189.0           NaN
4      1998-01-01 04:00:00    -83.477    41.563      189.0           NaN
...                    ...        ...       ...        ...           ...
235287 2024-11-30 17:00:00    -83.477    41.563      189.0     -2.800003
235288 2024-11-30 18:00:00    -83.477    41.563      189.0     -1.699997
235289 2024-11-30 19:00:00    -83.477    41.563      189.0     -0.599998
235290 2024-11-30 20:00:00    -83.477    41.563      189.0     -1.699997
235291 2024-11-30 21:00:00    -83.477    41.563      189.0     -1.699997

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0               NaN             NaN                   NaN                NaN
1               NaN             NaN                   NaN                NaN
2               NaN             NaN                   NaN                NaN
3               NaN             NaN                   NaN                NaN
4               NaN             NaN                   NaN                NaN
...             ...             ...                   ...                ...
235287  1020.599998        2.475327             -5.871628           1.549004
235288  1019.699997        2.475319             -5.104012           1.550209
235289  1019.400002        2.475319             -4.343094           1.550507
235290  1019.099998        2.367172             -5.179802           1.483284
235291  1019.199997        2.243103             -5.261215           1.405342

        file_id  region  water
0          7329       5      1
1          7329       5      1
2          7329       5      1
3          7329       5      1
4          7329       5      1
...         ...     ...    ...
235287     7329       5      1
235288     7329       5      1
235289     7329       5      1
235290     7329       5      1
235291     7329       5      1

[235292 rows x 12 columns]
                   GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  104.875000   62.333333           41.57       -83.459999
1998-01-02   95.375000   74.541667           41.57       -83.459999
1998-01-03   31.750000   79.125000           41.57       -83.459999
1998-01-04   21.916667   21.125000           41.57       -83.459999
1998-01-05   41.625000   42.083333           41.57       -83.459999
...                ...         ...             ...              ...
2005-12-27   44.375000   25.916667           41.57       -83.459999
2005-12-28   29.541667   22.541667           41.57       -83.459999
2005-12-29   32.583333   36.041667           41.57       -83.459999
2005-12-30   28.250000   17.375000           41.57       -83.459999
2005-12-31   21.666667   40.500000           41.57       -83.459999

            distance_h_NSRDB
time
1998-01-01             1.614
1998-01-02             1.614
1998-01-03             1.614
1998-01-04             1.614
1998-01-05             1.614
...                      ...
2005-12-27             1.614
2005-12-28             1.614
2005-12-29             1.614
2005-12-30             1.614
2005-12-31             1.614

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -83.477    41.563      189.0           NaN          NaN
1998-01-02    -83.477    41.563      189.0           NaN          NaN
1998-01-03    -83.477    41.563      189.0           NaN          NaN
1998-01-04    -83.477    41.563      189.0           NaN          NaN
1998-01-05    -83.477    41.563      189.0           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26    -83.477    41.563      189.0      7.820833  1015.347916
2024-11-27    -83.477    41.563      189.0      3.854166  1017.145833
2024-11-28    -83.477    41.563      189.0      4.216668  1010.122224
2024-11-29    -83.477    41.563      189.0      0.362501  1016.287501
2024-11-30    -83.477    41.563      189.0     -3.263637  1020.118181

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   7329.0
1998-01-02             NaN                   NaN                NaN   7329.0
1998-01-03             NaN                   NaN                NaN   7329.0
1998-01-04             NaN                   NaN                NaN   7329.0
1998-01-05             NaN                   NaN                NaN   7329.0
...                    ...                   ...                ...      ...
2024-11-26        7.304492              4.614327           4.606145   7329.0
2024-11-27        4.983848              0.565662           3.130951   7329.0
2024-11-28        6.203284              1.996131           3.926577   7329.0
2024-11-29        3.966478             -2.456570           2.493954   7329.0
2024-11-30        2.541707             -6.133393           1.591417   7329.0

            region  water
time
1998-01-01     5.0    1.0
1998-01-02     5.0    1.0
1998-01-03     5.0    1.0
1998-01-04     5.0    1.0
1998-01-05     5.0    1.0
...            ...    ...
2024-11-26     5.0    1.0
2024-11-27     5.0    1.0
2024-11-28     5.0    1.0
2024-11-29     5.0    1.0
2024-11-30     5.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -83.477    41.563      189.0           NaN          NaN
1998-01-02    -83.477    41.563      189.0           NaN          NaN
1998-01-03    -83.477    41.563      189.0           NaN          NaN
1998-01-04    -83.477    41.563      189.0           NaN          NaN
1998-01-05    -83.477    41.563      189.0           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26    -83.477    41.563      189.0      7.820833  1015.347916
2024-11-27    -83.477    41.563      189.0      3.854166  1017.145833
2024-11-28    -83.477    41.563      189.0      4.216668  1010.122224
2024-11-29    -83.477    41.563      189.0      0.362501  1016.287501
2024-11-30    -83.477    41.563      189.0     -3.263637  1020.118181

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   7329.0
1998-01-02             NaN                   NaN                NaN   7329.0
1998-01-03             NaN                   NaN                NaN   7329.0
1998-01-04             NaN                   NaN                NaN   7329.0
1998-01-05             NaN                   NaN                NaN   7329.0
...                    ...                   ...                ...      ...
2024-11-26        7.304492              4.614327           4.606145   7329.0
2024-11-27        4.983848              0.565662           3.130951   7329.0
2024-11-28        6.203284              1.996131           3.926577   7329.0
2024-11-29        3.966478             -2.456570           2.493954   7329.0
2024-11-30        2.541707             -6.133393           1.591417   7329.0

            region  water         GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     5.0    1.0  104.875000   62.333333           41.57
1998-01-02     5.0    1.0   95.375000   74.541667           41.57
1998-01-03     5.0    1.0   31.750000   79.125000           41.57
1998-01-04     5.0    1.0   21.916667   21.125000           41.57
1998-01-05     5.0    1.0   41.625000   42.083333           41.57
...            ...    ...         ...         ...             ...
2024-11-26     5.0    1.0         NaN         NaN             NaN
2024-11-27     5.0    1.0         NaN         NaN             NaN
2024-11-28     5.0    1.0         NaN         NaN             NaN
2024-11-29     5.0    1.0         NaN         NaN             NaN
2024-11-30     5.0    1.0         NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01       -83.459999             1.614
1998-01-02       -83.459999             1.614
1998-01-03       -83.459999             1.614
1998-01-04       -83.459999             1.614
1998-01-05       -83.459999             1.614
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_724390-93822_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.824999999999996
39.865
-89.704
-89.664
17520
[856750]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.824999999999996
39.865
-89.704
-89.664
17520
[856750]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.824999999999996
39.865
-89.704
-89.664
17568
[856750]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.824999999999996
39.865
-89.704
-89.664
17520
[856750]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.824999999999996
39.865
-89.704
-89.664
17520
[856750]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.824999999999996
39.865
-89.704
-89.664
17520
[856750]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.824999999999996
39.865
-89.704
-89.664
17568
[856750]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
39.824999999999996
39.865
-89.704
-89.664
17520
[856750]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0        0
1        0
2        0
3        0
4        0
...    ...
70123  314
70124  269
70125  101
70126   35
70127    0

[70128 rows x 1 columns]
        0
0      14
1      20
2      25
3      30
4      35
...    ..
70123  40
70124  33
70125  19
70126  11
70127   9

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          14       39.849998       -89.699997
1     1998-01-01 01:00:00    0          20       39.849998       -89.699997
2     1998-01-01 02:00:00    0          25       39.849998       -89.699997
3     1998-01-01 03:00:00    0          30       39.849998       -89.699997
4     1998-01-01 04:00:00    0          35       39.849998       -89.699997
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00  314          40       39.849998       -89.699997
70124 2005-12-31 20:00:00  269          33       39.849998       -89.699997
70125 2005-12-31 21:00:00  101          19       39.849998       -89.699997
70126 2005-12-31 22:00:00   35          11       39.849998       -89.699997
70127 2005-12-31 23:00:00    0           9       39.849998       -89.699997

       distance_h_NSRDB
0                 1.474
1                 1.474
2                 1.474
3                 1.474
4                 1.474
...                 ...
70123             1.474
70124             1.474
70125             1.474
70126             1.474
70127             1.474

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235860   2024-11-30 17:00:00
235861   2024-11-30 18:00:00
235862   2024-11-30 19:00:00
235863   2024-11-30 20:00:00
235864   2024-11-30 21:00:00
Name: time, Length: 235865, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -89.684    39.845      179.7    -10.599998
1      1998-01-01 01:00:00    -89.684    39.845      179.7    -11.099998
2      1998-01-01 02:00:00    -89.684    39.845      179.7    -11.699997
3      1998-01-01 03:00:00    -89.684    39.845      179.7    -10.000000
4      1998-01-01 04:00:00    -89.684    39.845      179.7     -8.300003
...                    ...        ...       ...        ...           ...
235860 2024-11-30 17:00:00    -89.684    39.845      179.7     -3.300003
235861 2024-11-30 18:00:00    -89.684    39.845      179.7     -2.800003
235862 2024-11-30 19:00:00    -89.684    39.845      179.7     -2.199997
235863 2024-11-30 20:00:00    -89.684    39.845      179.7     -2.199997
235864 2024-11-30 21:00:00    -89.684    39.845      179.7     -1.699997

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1031.900002        1.940849            -11.917030           1.200348
1       1031.400002        1.837425            -12.426170           1.136940
2       1030.500000        1.660812            -13.126076           1.028549
3       1030.000000        1.940842            -11.510544           1.202484
4       1029.400002        2.031059            -10.199730           1.258957
...             ...             ...                   ...                ...
235860  1026.500000        2.475403             -6.221283           1.538277
235861  1025.599998        2.611130             -5.760216           1.624054
235862  1024.800003        2.611115             -5.346962           1.625229
235863  1024.000000        3.169037             -4.841171           1.974457
235864  1023.699997        3.487000             -4.201561           2.173363

        file_id  region  water
0          7361       4      1
1          7361       4      1
2          7361       4      1
3          7361       4      1
4          7361       4      1
...         ...     ...    ...
235860     7361       4      1
235861     7361       4      1
235862     7361       4      1
235863     7361       4      1
235864     7361       4      1

[235865 rows x 12 columns]
                  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  80.208333   51.333333       39.849998       -89.699989
1998-01-02  86.041667   59.833333       39.849998       -89.699989
1998-01-03  48.166667   59.208333       39.849998       -89.699989
1998-01-04  25.916667   26.166667       39.849998       -89.699989
1998-01-05  24.333333   27.750000       39.849998       -89.699989
...               ...         ...             ...              ...
2005-12-27  95.291667   35.916667       39.849998       -89.699989
2005-12-28  20.958333   32.333333       39.849998       -89.699989
2005-12-29  21.000000   26.416667       39.849998       -89.699989
2005-12-30  21.583333   38.083333       39.849998       -89.699989
2005-12-31  58.875000   38.083333       39.849998       -89.699989

            distance_h_NSRDB
time
1998-01-01             1.474
1998-01-02             1.474
1998-01-03             1.474
1998-01-04             1.474
1998-01-05             1.474
...                      ...
2005-12-27             1.474
2005-12-28             1.474
2005-12-29             1.474
2005-12-30             1.474
2005-12-31             1.474

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -89.684    39.845      179.7     -1.966666  1024.070834
1998-01-02    -89.684    39.845      179.7      6.666666  1018.816667
1998-01-03    -89.684    39.845      179.7     12.083333  1015.970834
1998-01-04    -89.684    39.845      179.7     12.175002  1018.745833
1998-01-05    -89.684    39.845      179.7     13.150002  1015.200000
...               ...       ...        ...           ...          ...
2024-11-26    -89.684    39.845      179.7      0.920834  1023.856250
2024-11-27    -89.684    39.845      179.7      3.483334  1014.570834
2024-11-28    -89.684    39.845      179.7      0.200002  1016.195833
2024-11-29    -89.684    39.845      179.7     -2.466667  1024.325000
2024-11-30    -89.684    39.845      179.7     -5.795455  1026.109090

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        3.422104             -4.677828           2.135365   7361.0
1998-01-02        6.884775              3.762699           4.316027   7361.0
1998-01-03       11.823328             10.251001           7.440372   7361.0
1998-01-04       13.068106             11.190562           8.205885   7361.0
1998-01-05       14.181095             12.364299           8.938848   7361.0
...                    ...                   ...                ...      ...
2024-11-26        4.151809             -1.936146           2.588036   7361.0
2024-11-27        5.716531              1.112276           3.598749   7361.0
2024-11-28        5.406452             -1.019664           3.399796   7361.0
2024-11-29        3.193028             -4.991536           1.989452   7361.0
2024-11-30        2.354299             -8.076308           1.464002   7361.0

            region  water
time
1998-01-01     4.0    1.0
1998-01-02     4.0    1.0
1998-01-03     4.0    1.0
1998-01-04     4.0    1.0
1998-01-05     4.0    1.0
...            ...    ...
2024-11-26     4.0    1.0
2024-11-27     4.0    1.0
2024-11-28     4.0    1.0
2024-11-29     4.0    1.0
2024-11-30     4.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -89.684    39.845      179.7     -1.966666  1024.070834
1998-01-02    -89.684    39.845      179.7      6.666666  1018.816667
1998-01-03    -89.684    39.845      179.7     12.083333  1015.970834
1998-01-04    -89.684    39.845      179.7     12.175002  1018.745833
1998-01-05    -89.684    39.845      179.7     13.150002  1015.200000
...               ...       ...        ...           ...          ...
2024-11-26    -89.684    39.845      179.7      0.920834  1023.856250
2024-11-27    -89.684    39.845      179.7      3.483334  1014.570834
2024-11-28    -89.684    39.845      179.7      0.200002  1016.195833
2024-11-29    -89.684    39.845      179.7     -2.466667  1024.325000
2024-11-30    -89.684    39.845      179.7     -5.795455  1026.109090

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        3.422104             -4.677828           2.135365   7361.0
1998-01-02        6.884775              3.762699           4.316027   7361.0
1998-01-03       11.823328             10.251001           7.440372   7361.0
1998-01-04       13.068106             11.190562           8.205885   7361.0
1998-01-05       14.181095             12.364299           8.938848   7361.0
...                    ...                   ...                ...      ...
2024-11-26        4.151809             -1.936146           2.588036   7361.0
2024-11-27        5.716531              1.112276           3.598749   7361.0
2024-11-28        5.406452             -1.019664           3.399796   7361.0
2024-11-29        3.193028             -4.991536           1.989452   7361.0
2024-11-30        2.354299             -8.076308           1.464002   7361.0

            region  water        GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     4.0    1.0  80.208333   51.333333       39.849998
1998-01-02     4.0    1.0  86.041667   59.833333       39.849998
1998-01-03     4.0    1.0  48.166667   59.208333       39.849998
1998-01-04     4.0    1.0  25.916667   26.166667       39.849998
1998-01-05     4.0    1.0  24.333333   27.750000       39.849998
...            ...    ...        ...         ...             ...
2024-11-26     4.0    1.0        NaN         NaN             NaN
2024-11-27     4.0    1.0        NaN         NaN             NaN
2024-11-28     4.0    1.0        NaN         NaN             NaN
2024-11-29     4.0    1.0        NaN         NaN             NaN
2024-11-30     4.0    1.0        NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01       -89.699989             1.474
1998-01-02       -89.699989             1.474
1998-01-03       -89.699989             1.474
1998-01-04       -89.699989             1.474
1998-01-05       -89.699989             1.474
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_724636-03013_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.052
38.092000000000006
-102.707
-102.667
17520
[543846]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.052
38.092000000000006
-102.707
-102.667
17520
[543846]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.052
38.092000000000006
-102.707
-102.667
17568
[543846]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.052
38.092000000000006
-102.707
-102.667
17520
[543846]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.052
38.092000000000006
-102.707
-102.667
17520
[543846]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.052
38.092000000000006
-102.707
-102.667
17520
[543846]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.052
38.092000000000006
-102.707
-102.667
17568
[543846]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
38.052
38.092000000000006
-102.707
-102.667
17520
[543846]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0        0
1        0
2        0
3        0
4        0
...    ...
70123  303
70124  265
70125  292
70126   77
70127   26

[70128 rows x 1 columns]
        0
0      18
1      21
2      23
3      24
4      25
...    ..
70123  36
70124  38
70125  19
70126  23
70127  32

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          18           38.09      -102.699997
1     1998-01-01 01:00:00    0          21           38.09      -102.699997
2     1998-01-01 02:00:00    0          23           38.09      -102.699997
3     1998-01-01 03:00:00    0          24           38.09      -102.699997
4     1998-01-01 04:00:00    0          25           38.09      -102.699997
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00  303          36           38.09      -102.699997
70124 2005-12-31 20:00:00  265          38           38.09      -102.699997
70125 2005-12-31 21:00:00  292          19           38.09      -102.699997
70126 2005-12-31 22:00:00   77          23           38.09      -102.699997
70127 2005-12-31 23:00:00   26          32           38.09      -102.699997

       distance_h_NSRDB
0                 2.302
1                 2.302
2                 2.302
3                 2.302
4                 2.302
...                 ...
70123             2.302
70124             2.302
70125             2.302
70126             2.302
70127             2.302

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235359   2024-11-30 16:00:00
235360   2024-11-30 17:00:00
235361   2024-11-30 18:00:00
235362   2024-11-30 20:00:00
235363   2024-11-30 21:00:00
Name: time, Length: 235364, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00   -102.687    38.072     1124.0     -1.000000
1      1998-01-01 01:00:00   -102.687    38.072     1124.0     -2.000000
2      1998-01-01 02:00:00   -102.687    38.072     1124.0     -4.000000
3      1998-01-01 03:00:00   -102.687    38.072     1124.0     -4.000000
4      1998-01-01 04:00:00   -102.687    38.072     1124.0     -5.000000
...                    ...        ...       ...        ...           ...
235359 2024-11-30 16:00:00   -102.687    38.072     1124.0      2.800003
235360 2024-11-30 17:00:00   -102.687    38.072     1124.0      5.599998
235361 2024-11-30 18:00:00   -102.687    38.072     1124.0      6.699997
235362 2024-11-30 20:00:00   -102.687    38.072     1124.0      9.400002
235363 2024-11-30 21:00:00   -102.687    38.072     1124.0     10.000000

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1021.400002        5.197960             -1.763863           3.682259
1       1021.400002        4.779778             -2.757774           3.387245
2       1021.500000        4.033981             -4.744934           2.860672
3       1020.699997        4.033966             -4.744934           2.862907
4       1020.000000        3.868145             -5.459641           2.748310
...             ...             ...                   ...                ...
235359  1025.099998        4.034088             -0.945465           2.840240
235360  1025.199997        3.579300              0.554504           2.515633
235361  1024.000000        3.579292              1.232506           2.517151
235362  1021.800003        3.136528              2.491035           2.207085
235363  1020.699997        3.015945              2.733910           2.123779

        file_id  region  water
0          7414       4      1
1          7414       4      1
2          7414       4      1
3          7414       4      1
4          7414       4      1
...         ...     ...    ...
235359     7414       4      1
235360     7414       4      1
235361     7414       4      1
235362     7414       4      1
235363     7414       4      1

[235364 rows x 12 columns]
                   GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  106.583333   22.875000           38.09      -102.699989
1998-01-02  103.958333   37.583333           38.09      -102.699989
1998-01-03   42.291667   39.916667           38.09      -102.699989
1998-01-04   66.208333   16.625000           38.09      -102.699989
1998-01-05   93.125000   13.291667           38.09      -102.699989
...                ...         ...             ...              ...
2005-12-27   72.958333   59.291667           38.09      -102.699989
2005-12-28  105.916667   21.916667           38.09      -102.699989
2005-12-29  103.541667   40.708333           38.09      -102.699989
2005-12-30  113.708333   28.333333           38.09      -102.699989
2005-12-31   81.416667   19.583333           38.09      -102.699989

            distance_h_NSRDB
time
1998-01-01             2.302
1998-01-02             2.302
1998-01-03             2.302
1998-01-04             2.302
1998-01-05             2.302
...                      ...
2005-12-27             2.302
2005-12-28             2.302
2005-12-29             2.302
2005-12-30             2.302
2005-12-31             2.302

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01   -102.687    38.072     1124.0     -0.541667  1017.641667
1998-01-02   -102.687    38.072     1124.0      1.833333  1010.520833
1998-01-03   -102.687    38.072     1124.0      1.458333  1010.266667
1998-01-04   -102.687    38.072     1124.0     -2.958333  1016.566666
1998-01-05   -102.687    38.072     1124.0     -1.000000  1009.931251
...               ...       ...        ...           ...          ...
2024-11-26   -102.687    38.072     1124.0      4.125000  1017.733333
2024-11-27   -102.687    38.072     1124.0      2.441667  1011.475000
2024-11-28   -102.687    38.072     1124.0     -1.229166  1023.162500
2024-11-29   -102.687    38.072     1124.0     -2.729167  1025.774999
2024-11-30   -102.687    38.072     1124.0     -1.500000  1020.990476

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        4.674368             -2.241780           3.321430   7414.0
1998-01-02        5.309703             -0.264096           3.796235   7414.0
1998-01-03        5.457584             -0.346223           3.902711   7414.0
1998-01-04        4.476629             -3.618340           3.189255   7414.0
1998-01-05        5.536883             -1.306459           3.967555   7414.0
...                    ...                   ...                ...      ...
2024-11-26        4.849664              0.572556           3.439577   7414.0
2024-11-27        5.689937              0.500355           4.061429   7414.0
2024-11-28        4.156217             -3.188210           2.937711   7414.0
2024-11-29        3.506444             -4.927254           2.473726   7414.0
2024-11-30        3.520356             -3.949894           2.493881   7414.0

            region  water
time
1998-01-01     4.0    1.0
1998-01-02     4.0    1.0
1998-01-03     4.0    1.0
1998-01-04     4.0    1.0
1998-01-05     4.0    1.0
...            ...    ...
2024-11-26     4.0    1.0
2024-11-27     4.0    1.0
2024-11-28     4.0    1.0
2024-11-29     4.0    1.0
2024-11-30     4.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01   -102.687    38.072     1124.0     -0.541667  1017.641667
1998-01-02   -102.687    38.072     1124.0      1.833333  1010.520833
1998-01-03   -102.687    38.072     1124.0      1.458333  1010.266667
1998-01-04   -102.687    38.072     1124.0     -2.958333  1016.566666
1998-01-05   -102.687    38.072     1124.0     -1.000000  1009.931251
...               ...       ...        ...           ...          ...
2024-11-26   -102.687    38.072     1124.0      4.125000  1017.733333
2024-11-27   -102.687    38.072     1124.0      2.441667  1011.475000
2024-11-28   -102.687    38.072     1124.0     -1.229166  1023.162500
2024-11-29   -102.687    38.072     1124.0     -2.729167  1025.774999
2024-11-30   -102.687    38.072     1124.0     -1.500000  1020.990476

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        4.674368             -2.241780           3.321430   7414.0
1998-01-02        5.309703             -0.264096           3.796235   7414.0
1998-01-03        5.457584             -0.346223           3.902711   7414.0
1998-01-04        4.476629             -3.618340           3.189255   7414.0
1998-01-05        5.536883             -1.306459           3.967555   7414.0
...                    ...                   ...                ...      ...
2024-11-26        4.849664              0.572556           3.439577   7414.0
2024-11-27        5.689937              0.500355           4.061429   7414.0
2024-11-28        4.156217             -3.188210           2.937711   7414.0
2024-11-29        3.506444             -4.927254           2.473726   7414.0
2024-11-30        3.520356             -3.949894           2.493881   7414.0

            region  water         GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     4.0    1.0  106.583333   22.875000           38.09
1998-01-02     4.0    1.0  103.958333   37.583333           38.09
1998-01-03     4.0    1.0   42.291667   39.916667           38.09
1998-01-04     4.0    1.0   66.208333   16.625000           38.09
1998-01-05     4.0    1.0   93.125000   13.291667           38.09
...            ...    ...         ...         ...             ...
2024-11-26     4.0    1.0         NaN         NaN             NaN
2024-11-27     4.0    1.0         NaN         NaN             NaN
2024-11-28     4.0    1.0         NaN         NaN             NaN
2024-11-29     4.0    1.0         NaN         NaN             NaN
2024-11-30     4.0    1.0         NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01      -102.699989             2.302
1998-01-02      -102.699989             2.302
1998-01-03      -102.699989             2.302
1998-01-04      -102.699989             2.302
1998-01-05      -102.699989             2.302
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_725170-14737_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
40.629999999999995
40.67
-75.46799999999999
-75.428
17520
[1198032]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
40.629999999999995
40.67
-75.46799999999999
-75.428
17520
[1198032]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
40.629999999999995
40.67
-75.46799999999999
-75.428
17568
[1198032]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
40.629999999999995
40.67
-75.46799999999999
-75.428
17520
[1198032]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
40.629999999999995
40.67
-75.46799999999999
-75.428
17520
[1198032]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
40.629999999999995
40.67
-75.46799999999999
-75.428
17520
[1198032]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
40.629999999999995
40.67
-75.46799999999999
-75.428
17568
[1198032]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
40.629999999999995
40.67
-75.46799999999999
-75.428
17520
[1198032]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
        0
0       0
1       0
2       0
3       0
4       0
...    ..
70123  22
70124  24
70125   7
70126   0
70127   0

[70128 rows x 1 columns]
       0
0      9
1      9
2      9
3      9
4      8
...   ..
70123  2
70124  1
70125  2
70126  3
70127  3

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0           9       40.650002       -75.459999
1     1998-01-01 01:00:00    0           9       40.650002       -75.459999
2     1998-01-01 02:00:00    0           9       40.650002       -75.459999
3     1998-01-01 03:00:00    0           9       40.650002       -75.459999
4     1998-01-01 04:00:00    0           8       40.650002       -75.459999
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00   22           2       40.650002       -75.459999
70124 2005-12-31 20:00:00   24           1       40.650002       -75.459999
70125 2005-12-31 21:00:00    7           2       40.650002       -75.459999
70126 2005-12-31 22:00:00    0           3       40.650002       -75.459999
70127 2005-12-31 23:00:00    0           3       40.650002       -75.459999

       distance_h_NSRDB
0                 1.012
1                 1.012
2                 1.012
3                 1.012
4                 1.012
...                 ...
70123             1.012
70124             1.012
70125             1.012
70126             1.012
70127             1.012

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235893   2024-11-30 17:00:00
235894   2024-11-30 18:00:00
235895   2024-11-30 19:00:00
235896   2024-11-30 20:00:00
235897   2024-11-30 21:00:00
Name: time, Length: 235898, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -75.448     40.65      117.4     -7.199997
1      1998-01-01 01:00:00    -75.448     40.65      117.4     -8.300003
2      1998-01-01 02:00:00    -75.448     40.65      117.4     -8.300003
3      1998-01-01 03:00:00    -75.448     40.65      117.4     -8.300003
4      1998-01-01 04:00:00    -75.448     40.65      117.4     -8.900002
...                    ...        ...       ...        ...           ...
235893 2024-11-30 17:00:00    -75.448     40.65      117.4      1.699997
235894 2024-11-30 18:00:00    -75.448     40.65      117.4      2.199997
235895 2024-11-30 19:00:00    -75.448     40.65      117.4      2.199997
235896 2024-11-30 20:00:00    -75.448     40.65      117.4      1.699997
235897 2024-11-30 21:00:00    -75.448     40.65      117.4      0.599998

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1021.500000        1.660812             -9.694962           1.028358
1       1022.900002        1.571175            -10.608177           0.971558
2       1024.400002        1.418251            -10.674507           0.875656
3       1025.400002        1.279068            -10.699356           0.788910
4       1026.500000        1.152512            -11.186836           0.710083
...             ...             ...                   ...                ...
235893  1016.800003        2.753624             -2.609573           1.712715
235894  1016.300003        2.753624             -2.283005           1.713509
235895  1016.099998        2.611122             -2.377396           1.625061
235896  1016.199997        2.475388             -2.792351           1.540405
235897  1016.699997        2.367241             -3.594315           1.472412

        file_id  region  water
0          7555       5      1
1          7555       5      1
2          7555       5      1
3          7555       5      1
4          7555       5      1
...         ...     ...    ...
235893     7555       5      1
235894     7555       5      1
235895     7555       5      1
235896     7555       5      1
235897     7555       5      1

[235898 rows x 12 columns]
                   GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01   90.125000    9.666667       40.650002       -75.459999
1998-01-02   92.416667    7.250000       40.650002       -75.459999
1998-01-03   63.458333    6.250000       40.650002       -75.459999
1998-01-04   74.291667    5.583333       40.650002       -75.459999
1998-01-05   43.166667    4.458333       40.650002       -75.459999
...                ...         ...             ...              ...
2005-12-27  100.291667    9.791667       40.650002       -75.459999
2005-12-28   84.000000    5.291667       40.650002       -75.459999
2005-12-29   23.041667    3.958333       40.650002       -75.459999
2005-12-30   51.125000    8.166667       40.650002       -75.459999
2005-12-31   16.791667    4.916667       40.650002       -75.459999

            distance_h_NSRDB
time
1998-01-01             1.012
1998-01-02             1.012
1998-01-03             1.012
1998-01-04             1.012
1998-01-05             1.012
...                      ...
2005-12-27             1.012
2005-12-28             1.012
2005-12-29             1.012
2005-12-30             1.012
2005-12-31             1.012

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -75.448     40.65      117.4     -8.058333  1029.462500
1998-01-02    -75.448     40.65      117.4     -0.845833  1025.491666
1998-01-03    -75.448     40.65      117.4      5.308334  1025.320833
1998-01-04    -75.448     40.65      117.4      7.587500  1025.854166
1998-01-05    -75.448     40.65      117.4      6.491666  1028.604167
...               ...       ...        ...           ...          ...
2024-11-26    -75.448     40.65      117.4     10.320834  1012.260417
2024-11-27    -75.448     40.65      117.4      5.408334  1016.725001
2024-11-28    -75.448     40.65      117.4      5.200000  1007.325000
2024-11-29    -75.448     40.65      117.4      3.541667  1011.495833
2024-11-30    -75.448     40.65      117.4     -1.086365  1016.000000

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        1.753000            -10.297920           1.076796   7555.0
1998-01-02        3.225393             -3.981674           1.989593   7555.0
1998-01-03        5.712798              2.096295           3.527146   7555.0
1998-01-04        7.278769              4.578958           4.492917   7555.0
1998-01-05        9.250530              5.934163           5.700255   7555.0
...                    ...                   ...                ...      ...
2024-11-26        8.045449              6.711679           5.036632   7555.0
2024-11-27        5.287186              1.791883           3.291298   7555.0
2024-11-28        6.883399              3.139772           4.331687   7555.0
2024-11-29        5.166764              0.587309           3.233717   7555.0
2024-11-30        2.809049             -4.428710           1.749018   7555.0

            region  water
time
1998-01-01     5.0    1.0
1998-01-02     5.0    1.0
1998-01-03     5.0    1.0
1998-01-04     5.0    1.0
1998-01-05     5.0    1.0
...            ...    ...
2024-11-26     5.0    1.0
2024-11-27     5.0    1.0
2024-11-28     5.0    1.0
2024-11-29     5.0    1.0
2024-11-30     5.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -75.448     40.65      117.4     -8.058333  1029.462500
1998-01-02    -75.448     40.65      117.4     -0.845833  1025.491666
1998-01-03    -75.448     40.65      117.4      5.308334  1025.320833
1998-01-04    -75.448     40.65      117.4      7.587500  1025.854166
1998-01-05    -75.448     40.65      117.4      6.491666  1028.604167
...               ...       ...        ...           ...          ...
2024-11-26    -75.448     40.65      117.4     10.320834  1012.260417
2024-11-27    -75.448     40.65      117.4      5.408334  1016.725001
2024-11-28    -75.448     40.65      117.4      5.200000  1007.325000
2024-11-29    -75.448     40.65      117.4      3.541667  1011.495833
2024-11-30    -75.448     40.65      117.4     -1.086365  1016.000000

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        1.753000            -10.297920           1.076796   7555.0
1998-01-02        3.225393             -3.981674           1.989593   7555.0
1998-01-03        5.712798              2.096295           3.527146   7555.0
1998-01-04        7.278769              4.578958           4.492917   7555.0
1998-01-05        9.250530              5.934163           5.700255   7555.0
...                    ...                   ...                ...      ...
2024-11-26        8.045449              6.711679           5.036632   7555.0
2024-11-27        5.287186              1.791883           3.291298   7555.0
2024-11-28        6.883399              3.139772           4.331687   7555.0
2024-11-29        5.166764              0.587309           3.233717   7555.0
2024-11-30        2.809049             -4.428710           1.749018   7555.0

            region  water        GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     5.0    1.0  90.125000    9.666667       40.650002
1998-01-02     5.0    1.0  92.416667    7.250000       40.650002
1998-01-03     5.0    1.0  63.458333    6.250000       40.650002
1998-01-04     5.0    1.0  74.291667    5.583333       40.650002
1998-01-05     5.0    1.0  43.166667    4.458333       40.650002
...            ...    ...        ...         ...             ...
2024-11-26     5.0    1.0        NaN         NaN             NaN
2024-11-27     5.0    1.0        NaN         NaN             NaN
2024-11-28     5.0    1.0        NaN         NaN             NaN
2024-11-29     5.0    1.0        NaN         NaN             NaN
2024-11-30     5.0    1.0        NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01       -75.459999             1.012
1998-01-02       -75.459999             1.012
1998-01-03       -75.459999             1.012
1998-01-04       -75.459999             1.012
1998-01-05       -75.459999             1.012
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_725214-04849_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.32599999999999
41.366
-82.199
-82.159
17520
[1016679]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.32599999999999
41.366
-82.199
-82.159
17520
[1016679]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.32599999999999
41.366
-82.199
-82.159
17568
[1016679]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.32599999999999
41.366
-82.199
-82.159
17520
[1016679]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.32599999999999
41.366
-82.199
-82.159
17520
[1016679]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.32599999999999
41.366
-82.199
-82.159
17520
[1016679]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.32599999999999
41.366
-82.199
-82.159
17568
[1016679]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.32599999999999
41.366
-82.199
-82.159
17520
[1016679]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0        0
1        0
2        0
3        0
4        0
...    ...
70123   32
70124  140
70125   14
70126    0
70127    0

[70128 rows x 1 columns]
        0
0      55
1      49
2      45
3      46
4      48
...    ..
70123  57
70124  52
70125  52
70126  52
70127  51

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          55       41.330002           -82.18
1     1998-01-01 01:00:00    0          49       41.330002           -82.18
2     1998-01-01 02:00:00    0          45       41.330002           -82.18
3     1998-01-01 03:00:00    0          46       41.330002           -82.18
4     1998-01-01 04:00:00    0          48       41.330002           -82.18
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00   32          57       41.330002           -82.18
70124 2005-12-31 20:00:00  140          52       41.330002           -82.18
70125 2005-12-31 21:00:00   14          52       41.330002           -82.18
70126 2005-12-31 22:00:00    0          52       41.330002           -82.18
70127 2005-12-31 23:00:00    0          51       41.330002           -82.18

       distance_h_NSRDB
0                 1.781
1                 1.781
2                 1.781
3                 1.781
4                 1.781
...                 ...
70123             1.781
70124             1.781
70125             1.781
70126             1.781
70127             1.781

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235774   2024-11-30 17:00:00
235775   2024-11-30 18:00:00
235776   2024-11-30 19:00:00
235777   2024-11-30 20:00:00
235778   2024-11-30 21:00:00
Name: time, Length: 235779, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -82.179    41.346      241.0           NaN
1      1998-01-01 01:00:00    -82.179    41.346      241.0           NaN
2      1998-01-01 02:00:00    -82.179    41.346      241.0           NaN
3      1998-01-01 03:00:00    -82.179    41.346      241.0           NaN
4      1998-01-01 04:00:00    -82.179    41.346      241.0           NaN
...                    ...        ...       ...        ...           ...
235774 2024-11-30 17:00:00    -82.179    41.346      241.0     -3.900002
235775 2024-11-30 18:00:00    -82.179    41.346      241.0     -2.800003
235776 2024-11-30 19:00:00    -82.179    41.346      241.0     -2.800003
235777 2024-11-30 20:00:00    -82.179    41.346      241.0     -2.800003
235778 2024-11-30 21:00:00    -82.179    41.346      241.0     -2.800003

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0               NaN             NaN                   NaN                NaN
1               NaN             NaN                   NaN                NaN
2               NaN             NaN                   NaN                NaN
3               NaN             NaN                   NaN                NaN
4               NaN             NaN                   NaN                NaN
...             ...             ...                   ...                ...
235774  1020.500000        2.475258             -6.640305           1.560204
235775  1019.800003        2.610977             -5.760216           1.646744
235776  1019.500000        2.475250             -5.871628           1.561523
235777  1019.400002        2.475250             -5.871628           1.561676
235778  1019.599998        2.475250             -5.871628           1.561371

        file_id  region  water
0          7571       5      1
1          7571       5      1
2          7571       5      1
3          7571       5      1
4          7571       5      1
...         ...     ...    ...
235774     7571       5      1
235775     7571       5      1
235776     7571       5      1
235777     7571       5      1
235778     7571       5      1

[235779 rows x 12 columns]
                  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  95.625000   79.625000       41.330002           -82.18
1998-01-02  97.041667   86.875000       41.330002           -82.18
1998-01-03  31.958333   82.583333       41.330002           -82.18
1998-01-04  23.541667   33.583333       41.330002           -82.18
1998-01-05  53.708333   46.250000       41.330002           -82.18
...               ...         ...             ...              ...
2005-12-27  60.416667   40.958333       41.330002           -82.18
2005-12-28  28.666667   44.958333       41.330002           -82.18
2005-12-29  17.333333   37.500000       41.330002           -82.18
2005-12-30  25.208333   25.041667       41.330002           -82.18
2005-12-31  24.083333   48.500000       41.330002           -82.18

            distance_h_NSRDB
time
1998-01-01             1.781
1998-01-02             1.781
1998-01-03             1.781
1998-01-04             1.781
1998-01-05             1.781
...                      ...
2005-12-27             1.781
2005-12-28             1.781
2005-12-29             1.781
2005-12-30             1.781
2005-12-31             1.781

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -82.179    41.346      241.0           NaN          NaN
1998-01-02    -82.179    41.346      241.0           NaN          NaN
1998-01-03    -82.179    41.346      241.0           NaN          NaN
1998-01-04    -82.179    41.346      241.0           NaN          NaN
1998-01-05    -82.179    41.346      241.0           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26    -82.179    41.346      241.0      7.595833  1014.802084
2024-11-27    -82.179    41.346      241.0      3.274999  1017.416666
2024-11-28    -82.179    41.346      241.0      3.033333  1009.606250
2024-11-29    -82.179    41.346      241.0     -0.333332  1015.772917
2024-11-30    -82.179    41.346      241.0     -4.218183  1019.843182

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   7571.0
1998-01-02             NaN                   NaN                NaN   7571.0
1998-01-03             NaN                   NaN                NaN   7571.0
1998-01-04             NaN                   NaN                NaN   7571.0
1998-01-05             NaN                   NaN                NaN   7571.0
...                    ...                   ...                ...      ...
2024-11-26        7.992025              5.050521           5.077374   7571.0
2024-11-27        4.995293              0.230198           3.159151   7571.0
2024-11-28        6.195168              1.396834           3.950320   7571.0
2024-11-29        4.216501             -2.626594           2.671196   7571.0
2024-11-30        2.672440             -6.660379           1.685818   7571.0

            region  water
time
1998-01-01     5.0    1.0
1998-01-02     5.0    1.0
1998-01-03     5.0    1.0
1998-01-04     5.0    1.0
1998-01-05     5.0    1.0
...            ...    ...
2024-11-26     5.0    1.0
2024-11-27     5.0    1.0
2024-11-28     5.0    1.0
2024-11-29     5.0    1.0
2024-11-30     5.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -82.179    41.346      241.0           NaN          NaN
1998-01-02    -82.179    41.346      241.0           NaN          NaN
1998-01-03    -82.179    41.346      241.0           NaN          NaN
1998-01-04    -82.179    41.346      241.0           NaN          NaN
1998-01-05    -82.179    41.346      241.0           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26    -82.179    41.346      241.0      7.595833  1014.802084
2024-11-27    -82.179    41.346      241.0      3.274999  1017.416666
2024-11-28    -82.179    41.346      241.0      3.033333  1009.606250
2024-11-29    -82.179    41.346      241.0     -0.333332  1015.772917
2024-11-30    -82.179    41.346      241.0     -4.218183  1019.843182

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   7571.0
1998-01-02             NaN                   NaN                NaN   7571.0
1998-01-03             NaN                   NaN                NaN   7571.0
1998-01-04             NaN                   NaN                NaN   7571.0
1998-01-05             NaN                   NaN                NaN   7571.0
...                    ...                   ...                ...      ...
2024-11-26        7.992025              5.050521           5.077374   7571.0
2024-11-27        4.995293              0.230198           3.159151   7571.0
2024-11-28        6.195168              1.396834           3.950320   7571.0
2024-11-29        4.216501             -2.626594           2.671196   7571.0
2024-11-30        2.672440             -6.660379           1.685818   7571.0

            region  water        GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     5.0    1.0  95.625000   79.625000       41.330002
1998-01-02     5.0    1.0  97.041667   86.875000       41.330002
1998-01-03     5.0    1.0  31.958333   82.583333       41.330002
1998-01-04     5.0    1.0  23.541667   33.583333       41.330002
1998-01-05     5.0    1.0  53.708333   46.250000       41.330002
...            ...    ...        ...         ...             ...
2024-11-26     5.0    1.0        NaN         NaN             NaN
2024-11-27     5.0    1.0        NaN         NaN             NaN
2024-11-28     5.0    1.0        NaN         NaN             NaN
2024-11-29     5.0    1.0        NaN         NaN             NaN
2024-11-30     5.0    1.0        NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01           -82.18             1.781
1998-01-02           -82.18             1.781
1998-01-03           -82.18             1.781
1998-01-04           -82.18             1.781
1998-01-05           -82.18             1.781
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_725254-04851_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.315999999999995
41.356
-84.449
-84.409
17520
[969243]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.315999999999995
41.356
-84.449
-84.409
17520
[969243]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.315999999999995
41.356
-84.449
-84.409
17568
[969243]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.315999999999995
41.356
-84.449
-84.409
17520
[969243]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.315999999999995
41.356
-84.449
-84.409
17520
[969243]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.315999999999995
41.356
-84.449
-84.409
17520
[969243]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.315999999999995
41.356
-84.449
-84.409
17568
[969243]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.315999999999995
41.356
-84.449
-84.409
17520
[969243]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
        0
0       0
1       0
2       0
3       0
4       0
...    ..
70123  94
70124  19
70125  42
70126  19
70127   0

[70128 rows x 1 columns]
        0
0      15
1      20
2      28
3      34
4      34
...    ..
70123  59
70124  51
70125  43
70126  33
70127  37

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          15       41.330002       -84.419998
1     1998-01-01 01:00:00    0          20       41.330002       -84.419998
2     1998-01-01 02:00:00    0          28       41.330002       -84.419998
3     1998-01-01 03:00:00    0          34       41.330002       -84.419998
4     1998-01-01 04:00:00    0          34       41.330002       -84.419998
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00   94          59       41.330002       -84.419998
70124 2005-12-31 20:00:00   19          51       41.330002       -84.419998
70125 2005-12-31 21:00:00   42          43       41.330002       -84.419998
70126 2005-12-31 22:00:00   19          33       41.330002       -84.419998
70127 2005-12-31 23:00:00    0          37       41.330002       -84.419998

       distance_h_NSRDB
0                 1.005
1                 1.005
2                 1.005
3                 1.005
4                 1.005
...                 ...
70123             1.005
70124             1.005
70125             1.005
70126             1.005
70127             1.005

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235601   2024-11-30 17:00:00
235602   2024-11-30 18:00:00
235603   2024-11-30 19:00:00
235604   2024-11-30 20:00:00
235605   2024-11-30 21:00:00
Name: time, Length: 235606, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -84.429    41.336      215.0           NaN
1      1998-01-01 01:00:00    -84.429    41.336      215.0           NaN
2      1998-01-01 02:00:00    -84.429    41.336      215.0           NaN
3      1998-01-01 03:00:00    -84.429    41.336      215.0           NaN
4      1998-01-01 04:00:00    -84.429    41.336      215.0           NaN
...                    ...        ...       ...        ...           ...
235601 2024-11-30 17:00:00    -84.429    41.336      215.0     -3.900002
235602 2024-11-30 18:00:00    -84.429    41.336      215.0     -3.300003
235603 2024-11-30 19:00:00    -84.429    41.336      215.0     -2.800003
235604 2024-11-30 20:00:00    -84.429    41.336      215.0     -2.800003
235605 2024-11-30 21:00:00    -84.429    41.336      215.0     -2.800003

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0               NaN             NaN                   NaN                NaN
1               NaN             NaN                   NaN                NaN
2               NaN             NaN                   NaN                NaN
3               NaN             NaN                   NaN                NaN
4               NaN             NaN                   NaN                NaN
...             ...             ...                   ...                ...
235601  1021.300003        2.243088             -6.831490           1.407669
235602  1020.599998        2.243080             -6.400688           1.408546
235603  1020.199997        2.144264             -6.107681           1.346893
235604  1019.400002        2.144257             -6.107681           1.347946
235605  1019.800003        2.030945             -6.176033           1.276161

        file_id  region  water
0          7585       5      1
1          7585       5      1
2          7585       5      1
3          7585       5      1
4          7585       5      1
...         ...     ...    ...
235601     7585       5      1
235602     7585       5      1
235603     7585       5      1
235604     7585       5      1
235605     7585       5      1

[235606 rows x 12 columns]
                   GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  106.625000   59.875000       41.330002       -84.419998
1998-01-02   85.083333   71.166667       41.330002       -84.419998
1998-01-03   25.333333   74.750000       41.330002       -84.419998
1998-01-04   23.666667   18.666667       41.330002       -84.419998
1998-01-05   29.791667   40.083333       41.330002       -84.419998
...                ...         ...             ...              ...
2005-12-27   39.000000   25.833333       41.330002       -84.419998
2005-12-28   17.750000   20.833333       41.330002       -84.419998
2005-12-29   23.166667   40.958333       41.330002       -84.419998
2005-12-30   41.125000   20.875000       41.330002       -84.419998
2005-12-31   21.416667   41.500000       41.330002       -84.419998

            distance_h_NSRDB
time
1998-01-01             1.005
1998-01-02             1.005
1998-01-03             1.005
1998-01-04             1.005
1998-01-05             1.005
...                      ...
2005-12-27             1.005
2005-12-28             1.005
2005-12-29             1.005
2005-12-30             1.005
2005-12-31             1.005

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -84.429    41.336      215.0           NaN          NaN
1998-01-02    -84.429    41.336      215.0           NaN          NaN
1998-01-03    -84.429    41.336      215.0           NaN          NaN
1998-01-04    -84.429    41.336      215.0           NaN          NaN
1998-01-05    -84.429    41.336      215.0           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26    -84.429    41.336      215.0      5.625000  1016.666666
2024-11-27    -84.429    41.336      215.0      2.833332  1016.954166
2024-11-28    -84.429    41.336      215.0      2.645835  1011.170834
2024-11-29    -84.429    41.336      215.0     -1.420832  1017.418749
2024-11-30    -84.429    41.336      215.0     -5.195454  1021.072727

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   7585.0
1998-01-02             NaN                   NaN                NaN   7585.0
1998-01-03             NaN                   NaN                NaN   7585.0
1998-01-04             NaN                   NaN                NaN   7585.0
1998-01-05             NaN                   NaN                NaN   7585.0
...                    ...                   ...                ...      ...
2024-11-26        6.537843              2.824714           4.129675   7585.0
2024-11-27        4.738463             -0.260498           2.987874   7585.0
2024-11-28        5.804953              0.751870           3.683389   7585.0
2024-11-29        3.282458             -4.237260           2.068463   7585.0
2024-11-30        2.191514             -7.813099           1.375797   7585.0

            region  water
time
1998-01-01     5.0    1.0
1998-01-02     5.0    1.0
1998-01-03     5.0    1.0
1998-01-04     5.0    1.0
1998-01-05     5.0    1.0
...            ...    ...
2024-11-26     5.0    1.0
2024-11-27     5.0    1.0
2024-11-28     5.0    1.0
2024-11-29     5.0    1.0
2024-11-30     5.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -84.429    41.336      215.0           NaN          NaN
1998-01-02    -84.429    41.336      215.0           NaN          NaN
1998-01-03    -84.429    41.336      215.0           NaN          NaN
1998-01-04    -84.429    41.336      215.0           NaN          NaN
1998-01-05    -84.429    41.336      215.0           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26    -84.429    41.336      215.0      5.625000  1016.666666
2024-11-27    -84.429    41.336      215.0      2.833332  1016.954166
2024-11-28    -84.429    41.336      215.0      2.645835  1011.170834
2024-11-29    -84.429    41.336      215.0     -1.420832  1017.418749
2024-11-30    -84.429    41.336      215.0     -5.195454  1021.072727

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   7585.0
1998-01-02             NaN                   NaN                NaN   7585.0
1998-01-03             NaN                   NaN                NaN   7585.0
1998-01-04             NaN                   NaN                NaN   7585.0
1998-01-05             NaN                   NaN                NaN   7585.0
...                    ...                   ...                ...      ...
2024-11-26        6.537843              2.824714           4.129675   7585.0
2024-11-27        4.738463             -0.260498           2.987874   7585.0
2024-11-28        5.804953              0.751870           3.683389   7585.0
2024-11-29        3.282458             -4.237260           2.068463   7585.0
2024-11-30        2.191514             -7.813099           1.375797   7585.0

            region  water         GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     5.0    1.0  106.625000   59.875000       41.330002
1998-01-02     5.0    1.0   85.083333   71.166667       41.330002
1998-01-03     5.0    1.0   25.333333   74.750000       41.330002
1998-01-04     5.0    1.0   23.666667   18.666667       41.330002
1998-01-05     5.0    1.0   29.791667   40.083333       41.330002
...            ...    ...         ...         ...             ...
2024-11-26     5.0    1.0         NaN         NaN             NaN
2024-11-27     5.0    1.0         NaN         NaN             NaN
2024-11-28     5.0    1.0         NaN         NaN             NaN
2024-11-29     5.0    1.0         NaN         NaN             NaN
2024-11-30     5.0    1.0         NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01       -84.419998             1.005
1998-01-02       -84.419998             1.005
1998-01-03       -84.419998             1.005
1998-01-04       -84.419998             1.005
1998-01-05       -84.419998             1.005
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_725527-94978_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.742999999999995
41.783
-96.2
-96.16000000000001
17520
[716775]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.742999999999995
41.783
-96.2
-96.16000000000001
17520
[716775]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.742999999999995
41.783
-96.2
-96.16000000000001
17568
[716775]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.742999999999995
41.783
-96.2
-96.16000000000001
17520
[716775]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.742999999999995
41.783
-96.2
-96.16000000000001
17520
[716775]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.742999999999995
41.783
-96.2
-96.16000000000001
17520
[716775]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.742999999999995
41.783
-96.2
-96.16000000000001
17568
[716775]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
41.742999999999995
41.783
-96.2
-96.16000000000001
17520
[716775]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0        0
1        0
2        0
3        0
4        0
...    ...
70123  332
70124  275
70125  112
70126  122
70127    0

[70128 rows x 1 columns]
        0
0      58
1      59
2      57
3      56
4      55
...    ..
70123  39
70124  41
70125  36
70126  35
70127  32

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          58           41.77           -96.18
1     1998-01-01 01:00:00    0          59           41.77           -96.18
2     1998-01-01 02:00:00    0          57           41.77           -96.18
3     1998-01-01 03:00:00    0          56           41.77           -96.18
4     1998-01-01 04:00:00    0          55           41.77           -96.18
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00  332          39           41.77           -96.18
70124 2005-12-31 20:00:00  275          41           41.77           -96.18
70125 2005-12-31 21:00:00  112          36           41.77           -96.18
70126 2005-12-31 22:00:00  122          35           41.77           -96.18
70127 2005-12-31 23:00:00    0          32           41.77           -96.18

       distance_h_NSRDB
0                 0.778
1                 0.778
2                 0.778
3                 0.778
4                 0.778
...                 ...
70123             0.778
70124             0.778
70125             0.778
70126             0.778
70127             0.778

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235767   2024-11-30 18:00:00
235768   2024-11-30 19:00:00
235769   2024-11-30 20:00:00
235770   2024-11-30 21:00:00
235771   2024-11-30 22:00:00
Name: time, Length: 235772, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00     -96.18    41.763      312.0      0.000000
1      1998-01-01 01:00:00     -96.18    41.763      312.0      0.000000
2      1998-01-01 02:00:00     -96.18    41.763      312.0      0.000000
3      1998-01-01 03:00:00     -96.18    41.763      312.0      0.000000
4      1998-01-01 04:00:00     -96.18    41.763      312.0      1.000000
...                    ...        ...       ...        ...           ...
235767 2024-11-30 18:00:00     -96.18    41.763      312.0     -6.099998
235768 2024-11-30 19:00:00     -96.18    41.763      312.0     -6.099998
235769 2024-11-30 20:00:00     -96.18    41.763      312.0     -6.099998
235770 2024-11-30 21:00:00     -96.18    41.763      312.0     -6.699997
235771 2024-11-30 22:00:00     -96.18    41.763      312.0     -6.699997

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1019.699997        5.200081             -1.329910           3.313385
1       1019.000000        5.200066             -1.329910           3.315659
2       1018.000000        5.200043             -1.329910           3.318909
3       1016.599998        5.200020             -1.329910           3.323471
4       1015.399998        5.452671             -0.522102           3.489079
...             ...             ...                   ...                ...
235767  1027.500000        1.940674             -8.671532           1.226784
235768  1026.800003        1.837257             -8.743210           1.162155
235769  1026.800003        2.030884             -8.600792           1.284729
235770  1026.300003        2.475212             -8.549911           1.566986
235771  1026.300003        2.475212             -8.549911           1.566986

        file_id  region  water
0          7704       3      1
1          7704       3      1
2          7704       3      1
3          7704       3      1
4          7704       3      1
...         ...     ...    ...
235767     7704       3      1
235768     7704       3      1
235769     7704       3      1
235770     7704       3      1
235771     7704       3      1

[235772 rows x 12 columns]
                   GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  102.416667   44.083333           41.77           -96.18
1998-01-02   73.291667   47.583333           41.77           -96.18
1998-01-03   67.458333   56.708333           41.77           -96.18
1998-01-04   25.291667   24.083333           41.77           -96.18
1998-01-05   47.250000    5.666667           41.77           -96.18
...                ...         ...             ...              ...
2005-12-27   41.833333   22.333333           41.77           -96.18
2005-12-28   27.208333   39.333333           41.77           -96.18
2005-12-29   12.250000   24.166667           41.77           -96.18
2005-12-30   23.416667   60.541667           41.77           -96.18
2005-12-31   64.291667   28.708333           41.77           -96.18

            distance_h_NSRDB
time
1998-01-01             0.778
1998-01-02             0.778
1998-01-03             0.778
1998-01-04             0.778
1998-01-05             0.778
...                      ...
2005-12-27             0.778
2005-12-28             0.778
2005-12-29             0.778
2005-12-30             0.778
2005-12-31             0.778

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01     -96.18    41.763      312.0      3.541667  1012.387500
1998-01-02     -96.18    41.763      312.0      3.916667  1008.366666
1998-01-03     -96.18    41.763      312.0     -0.854167  1013.547916
1998-01-04     -96.18    41.763      312.0     -7.854167  1022.637500
1998-01-05     -96.18    41.763      312.0     -2.732955  1016.137500
...               ...       ...        ...           ...          ...
2024-11-26     -96.18    41.763      312.0     -2.641667  1022.187500
2024-11-27     -96.18    41.763      312.0     -0.883333  1013.625000
2024-11-28     -96.18    41.763      312.0     -1.875000  1022.616666
2024-11-29     -96.18    41.763      312.0     -7.958333  1029.187500
2024-11-30     -96.18    41.763      312.0     -6.321739  1027.117392

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        6.096856              1.459137           3.913097   7704.0
1998-01-02        7.383626              2.792087           4.761573   7704.0
1998-01-03        5.170741             -2.410110           3.330531   7704.0
1998-01-04        2.463420             -9.268105           1.566708   7704.0
1998-01-05        4.379941             -3.658203           2.800202   7704.0
...                    ...                   ...                ...      ...
2024-11-26        3.216343             -5.203501           2.046029   7704.0
2024-11-27        4.098544             -3.031978           2.626524   7704.0
2024-11-28        3.221600             -4.515929           2.046467   7704.0
2024-11-29        1.971700            -10.028530           1.244944   7704.0
2024-11-30        1.853065             -8.887148           1.171876   7704.0

            region  water
time
1998-01-01     3.0    1.0
1998-01-02     3.0    1.0
1998-01-03     3.0    1.0
1998-01-04     3.0    1.0
1998-01-05     3.0    1.0
...            ...    ...
2024-11-26     3.0    1.0
2024-11-27     3.0    1.0
2024-11-28     3.0    1.0
2024-11-29     3.0    1.0
2024-11-30     3.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01     -96.18    41.763      312.0      3.541667  1012.387500
1998-01-02     -96.18    41.763      312.0      3.916667  1008.366666
1998-01-03     -96.18    41.763      312.0     -0.854167  1013.547916
1998-01-04     -96.18    41.763      312.0     -7.854167  1022.637500
1998-01-05     -96.18    41.763      312.0     -2.732955  1016.137500
...               ...       ...        ...           ...          ...
2024-11-26     -96.18    41.763      312.0     -2.641667  1022.187500
2024-11-27     -96.18    41.763      312.0     -0.883333  1013.625000
2024-11-28     -96.18    41.763      312.0     -1.875000  1022.616666
2024-11-29     -96.18    41.763      312.0     -7.958333  1029.187500
2024-11-30     -96.18    41.763      312.0     -6.321739  1027.117392

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        6.096856              1.459137           3.913097   7704.0
1998-01-02        7.383626              2.792087           4.761573   7704.0
1998-01-03        5.170741             -2.410110           3.330531   7704.0
1998-01-04        2.463420             -9.268105           1.566708   7704.0
1998-01-05        4.379941             -3.658203           2.800202   7704.0
...                    ...                   ...                ...      ...
2024-11-26        3.216343             -5.203501           2.046029   7704.0
2024-11-27        4.098544             -3.031978           2.626524   7704.0
2024-11-28        3.221600             -4.515929           2.046467   7704.0
2024-11-29        1.971700            -10.028530           1.244944   7704.0
2024-11-30        1.853065             -8.887148           1.171876   7704.0

            region  water         GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     3.0    1.0  102.416667   44.083333           41.77
1998-01-02     3.0    1.0   73.291667   47.583333           41.77
1998-01-03     3.0    1.0   67.458333   56.708333           41.77
1998-01-04     3.0    1.0   25.291667   24.083333           41.77
1998-01-05     3.0    1.0   47.250000    5.666667           41.77
...            ...    ...         ...         ...             ...
2024-11-26     3.0    1.0         NaN         NaN             NaN
2024-11-27     3.0    1.0         NaN         NaN             NaN
2024-11-28     3.0    1.0         NaN         NaN             NaN
2024-11-29     3.0    1.0         NaN         NaN             NaN
2024-11-30     3.0    1.0         NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01           -96.18             0.778
1998-01-02           -96.18             0.778
1998-01-03           -96.18             0.778
1998-01-04           -96.18             0.778
1998-01-05           -96.18             0.778
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_726163-54770_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
42.787
42.827000000000005
-72.021
-71.98100000000001
17520
[1308024]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
42.787
42.827000000000005
-72.021
-71.98100000000001
17520
[1308024]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
42.787
42.827000000000005
-72.021
-71.98100000000001
17568
[1308024]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
42.787
42.827000000000005
-72.021
-71.98100000000001
17520
[1308024]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
42.787
42.827000000000005
-72.021
-71.98100000000001
17520
[1308024]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
42.787
42.827000000000005
-72.021
-71.98100000000001
17520
[1308024]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
42.787
42.827000000000005
-72.021
-71.98100000000001
17568
[1308024]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
42.787
42.827000000000005
-72.021
-71.98100000000001
17520
[1308024]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
        0
0       0
1       0
2       0
3       0
4       0
...    ..
70123  49
70124  68
70125  11
70126   0
70127   0

[70128 rows x 1 columns]
       0
0      3
1      3
2      2
3      2
4      2
...   ..
70123  1
70124  1
70125  1
70126  1
70127  1

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0           3       42.810001       -72.019997
1     1998-01-01 01:00:00    0           3       42.810001       -72.019997
2     1998-01-01 02:00:00    0           2       42.810001       -72.019997
3     1998-01-01 03:00:00    0           2       42.810001       -72.019997
4     1998-01-01 04:00:00    0           2       42.810001       -72.019997
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00   49           1       42.810001       -72.019997
70124 2005-12-31 20:00:00   68           1       42.810001       -72.019997
70125 2005-12-31 21:00:00   11           1       42.810001       -72.019997
70126 2005-12-31 22:00:00    0           1       42.810001       -72.019997
70127 2005-12-31 23:00:00    0           1       42.810001       -72.019997

       distance_h_NSRDB
0                 1.585
1                 1.585
2                 1.585
3                 1.585
4                 1.585
...                 ...
70123             1.585
70124             1.585
70125             1.585
70126             1.585
70127             1.585

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235608   2024-11-30 17:00:00
235609   2024-11-30 18:00:00
235610   2024-11-30 19:00:00
235611   2024-11-30 20:00:00
235612   2024-11-30 21:00:00
Name: time, Length: 235613, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -72.001    42.807      308.4    -13.000000
1      1998-01-01 01:00:00    -72.001    42.807      308.4    -13.000000
2      1998-01-01 02:00:00    -72.001    42.807      308.4    -13.000000
3      1998-01-01 03:00:00    -72.001    42.807      308.4    -14.000000
4      1998-01-01 04:00:00    -72.001    42.807      308.4    -15.000000
...                    ...        ...       ...        ...           ...
235608 2024-11-30 17:00:00    -72.001    42.807      308.4     -0.599998
235609 2024-11-30 18:00:00    -72.001    42.807      308.4      0.599998
235610 2024-11-30 19:00:00    -72.001    42.807      308.4      0.000000
235611 2024-11-30 20:00:00    -72.001    42.807      308.4     -0.599998
235612 2024-11-30 21:00:00    -72.001    42.807      308.4     -1.099998

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1016.099998        1.254967            -14.608124           0.802505
1       1017.199997        1.141426            -14.672691           0.729080
2       1018.099998        0.942093            -14.656868           0.601181
3       1019.199997        0.942101            -15.553566           0.600632
4       1020.049999        0.898506            -16.444645           0.572468
...             ...             ...                   ...                ...
235608  1011.599998        3.672028             -3.341011           2.356194
235609  1011.500000        3.672028             -2.602425           2.356003
235610  1011.800003        3.486595             -3.142899           2.236397
235611  1012.099998        3.486595             -3.519775           2.235939
235612  1012.699997        3.168671             -4.132118           2.030754

        file_id  region  water
0          7805       5      1
1          7805       5      1
2          7805       5      1
3          7805       5      1
4          7805       5      1
...         ...     ...    ...
235608     7805       5      1
235609     7805       5      1
235610     7805       5      1
235611     7805       5      1
235612     7805       5      1

[235613 rows x 12 columns]
                  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  89.791667    2.875000       42.810001       -72.019997
1998-01-02  56.166667    2.125000       42.810001       -72.019997
1998-01-03  82.625000    2.000000       42.810001       -72.019997
1998-01-04  46.291667    1.791667       42.810001       -72.019997
1998-01-05  40.000000    1.625000       42.810001       -72.019997
...               ...         ...             ...              ...
2005-12-27  97.083333    2.666667       42.810001       -72.019997
2005-12-28  57.666667    2.666667       42.810001       -72.019997
2005-12-29  18.875000    1.333333       42.810001       -72.019997
2005-12-30  78.041667    2.666667       42.810001       -72.019997
2005-12-31  37.583333    1.833333       42.810001       -72.019997

            distance_h_NSRDB
time
1998-01-01             1.585
1998-01-02             1.585
1998-01-03             1.585
1998-01-04             1.585
1998-01-05             1.585
...                      ...
2005-12-27             1.585
2005-12-28             1.585
2005-12-29             1.585
2005-12-30             1.585
2005-12-31             1.585

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -72.001    42.807      308.4    -17.191667  1024.397803
1998-01-02    -72.001    42.807      308.4     -4.100000  1025.745947
1998-01-03    -72.001    42.807      308.4      3.979167  1021.585417
1998-01-04    -72.001    42.807      308.4      5.437500  1024.637500
1998-01-05    -72.001    42.807      308.4      0.342949  1031.602084
...               ...       ...        ...           ...          ...
2024-11-26    -72.001    42.807      308.4     -0.812501  1013.860417
2024-11-27    -72.001    42.807      308.4      1.041666  1013.987500
2024-11-28    -72.001    42.807      308.4     -0.500001  1010.025001
2024-11-29    -72.001    42.807      308.4      1.299999  1007.008333
2024-11-30    -72.001    42.807      308.4     -2.236362  1011.297727

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        1.079053            -19.214117           0.685654   7805.0
1998-01-02        2.828862            -12.233833           1.797822   7805.0
1998-01-03        4.735021             -0.748438           3.010730   7805.0
1998-01-04        6.604243              2.979324           4.183428   7805.0
1998-01-05        5.977946             -0.275308           3.764665   7805.0
...                    ...                   ...                ...      ...
2024-11-26        5.178295             -1.729955           3.318778   7805.0
2024-11-27        5.158738             -0.712283           3.303759   7805.0
2024-11-28        5.563075             -1.104924           3.580300   7805.0
2024-11-29        5.015149             -0.806534           3.235226   7805.0
2024-11-30        3.872660             -4.074763           2.486749   7805.0

            region  water
time
1998-01-01     5.0    1.0
1998-01-02     5.0    1.0
1998-01-03     5.0    1.0
1998-01-04     5.0    1.0
1998-01-05     5.0    1.0
...            ...    ...
2024-11-26     5.0    1.0
2024-11-27     5.0    1.0
2024-11-28     5.0    1.0
2024-11-29     5.0    1.0
2024-11-30     5.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -72.001    42.807      308.4    -17.191667  1024.397803
1998-01-02    -72.001    42.807      308.4     -4.100000  1025.745947
1998-01-03    -72.001    42.807      308.4      3.979167  1021.585417
1998-01-04    -72.001    42.807      308.4      5.437500  1024.637500
1998-01-05    -72.001    42.807      308.4      0.342949  1031.602084
...               ...       ...        ...           ...          ...
2024-11-26    -72.001    42.807      308.4     -0.812501  1013.860417
2024-11-27    -72.001    42.807      308.4      1.041666  1013.987500
2024-11-28    -72.001    42.807      308.4     -0.500001  1010.025001
2024-11-29    -72.001    42.807      308.4      1.299999  1007.008333
2024-11-30    -72.001    42.807      308.4     -2.236362  1011.297727

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        1.079053            -19.214117           0.685654   7805.0
1998-01-02        2.828862            -12.233833           1.797822   7805.0
1998-01-03        4.735021             -0.748438           3.010730   7805.0
1998-01-04        6.604243              2.979324           4.183428   7805.0
1998-01-05        5.977946             -0.275308           3.764665   7805.0
...                    ...                   ...                ...      ...
2024-11-26        5.178295             -1.729955           3.318778   7805.0
2024-11-27        5.158738             -0.712283           3.303759   7805.0
2024-11-28        5.563075             -1.104924           3.580300   7805.0
2024-11-29        5.015149             -0.806534           3.235226   7805.0
2024-11-30        3.872660             -4.074763           2.486749   7805.0

            region  water        GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     5.0    1.0  89.791667    2.875000       42.810001
1998-01-02     5.0    1.0  56.166667    2.125000       42.810001
1998-01-03     5.0    1.0  82.625000    2.000000       42.810001
1998-01-04     5.0    1.0  46.291667    1.791667       42.810001
1998-01-05     5.0    1.0  40.000000    1.625000       42.810001
...            ...    ...        ...         ...             ...
2024-11-26     5.0    1.0        NaN         NaN             NaN
2024-11-27     5.0    1.0        NaN         NaN             NaN
2024-11-28     5.0    1.0        NaN         NaN             NaN
2024-11-29     5.0    1.0        NaN         NaN             NaN
2024-11-30     5.0    1.0        NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01       -72.019997             1.585
1998-01-02       -72.019997             1.585
1998-01-03       -72.019997             1.585
1998-01-04       -72.019997             1.585
1998-01-05       -72.019997             1.585
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_726223-94725_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.913
44.953
-74.868
-74.828
17520
[1217280]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.913
44.953
-74.868
-74.828
17520
[1217280]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.913
44.953
-74.868
-74.828
17568
[1217280]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.913
44.953
-74.868
-74.828
17520
[1217280]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.913
44.953
-74.868
-74.828
17520
[1217280]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.913
44.953
-74.868
-74.828
17520
[1217280]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.913
44.953
-74.868
-74.828
17568
[1217280]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.913
44.953
-74.868
-74.828
17520
[1217280]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
        0
0       0
1       0
2       0
3       0
4       0
...    ..
70123  85
70124  24
70125   5
70126   0
70127   0

[70128 rows x 1 columns]
        0
0      12
1      13
2      13
3      13
4      12
...    ..
70123  15
70124  15
70125  14
70126  13
70127  13

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          12           44.93       -74.860001
1     1998-01-01 01:00:00    0          13           44.93       -74.860001
2     1998-01-01 02:00:00    0          13           44.93       -74.860001
3     1998-01-01 03:00:00    0          13           44.93       -74.860001
4     1998-01-01 04:00:00    0          12           44.93       -74.860001
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00   85          15           44.93       -74.860001
70124 2005-12-31 20:00:00   24          15           44.93       -74.860001
70125 2005-12-31 21:00:00    5          14           44.93       -74.860001
70126 2005-12-31 22:00:00    0          13           44.93       -74.860001
70127 2005-12-31 23:00:00    0          13           44.93       -74.860001

       distance_h_NSRDB
0                 1.002
1                 1.002
2                 1.002
3                 1.002
4                 1.002
...                 ...
70123             1.002
70124             1.002
70125             1.002
70126             1.002
70127             1.002

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235835   2024-11-30 17:00:00
235836   2024-11-30 18:00:00
235837   2024-11-30 19:00:00
235838   2024-11-30 20:00:00
235839   2024-11-30 21:00:00
Name: time, Length: 235840, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -74.848    44.933       60.9    -20.000000
1      1998-01-01 01:00:00    -74.848    44.933       60.9    -20.000000
2      1998-01-01 02:00:00    -74.848    44.933       60.9    -21.000000
3      1998-01-01 03:00:00    -74.848    44.933       60.9    -22.000000
4      1998-01-01 04:00:00    -74.848    44.933       60.9    -24.000000
...                    ...        ...       ...        ...           ...
235835 2024-11-30 17:00:00    -74.848    44.933       60.9      1.099998
235836 2024-11-30 18:00:00    -74.848    44.933       60.9      1.699997
235837 2024-11-30 19:00:00    -74.848    44.933       60.9      1.699997
235838 2024-11-30 20:00:00    -74.848    44.933       60.9      2.199997
235839 2024-11-30 21:00:00    -74.848    44.933       60.9      1.099998

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1023.199997        0.635925            -20.956131           0.390083
1       1024.099998        0.635925            -20.956131           0.389740
2       1024.800003        0.635925            -21.914917           0.389488
3       1025.500000        0.635933            -22.845161           0.389236
4       1026.199997        0.552738            -24.738304           0.338131
...             ...             ...                   ...                ...
235835  1009.400002        4.432121             -1.595970           2.757973
235836  1009.300003        4.432121             -1.253456           2.758194
235837  1009.199997        4.432121             -1.253456           2.758469
235838  1009.300003        4.432121             -0.964729           2.758156
235839  1009.900002        4.036049             -1.969948           2.509888

        file_id  region  water
0          7816       5      1
1          7816       5      1
2          7816       5      1
3          7816       5      1
4          7816       5      1
...         ...     ...    ...
235835     7816       5      1
235836     7816       5      1
235837     7816       5      1
235838     7816       5      1
235839     7816       5      1

[235840 rows x 12 columns]
                  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  40.750000   10.083333       44.930004       -74.860001
1998-01-02  28.083333   14.250000       44.930004       -74.860001
1998-01-03  21.625000   19.916667       44.930004       -74.860001
1998-01-04  59.916667   16.708333       44.930004       -74.860001
1998-01-05  32.708333    9.750000       44.930004       -74.860001
...               ...         ...             ...              ...
2005-12-27  85.958333    7.416667       44.930004       -74.860001
2005-12-28  24.958333    8.416667       44.930004       -74.860001
2005-12-29  17.666667    6.791667       44.930004       -74.860001
2005-12-30  58.000000    9.833333       44.930004       -74.860001
2005-12-31  33.333333   10.916667       44.930004       -74.860001

            distance_h_NSRDB
time
1998-01-01             1.002
1998-01-02             1.002
1998-01-03             1.002
1998-01-04             1.002
1998-01-05             1.002
...                      ...
2005-12-27             1.002
2005-12-28             1.002
2005-12-29             1.002
2005-12-30             1.002
2005-12-31             1.002

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -74.848    44.933       60.9    -21.791667  1025.414583
1998-01-02    -74.848    44.933       60.9     -0.187500  1015.966667
1998-01-03    -74.848    44.933       60.9      6.416667  1015.933333
1998-01-04    -74.848    44.933       60.9     -0.500000  1027.333334
1998-01-05    -74.848    44.933       60.9     -5.229167  1027.891666
...               ...       ...        ...           ...          ...
2024-11-26    -74.848    44.933       60.9      1.533333  1010.310416
2024-11-27    -74.848    44.933       60.9      3.650001  1011.500000
2024-11-28    -74.848    44.933       60.9      0.379166  1009.670833
2024-11-29    -74.848    44.933       60.9      0.933333  1007.514583
2024-11-30    -74.848    44.933       60.9      0.059091  1008.950000

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        0.799075            -22.521815           0.490244   7816.0
1998-01-02        4.880037             -1.967764           3.020109   7816.0
1998-01-03        7.584158              4.359049           4.691566   7816.0
1998-01-04        5.110615             -2.191580           3.142693   7816.0
1998-01-05        3.990373             -5.555234           2.440125   7816.0
...                    ...                   ...                ...      ...
2024-11-26        5.931847              0.202351           3.693172   7816.0
2024-11-27        5.088248              0.576602           3.160985   7816.0
2024-11-28        5.381166             -0.923380           3.350439   7816.0
2024-11-29        5.537151             -0.439178           3.453489   7816.0
2024-11-30        4.330982             -2.273385           2.696320   7816.0

            region  water
time
1998-01-01     5.0    1.0
1998-01-02     5.0    1.0
1998-01-03     5.0    1.0
1998-01-04     5.0    1.0
1998-01-05     5.0    1.0
...            ...    ...
2024-11-26     5.0    1.0
2024-11-27     5.0    1.0
2024-11-28     5.0    1.0
2024-11-29     5.0    1.0
2024-11-30     5.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -74.848    44.933       60.9    -21.791667  1025.414583
1998-01-02    -74.848    44.933       60.9     -0.187500  1015.966667
1998-01-03    -74.848    44.933       60.9      6.416667  1015.933333
1998-01-04    -74.848    44.933       60.9     -0.500000  1027.333334
1998-01-05    -74.848    44.933       60.9     -5.229167  1027.891666
...               ...       ...        ...           ...          ...
2024-11-26    -74.848    44.933       60.9      1.533333  1010.310416
2024-11-27    -74.848    44.933       60.9      3.650001  1011.500000
2024-11-28    -74.848    44.933       60.9      0.379166  1009.670833
2024-11-29    -74.848    44.933       60.9      0.933333  1007.514583
2024-11-30    -74.848    44.933       60.9      0.059091  1008.950000

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        0.799075            -22.521815           0.490244   7816.0
1998-01-02        4.880037             -1.967764           3.020109   7816.0
1998-01-03        7.584158              4.359049           4.691566   7816.0
1998-01-04        5.110615             -2.191580           3.142693   7816.0
1998-01-05        3.990373             -5.555234           2.440125   7816.0
...                    ...                   ...                ...      ...
2024-11-26        5.931847              0.202351           3.693172   7816.0
2024-11-27        5.088248              0.576602           3.160985   7816.0
2024-11-28        5.381166             -0.923380           3.350439   7816.0
2024-11-29        5.537151             -0.439178           3.453489   7816.0
2024-11-30        4.330982             -2.273385           2.696320   7816.0

            region  water        GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     5.0    1.0  40.750000   10.083333       44.930004
1998-01-02     5.0    1.0  28.083333   14.250000       44.930004
1998-01-03     5.0    1.0  21.625000   19.916667       44.930004
1998-01-04     5.0    1.0  59.916667   16.708333       44.930004
1998-01-05     5.0    1.0  32.708333    9.750000       44.930004
...            ...    ...        ...         ...             ...
2024-11-26     5.0    1.0        NaN         NaN             NaN
2024-11-27     5.0    1.0        NaN         NaN             NaN
2024-11-28     5.0    1.0        NaN         NaN             NaN
2024-11-29     5.0    1.0        NaN         NaN             NaN
2024-11-30     5.0    1.0        NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01       -74.860001             1.002
1998-01-02       -74.860001             1.002
1998-01-03       -74.860001             1.002
1998-01-04       -74.860001             1.002
1998-01-05       -74.860001             1.002
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_726390-94849_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.052
45.092000000000006
-83.585
-83.545
17520
[986958]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.052
45.092000000000006
-83.585
-83.545
17520
[986958]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.052
45.092000000000006
-83.585
-83.545
17568
[986958]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.052
45.092000000000006
-83.585
-83.545
17520
[986958]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.052
45.092000000000006
-83.585
-83.545
17520
[986958]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.052
45.092000000000006
-83.585
-83.545
17520
[986958]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.052
45.092000000000006
-83.585
-83.545
17568
[986958]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.052
45.092000000000006
-83.585
-83.545
17520
[986958]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
        0
0       0
1       0
2       0
3       0
4       0
...    ..
70123  40
70124  26
70125  13
70126   0
70127   0

[70128 rows x 1 columns]
        0
0      15
1      16
2      18
3      22
4      26
...    ..
70123  26
70124  21
70125  15
70126  14
70127  12

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          15           45.09       -83.580002
1     1998-01-01 01:00:00    0          16           45.09       -83.580002
2     1998-01-01 02:00:00    0          18           45.09       -83.580002
3     1998-01-01 03:00:00    0          22           45.09       -83.580002
4     1998-01-01 04:00:00    0          26           45.09       -83.580002
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00   40          26           45.09       -83.580002
70124 2005-12-31 20:00:00   26          21           45.09       -83.580002
70125 2005-12-31 21:00:00   13          15           45.09       -83.580002
70126 2005-12-31 22:00:00    0          14           45.09       -83.580002
70127 2005-12-31 23:00:00    0          12           45.09       -83.580002

       distance_h_NSRDB
0                 2.322
1                 2.322
2                 2.322
3                 2.322
4                 2.322
...                 ...
70123             2.322
70124             2.322
70125             2.322
70126             2.322
70127             2.322

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235827   2024-11-30 17:00:00
235828   2024-11-30 18:00:00
235829   2024-11-30 19:00:00
235830   2024-11-30 20:00:00
235831   2024-11-30 21:00:00
Name: time, Length: 235832, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -83.565    45.072      208.3    -15.000000
1      1998-01-01 01:00:00    -83.565    45.072      208.3    -14.400002
2      1998-01-01 02:00:00    -83.565    45.072      208.3    -11.699997
3      1998-01-01 03:00:00    -83.565    45.072      208.3    -13.000000
4      1998-01-01 04:00:00    -83.565    45.072      208.3    -13.000000
...                    ...        ...       ...        ...           ...
235827 2024-11-30 17:00:00    -83.565    45.072      208.3     -1.699997
235828 2024-11-30 18:00:00    -83.565    45.072      208.3     -2.199997
235829 2024-11-30 19:00:00    -83.565    45.072      208.3     -2.199997
235830 2024-11-30 20:00:00    -83.565    45.072      208.3     -2.199997
235831 2024-11-30 21:00:00    -83.565    45.072      208.3     -2.199997

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1024.800003        1.353279            -16.026558           0.846329
1       1025.199997        1.418175            -15.471397           0.886536
2       1025.199997        1.660751            -13.126076           1.037956
3       1024.800003        1.513824            -14.295013           0.946579
4       1025.099998        1.513832            -14.295013           0.946304
...             ...             ...                   ...                ...
235827  1012.300003        3.672234             -4.002419           2.323692
235828  1011.900002        3.486778             -4.505646           2.207176
235829  1011.900002        3.486778             -4.505646           2.207176
235830  1011.900002        3.168831             -4.841171           2.005661
235831  1012.300003        3.338821             -4.665787           2.112556

        file_id  region  water
0          7838       5      1
1          7838       5      1
2          7838       5      1
3          7838       5      1
4          7838       5      1
...         ...     ...    ...
235827     7838       5      1
235828     7838       5      1
235829     7838       5      1
235830     7838       5      1
235831     7838       5      1

[235832 rows x 12 columns]
                  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  38.833333   33.750000           45.09       -83.580002
1998-01-02  55.250000   22.208333           45.09       -83.580002
1998-01-03  38.375000   31.958333           45.09       -83.580002
1998-01-04  30.333333   35.625000           45.09       -83.580002
1998-01-05  26.166667   14.250000           45.09       -83.580002
...               ...         ...             ...              ...
2005-12-27  26.291667   13.250000           45.09       -83.580002
2005-12-28  18.166667   12.375000           45.09       -83.580002
2005-12-29  37.625000   25.250000           45.09       -83.580002
2005-12-30  38.500000   20.625000           45.09       -83.580002
2005-12-31  25.416667   28.833333           45.09       -83.580002

            distance_h_NSRDB
time
1998-01-01             2.322
1998-01-02             2.322
1998-01-03             2.322
1998-01-04             2.322
1998-01-05             2.322
...                      ...
2005-12-27             2.322
2005-12-28             2.322
2005-12-29             2.322
2005-12-30             2.322
2005-12-31             2.322

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -83.565    45.072      208.3     -6.695834  1015.837499
1998-01-02    -83.565    45.072      208.3      2.854165  1011.366667
1998-01-03    -83.565    45.072      208.3      8.791666  1009.591667
1998-01-04    -83.565    45.072      208.3     -3.841667  1027.466666
1998-01-05    -83.565    45.072      208.3      2.025000  1019.641666
...               ...       ...        ...           ...          ...
2024-11-26    -83.565    45.072      208.3      2.900000  1009.904167
2024-11-27    -83.565    45.072      208.3      0.141667  1013.929166
2024-11-28    -83.565    45.072      208.3     -0.020833  1010.541667
2024-11-29    -83.565    45.072      208.3     -1.733332  1009.387500
2024-11-30    -83.565    45.072      208.3     -2.704546  1011.729546

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        2.742693             -8.452200           1.734456   7838.0
1998-01-02        5.984194              0.989375           3.791719   7838.0
1998-01-03        9.688541              7.191600           6.156511   7838.0
1998-01-04        3.605297             -5.353920           2.249090   7838.0
1998-01-05        7.007629              1.768335           4.407203   7838.0
...                    ...                   ...                ...      ...
2024-11-26        6.860435              1.916197           4.357008   7838.0
2024-11-27        3.917310             -2.647031           2.474521   7838.0
2024-11-28        4.196588             -2.445566           2.660270   7838.0
2024-11-29        4.329969             -3.233528           2.748506   7838.0
2024-11-30        3.824706             -4.387680           2.422029   7838.0

            region  water
time
1998-01-01     5.0    1.0
1998-01-02     5.0    1.0
1998-01-03     5.0    1.0
1998-01-04     5.0    1.0
1998-01-05     5.0    1.0
...            ...    ...
2024-11-26     5.0    1.0
2024-11-27     5.0    1.0
2024-11-28     5.0    1.0
2024-11-29     5.0    1.0
2024-11-30     5.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -83.565    45.072      208.3     -6.695834  1015.837499
1998-01-02    -83.565    45.072      208.3      2.854165  1011.366667
1998-01-03    -83.565    45.072      208.3      8.791666  1009.591667
1998-01-04    -83.565    45.072      208.3     -3.841667  1027.466666
1998-01-05    -83.565    45.072      208.3      2.025000  1019.641666
...               ...       ...        ...           ...          ...
2024-11-26    -83.565    45.072      208.3      2.900000  1009.904167
2024-11-27    -83.565    45.072      208.3      0.141667  1013.929166
2024-11-28    -83.565    45.072      208.3     -0.020833  1010.541667
2024-11-29    -83.565    45.072      208.3     -1.733332  1009.387500
2024-11-30    -83.565    45.072      208.3     -2.704546  1011.729546

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        2.742693             -8.452200           1.734456   7838.0
1998-01-02        5.984194              0.989375           3.791719   7838.0
1998-01-03        9.688541              7.191600           6.156511   7838.0
1998-01-04        3.605297             -5.353920           2.249090   7838.0
1998-01-05        7.007629              1.768335           4.407203   7838.0
...                    ...                   ...                ...      ...
2024-11-26        6.860435              1.916197           4.357008   7838.0
2024-11-27        3.917310             -2.647031           2.474521   7838.0
2024-11-28        4.196588             -2.445566           2.660270   7838.0
2024-11-29        4.329969             -3.233528           2.748506   7838.0
2024-11-30        3.824706             -4.387680           2.422029   7838.0

            region  water        GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     5.0    1.0  38.833333   33.750000           45.09
1998-01-02     5.0    1.0  55.250000   22.208333           45.09
1998-01-03     5.0    1.0  38.375000   31.958333           45.09
1998-01-04     5.0    1.0  30.333333   35.625000           45.09
1998-01-05     5.0    1.0  26.166667   14.250000           45.09
...            ...    ...        ...         ...             ...
2024-11-26     5.0    1.0        NaN         NaN             NaN
2024-11-27     5.0    1.0        NaN         NaN             NaN
2024-11-28     5.0    1.0        NaN         NaN             NaN
2024-11-29     5.0    1.0        NaN         NaN             NaN
2024-11-30     5.0    1.0        NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01       -83.580002             2.322
1998-01-02       -83.580002             2.322
1998-01-03       -83.580002             2.322
1998-01-04       -83.580002             2.322
1998-01-05       -83.580002             2.322
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_726574-94985_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.617999999999995
44.658
-90.208
-90.168
17520
[845542]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.617999999999995
44.658
-90.208
-90.168
17520
[845542]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.617999999999995
44.658
-90.208
-90.168
17568
[845542]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.617999999999995
44.658
-90.208
-90.168
17520
[845542]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.617999999999995
44.658
-90.208
-90.168
17520
[845542]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.617999999999995
44.658
-90.208
-90.168
17520
[845542]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.617999999999995
44.658
-90.208
-90.168
17568
[845542]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
44.617999999999995
44.658
-90.208
-90.168
17520
[845542]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0        0
1        0
2        0
3        0
4        0
...    ...
70123   82
70124  148
70125   46
70126   10
70127    0

[70128 rows x 1 columns]
        0
0      32
1      36
2      40
3      46
4      54
...    ..
70123  37
70124  35
70125  32
70126  21
70127  18

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          32       44.650002           -90.18
1     1998-01-01 01:00:00    0          36       44.650002           -90.18
2     1998-01-01 02:00:00    0          40       44.650002           -90.18
3     1998-01-01 03:00:00    0          46       44.650002           -90.18
4     1998-01-01 04:00:00    0          54       44.650002           -90.18
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00   82          37       44.650002           -90.18
70124 2005-12-31 20:00:00  148          35       44.650002           -90.18
70125 2005-12-31 21:00:00   46          32       44.650002           -90.18
70126 2005-12-31 22:00:00   10          21       44.650002           -90.18
70127 2005-12-31 23:00:00    0          18       44.650002           -90.18

       distance_h_NSRDB
0                 1.477
1                 1.477
2                 1.477
3                 1.477
4                 1.477
...                 ...
70123             1.477
70124             1.477
70125             1.477
70126             1.477
70127             1.477

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235699   2024-11-30 17:00:00
235700   2024-11-30 18:00:00
235701   2024-11-30 19:00:00
235702   2024-11-30 20:00:00
235703   2024-11-30 21:00:00
Name: time, Length: 235704, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00    -90.188    44.638      381.5    -11.000000
1      1998-01-01 01:00:00    -90.188    44.638      381.5    -11.000000
2      1998-01-01 02:00:00    -90.188    44.638      381.5    -11.000000
3      1998-01-01 03:00:00    -90.188    44.638      381.5    -10.666667
4      1998-01-01 04:00:00    -90.188    44.638      381.5    -10.333333
...                    ...        ...       ...        ...           ...
235699 2024-11-30 17:00:00    -90.188    44.638      381.5    -11.699997
235700 2024-11-30 18:00:00    -90.188    44.638      381.5    -10.000000
235701 2024-11-30 19:00:00    -90.188    44.638      381.5     -8.900002
235702 2024-11-30 20:00:00    -90.188    44.638      381.5     -8.900002
235703 2024-11-30 21:00:00    -90.188    44.638      381.5     -8.300003

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1023.500000        1.378761            -12.887688           0.883942
1       1022.300003        1.513664            -12.779846           0.971626
2       1021.800003        1.513664            -12.779846           0.972099
3       1020.366669        1.513657            -12.517359           0.973399
4       1018.933334        1.513649            -12.254873           0.974698
...             ...             ...                   ...                ...
235699  1021.199997        1.353127            -13.473579           0.869576
235700  1020.400002        1.418015            -12.052971           0.911705
235701  1020.099998        1.499641            -11.123940           0.964287
235702  1019.699997        1.570923            -11.082367           1.010544
235703  1019.699997        1.570923            -10.608177           1.010429

        file_id  region  water
0          7938       3      1
1          7938       3      1
2          7938       3      1
3          7938       3      1
4          7938       3      1
...         ...     ...    ...
235699     7938       3      1
235700     7938       3      1
235701     7938       3      1
235702     7938       3      1
235703     7938       3      1

[235704 rows x 12 columns]
                  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  75.875000   48.750000       44.650005           -90.18
1998-01-02  40.250000   42.208333       44.650005           -90.18
1998-01-03  44.041667   52.875000       44.650005           -90.18
1998-01-04  42.250000   51.458333       44.650005           -90.18
1998-01-05  45.250000   39.541667       44.650005           -90.18
...               ...         ...             ...              ...
2005-12-27  21.500000   16.041667       44.650005           -90.18
2005-12-28  15.916667   19.458333       44.650005           -90.18
2005-12-29  47.083333   17.125000       44.650005           -90.18
2005-12-30  16.750000   44.541667       44.650005           -90.18
2005-12-31  23.291667   23.208333       44.650005           -90.18

            distance_h_NSRDB
time
1998-01-01             1.477
1998-01-02             1.477
1998-01-03             1.477
1998-01-04             1.477
1998-01-05             1.477
...                      ...
2005-12-27             1.477
2005-12-28             1.477
2005-12-29             1.477
2005-12-30             1.477
2005-12-31             1.477

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -90.188    44.638      381.5     -5.125000  1011.841667
1998-01-02    -90.188    44.638      381.5      0.916667  1008.291666
1998-01-03    -90.188    44.638      381.5      4.145833  1009.641666
1998-01-04    -90.188    44.638      381.5     -6.270833  1024.889583
1998-01-05    -90.188    44.638      381.5     -1.666667  1017.206249
...               ...       ...        ...           ...          ...
2024-11-26    -90.188    44.638      381.5     -4.445833  1019.043749
2024-11-27    -90.188    44.638      381.5     -5.641666  1017.175001
2024-11-28    -90.188    44.638      381.5     -4.504168  1016.754167
2024-11-29    -90.188    44.638      381.5     -7.616668  1019.145833
2024-11-30    -90.188    44.638      381.5    -10.109092  1020.840909

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        3.133351             -7.462337           2.035554   7938.0
1998-01-02        5.993655             -0.163877           3.900664   7938.0
1998-01-03        7.620604              3.098514           4.958865   7938.0
1998-01-04        2.748241             -7.867385           1.759365   7938.0
1998-01-05        5.149506             -2.206106           3.314258   7938.0
...                    ...                   ...                ...      ...
2024-11-26        3.052670             -6.430675           1.964791   7938.0
2024-11-27        2.975714             -7.174144           1.918814   7938.0
2024-11-28        2.997612             -6.479783           1.933385   7938.0
2024-11-29        2.309434             -9.377590           1.486615   7938.0
2024-11-30        1.706413            -11.882413           1.096781   7938.0

            region  water
time
1998-01-01     3.0    1.0
1998-01-02     3.0    1.0
1998-01-03     3.0    1.0
1998-01-04     3.0    1.0
1998-01-05     3.0    1.0
...            ...    ...
2024-11-26     3.0    1.0
2024-11-27     3.0    1.0
2024-11-28     3.0    1.0
2024-11-29     3.0    1.0
2024-11-30     3.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -90.188    44.638      381.5     -5.125000  1011.841667
1998-01-02    -90.188    44.638      381.5      0.916667  1008.291666
1998-01-03    -90.188    44.638      381.5      4.145833  1009.641666
1998-01-04    -90.188    44.638      381.5     -6.270833  1024.889583
1998-01-05    -90.188    44.638      381.5     -1.666667  1017.206249
...               ...       ...        ...           ...          ...
2024-11-26    -90.188    44.638      381.5     -4.445833  1019.043749
2024-11-27    -90.188    44.638      381.5     -5.641666  1017.175001
2024-11-28    -90.188    44.638      381.5     -4.504168  1016.754167
2024-11-29    -90.188    44.638      381.5     -7.616668  1019.145833
2024-11-30    -90.188    44.638      381.5    -10.109092  1020.840909

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        3.133351             -7.462337           2.035554   7938.0
1998-01-02        5.993655             -0.163877           3.900664   7938.0
1998-01-03        7.620604              3.098514           4.958865   7938.0
1998-01-04        2.748241             -7.867385           1.759365   7938.0
1998-01-05        5.149506             -2.206106           3.314258   7938.0
...                    ...                   ...                ...      ...
2024-11-26        3.052670             -6.430675           1.964791   7938.0
2024-11-27        2.975714             -7.174144           1.918814   7938.0
2024-11-28        2.997612             -6.479783           1.933385   7938.0
2024-11-29        2.309434             -9.377590           1.486615   7938.0
2024-11-30        1.706413            -11.882413           1.096781   7938.0

            region  water        GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     3.0    1.0  75.875000   48.750000       44.650005
1998-01-02     3.0    1.0  40.250000   42.208333       44.650005
1998-01-03     3.0    1.0  44.041667   52.875000       44.650005
1998-01-04     3.0    1.0  42.250000   51.458333       44.650005
1998-01-05     3.0    1.0  45.250000   39.541667       44.650005
...            ...    ...        ...         ...             ...
2024-11-26     3.0    1.0        NaN         NaN             NaN
2024-11-27     3.0    1.0        NaN         NaN             NaN
2024-11-28     3.0    1.0        NaN         NaN             NaN
2024-11-29     3.0    1.0        NaN         NaN             NaN
2024-11-30     3.0    1.0        NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01           -90.18             1.477
1998-01-02           -90.18             1.477
1998-01-03           -90.18             1.477
1998-01-04           -90.18             1.477
1998-01-05           -90.18             1.477
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_726777-94055_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
46.331999999999994
46.372
-104.28099999999999
-104.241
17520
[502715]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
46.331999999999994
46.372
-104.28099999999999
-104.241
17520
[502715]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
46.331999999999994
46.372
-104.28099999999999
-104.241
17568
[502715]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
46.331999999999994
46.372
-104.28099999999999
-104.241
17520
[502715]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
46.331999999999994
46.372
-104.28099999999999
-104.241
17520
[502715]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
46.331999999999994
46.372
-104.28099999999999
-104.241
17520
[502715]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
46.331999999999994
46.372
-104.28099999999999
-104.241
17568
[502715]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
46.331999999999994
46.372
-104.28099999999999
-104.241
17520
[502715]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0        0
1        0
2        0
3        0
4        0
...    ...
70123  360
70124  334
70125  259
70126  144
70127   24

[70128 rows x 1 columns]
        0
0      48
1      57
2      65
3      64
4      64
...    ..
70123  27
70124  22
70125  11
70126  11
70127  14

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    0          48       46.369999      -104.260002
1     1998-01-01 01:00:00    0          57       46.369999      -104.260002
2     1998-01-01 02:00:00    0          65       46.369999      -104.260002
3     1998-01-01 03:00:00    0          64       46.369999      -104.260002
4     1998-01-01 04:00:00    0          64       46.369999      -104.260002
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00  360          27       46.369999      -104.260002
70124 2005-12-31 20:00:00  334          22       46.369999      -104.260002
70125 2005-12-31 21:00:00  259          11       46.369999      -104.260002
70126 2005-12-31 22:00:00  144          11       46.369999      -104.260002
70127 2005-12-31 23:00:00   24          14       46.369999      -104.260002

       distance_h_NSRDB
0                 2.003
1                 2.003
2                 2.003
3                 2.003
4                 2.003
...                 ...
70123             2.003
70124             2.003
70125             2.003
70126             2.003
70127             2.003

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235579   2024-11-30 17:00:00
235580   2024-11-30 18:00:00
235581   2024-11-30 19:00:00
235582   2024-11-30 20:00:00
235583   2024-11-30 21:00:00
Name: time, Length: 235584, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00   -104.261    46.352      902.9           NaN
1      1998-01-01 01:00:00   -104.261    46.352      902.9           NaN
2      1998-01-01 02:00:00   -104.261    46.352      902.9           NaN
3      1998-01-01 03:00:00   -104.261    46.352      902.9           NaN
4      1998-01-01 04:00:00   -104.261    46.352      902.9           NaN
...                    ...        ...       ...        ...           ...
235579 2024-11-30 17:00:00   -104.261    46.352      902.9     -7.199997
235580 2024-11-30 18:00:00   -104.261    46.352      902.9     -5.000000
235581 2024-11-30 19:00:00   -104.261    46.352      902.9     -3.300003
235582 2024-11-30 20:00:00   -104.261    46.352      902.9     -2.800003
235583 2024-11-30 21:00:00   -104.261    46.352      902.9     -3.300003

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0               NaN             NaN                   NaN                NaN
1               NaN             NaN                   NaN                NaN
2               NaN             NaN                   NaN                NaN
3               NaN             NaN                   NaN                NaN
4               NaN             NaN                   NaN                NaN
...             ...             ...                   ...                ...
235579  1024.400002        2.876625             -8.246964           1.977188
235580  1023.900002        3.337738             -6.311821           2.293404
235581  1023.000000        3.832352             -4.700150           2.634117
235582  1022.500000        4.246208             -3.873581           2.919861
235583  1022.800003        4.034447             -4.415932           2.773796

        file_id  region  water
0          7979       3      1
1          7979       3      1
2          7979       3      1
3          7979       3      1
4          7979       3      1
...         ...     ...    ...
235579     7979       3      1
235580     7979       3      1
235581     7979       3      1
235582     7979       3      1
235583     7979       3      1

[235584 rows x 12 columns]
                  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  45.750000   51.333333       46.369999      -104.260002
1998-01-02  41.833333   35.250000       46.369999      -104.260002
1998-01-03  62.625000   53.250000       46.369999      -104.260002
1998-01-04  78.208333   44.291667       46.369999      -104.260002
1998-01-05  71.041667   35.541667       46.369999      -104.260002
...               ...         ...             ...              ...
2005-12-27  60.583333   36.416667       46.369999      -104.260002
2005-12-28  77.750000   42.625000       46.369999      -104.260002
2005-12-29  11.625000   29.000000       46.369999      -104.260002
2005-12-30  32.333333   28.458333       46.369999      -104.260002
2005-12-31  51.541667   36.791667       46.369999      -104.260002

            distance_h_NSRDB
time
1998-01-01             2.003
1998-01-02             2.003
1998-01-03             2.003
1998-01-04             2.003
1998-01-05             2.003
...                      ...
2005-12-27             2.003
2005-12-28             2.003
2005-12-29             2.003
2005-12-30             2.003
2005-12-31             2.003

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01   -104.261    46.352      902.9           NaN          NaN
1998-01-02   -104.261    46.352      902.9           NaN          NaN
1998-01-03   -104.261    46.352      902.9           NaN          NaN
1998-01-04   -104.261    46.352      902.9           NaN          NaN
1998-01-05   -104.261    46.352      902.9           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26   -104.261    46.352      902.9     -8.079167  1019.304166
2024-11-27   -104.261    46.352      902.9     -4.774999  1018.116666
2024-11-28   -104.261    46.352      902.9     -9.629168  1026.918750
2024-11-29   -104.261    46.352      902.9    -11.545833  1027.318750
2024-11-30   -104.261    46.352      902.9     -8.145456  1024.163637

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   7979.0
1998-01-02             NaN                   NaN                NaN   7979.0
1998-01-03             NaN                   NaN                NaN   7979.0
1998-01-04             NaN                   NaN                NaN   7979.0
1998-01-05             NaN                   NaN                NaN   7979.0
...                    ...                   ...                ...      ...
2024-11-26        2.297393             -9.836690           1.587810   7979.0
2024-11-27        3.390951             -6.020291           2.343401   7979.0
2024-11-28        2.329259            -10.663062           1.598500   7979.0
2024-11-29        2.012491            -12.493352           1.381584   7979.0
2024-11-30        2.759568             -9.061013           1.897787   7979.0

            region  water
time
1998-01-01     3.0    1.0
1998-01-02     3.0    1.0
1998-01-03     3.0    1.0
1998-01-04     3.0    1.0
1998-01-05     3.0    1.0
...            ...    ...
2024-11-26     3.0    1.0
2024-11-27     3.0    1.0
2024-11-28     3.0    1.0
2024-11-29     3.0    1.0
2024-11-30     3.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01   -104.261    46.352      902.9           NaN          NaN
1998-01-02   -104.261    46.352      902.9           NaN          NaN
1998-01-03   -104.261    46.352      902.9           NaN          NaN
1998-01-04   -104.261    46.352      902.9           NaN          NaN
1998-01-05   -104.261    46.352      902.9           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26   -104.261    46.352      902.9     -8.079167  1019.304166
2024-11-27   -104.261    46.352      902.9     -4.774999  1018.116666
2024-11-28   -104.261    46.352      902.9     -9.629168  1026.918750
2024-11-29   -104.261    46.352      902.9    -11.545833  1027.318750
2024-11-30   -104.261    46.352      902.9     -8.145456  1024.163637

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   7979.0
1998-01-02             NaN                   NaN                NaN   7979.0
1998-01-03             NaN                   NaN                NaN   7979.0
1998-01-04             NaN                   NaN                NaN   7979.0
1998-01-05             NaN                   NaN                NaN   7979.0
...                    ...                   ...                ...      ...
2024-11-26        2.297393             -9.836690           1.587810   7979.0
2024-11-27        3.390951             -6.020291           2.343401   7979.0
2024-11-28        2.329259            -10.663062           1.598500   7979.0
2024-11-29        2.012491            -12.493352           1.381584   7979.0
2024-11-30        2.759568             -9.061013           1.897787   7979.0

            region  water        GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     3.0    1.0  45.750000   51.333333       46.369999
1998-01-02     3.0    1.0  41.833333   35.250000       46.369999
1998-01-03     3.0    1.0  62.625000   53.250000       46.369999
1998-01-04     3.0    1.0  78.208333   44.291667       46.369999
1998-01-05     3.0    1.0  71.041667   35.541667       46.369999
...            ...    ...        ...         ...             ...
2024-11-26     3.0    1.0        NaN         NaN             NaN
2024-11-27     3.0    1.0        NaN         NaN             NaN
2024-11-28     3.0    1.0        NaN         NaN             NaN
2024-11-29     3.0    1.0        NaN         NaN             NaN
2024-11-30     3.0    1.0        NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01      -104.260002             2.003
1998-01-02      -104.260002             2.003
1998-01-03      -104.260002             2.003
1998-01-04      -104.260002             2.003
1998-01-05      -104.260002             2.003
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_726881-94273_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.175999999999995
45.216
-123.154
-123.114
17520
[212086]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.175999999999995
45.216
-123.154
-123.114
17520
[212086]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.175999999999995
45.216
-123.154
-123.114
17568
[212086]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.175999999999995
45.216
-123.154
-123.114
17520
[212086]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.175999999999995
45.216
-123.154
-123.114
17520
[212086]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.175999999999995
45.216
-123.154
-123.114
17520
[212086]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.175999999999995
45.216
-123.154
-123.114
17568
[212086]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.175999999999995
45.216
-123.154
-123.114
17520
[212086]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
        0
0       1
1       0
2       0
3       0
4       0
...    ..
70123  35
70124  30
70125  39
70126  68
70127  16

[70128 rows x 1 columns]
        0
0       7
1       7
2       8
3       9
4      11
...    ..
70123   6
70124   9
70125  12
70126  15
70127  15

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00    1           7       45.209999      -123.139999
1     1998-01-01 01:00:00    0           7       45.209999      -123.139999
2     1998-01-01 02:00:00    0           8       45.209999      -123.139999
3     1998-01-01 03:00:00    0           9       45.209999      -123.139999
4     1998-01-01 04:00:00    0          11       45.209999      -123.139999
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00   35           6       45.209999      -123.139999
70124 2005-12-31 20:00:00   30           9       45.209999      -123.139999
70125 2005-12-31 21:00:00   39          12       45.209999      -123.139999
70126 2005-12-31 22:00:00   68          15       45.209999      -123.139999
70127 2005-12-31 23:00:00   16          15       45.209999      -123.139999

       distance_h_NSRDB
0                 1.626
1                 1.626
2                 1.626
3                 1.626
4                 1.626
...                 ...
70123             1.626
70124             1.626
70125             1.626
70126             1.626
70127             1.626

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235745   2024-11-30 17:00:00
235746   2024-11-30 18:00:00
235747   2024-11-30 19:00:00
235748   2024-11-30 20:00:00
235749   2024-11-30 21:00:00
Name: time, Length: 235750, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00   -123.134    45.196       48.2      5.000000
1      1998-01-01 01:00:00   -123.134    45.196       48.2      4.000000
2      1998-01-01 02:00:00   -123.134    45.196       48.2      3.000000
3      1998-01-01 03:00:00   -123.134    45.196       48.2      4.000000
4      1998-01-01 04:00:00   -123.134    45.196       48.2      4.000000
...                    ...        ...       ...        ...           ...
235745 2024-11-30 17:00:00   -123.134    45.196       48.2      3.300003
235746 2024-11-30 18:00:00   -123.134    45.196       48.2      3.900002
235747 2024-11-30 19:00:00   -123.134    45.196       48.2      3.900002
235748 2024-11-30 20:00:00   -123.134    45.196       48.2      4.400002
235749 2024-11-30 21:00:00   -123.134    45.196       48.2      5.000000

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0       1014.300003        8.168304              4.284485           5.056366
1       1014.099998        8.168297              3.896767           5.057472
2       1013.900002        7.611641              2.889664           4.712875
3       1013.166667        7.797170              3.225365           4.831739
4       1012.433332        7.982699              3.561066           4.950602
...             ...             ...                   ...                ...
235745  1025.199997        6.646027              1.941269           4.068016
235746  1025.500000        6.410629              1.993500           3.922386
235747  1025.699997        6.646034              2.230766           4.065979
235748  1025.099998        6.646019              2.478493           4.068314
235749  1025.099998        6.646019              2.478493           4.068314

        file_id  region  water
0          7999       1      1
1          7999       1      1
2          7999       1      1
3          7999       1      1
4          7999       1      1
...         ...     ...    ...
235745     7999       1      1
235746     7999       1      1
235747     7999       1      1
235748     7999       1      1
235749     7999       1      1

[235750 rows x 12 columns]
                  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01   9.125000   19.708333       45.210003      -123.139992
1998-01-02  71.875000    7.166667       45.210003      -123.139992
1998-01-03   7.375000    9.958333       45.210003      -123.139992
1998-01-04  39.041667   11.500000       45.210003      -123.139992
1998-01-05  12.958333   21.000000       45.210003      -123.139992
...               ...         ...             ...              ...
2005-12-27  18.250000   19.333333       45.210003      -123.139992
2005-12-28  28.375000   16.416667       45.210003      -123.139992
2005-12-29  15.833333   12.416667       45.210003      -123.139992
2005-12-30  12.875000   22.041667       45.210003      -123.139992
2005-12-31   8.750000   12.166667       45.210003      -123.139992

            distance_h_NSRDB
time
1998-01-01             1.626
1998-01-02             1.626
1998-01-03             1.626
1998-01-04             1.626
1998-01-05             1.626
...                      ...
2005-12-27             1.626
2005-12-28             1.626
2005-12-29             1.626
2005-12-30             1.626
2005-12-31             1.626

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01   -123.134    45.196       48.2      7.500000  1006.404167
1998-01-02   -123.134    45.196       48.2      3.083333  1004.758333
1998-01-03   -123.134    45.196       48.2      2.062500  1002.243750
1998-01-04   -123.134    45.196       48.2      4.375000   999.908333
1998-01-05   -123.134    45.196       48.2      5.770833  1012.758333
...               ...       ...        ...           ...          ...
2024-11-26   -123.134    45.196       48.2      3.479166  1018.170833
2024-11-27   -123.134    45.196       48.2      5.645833  1027.295832
2024-11-28   -123.134    45.196       48.2      1.737500  1025.997917
2024-11-29   -123.134    45.196       48.2      3.666669  1025.116667
2024-11-30   -123.134    45.196       48.2      3.854547  1025.436363

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        9.596057              6.588092           5.993901   7999.0
1998-01-02        7.196141              2.305114           4.498542   7999.0
1998-01-03        6.751985              1.493716           4.228877   7999.0
1998-01-04        7.572738              3.402454           4.754709   7999.0
1998-01-05        8.165480              4.592644           5.061777   7999.0
...                    ...                   ...                ...      ...
2024-11-26        7.665770              3.047119           4.726139   7999.0
2024-11-27        8.907191              5.268333           5.445655   7999.0
2024-11-28        6.735674              1.316861           4.120339   7999.0
2024-11-29        6.778444              2.258375           4.149692   7999.0
2024-11-30        6.927571              2.491874           4.239781   7999.0

            region  water
time
1998-01-01     1.0    1.0
1998-01-02     1.0    1.0
1998-01-03     1.0    1.0
1998-01-04     1.0    1.0
1998-01-05     1.0    1.0
...            ...    ...
2024-11-26     1.0    1.0
2024-11-27     1.0    1.0
2024-11-28     1.0    1.0
2024-11-29     1.0    1.0
2024-11-30     1.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01   -123.134    45.196       48.2      7.500000  1006.404167
1998-01-02   -123.134    45.196       48.2      3.083333  1004.758333
1998-01-03   -123.134    45.196       48.2      2.062500  1002.243750
1998-01-04   -123.134    45.196       48.2      4.375000   999.908333
1998-01-05   -123.134    45.196       48.2      5.770833  1012.758333
...               ...       ...        ...           ...          ...
2024-11-26   -123.134    45.196       48.2      3.479166  1018.170833
2024-11-27   -123.134    45.196       48.2      5.645833  1027.295832
2024-11-28   -123.134    45.196       48.2      1.737500  1025.997917
2024-11-29   -123.134    45.196       48.2      3.666669  1025.116667
2024-11-30   -123.134    45.196       48.2      3.854547  1025.436363

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        9.596057              6.588092           5.993901   7999.0
1998-01-02        7.196141              2.305114           4.498542   7999.0
1998-01-03        6.751985              1.493716           4.228877   7999.0
1998-01-04        7.572738              3.402454           4.754709   7999.0
1998-01-05        8.165480              4.592644           5.061777   7999.0
...                    ...                   ...                ...      ...
2024-11-26        7.665770              3.047119           4.726139   7999.0
2024-11-27        8.907191              5.268333           5.445655   7999.0
2024-11-28        6.735674              1.316861           4.120339   7999.0
2024-11-29        6.778444              2.258375           4.149692   7999.0
2024-11-30        6.927571              2.491874           4.239781   7999.0

            region  water        GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     1.0    1.0   9.125000   19.708333       45.210003
1998-01-02     1.0    1.0  71.875000    7.166667       45.210003
1998-01-03     1.0    1.0   7.375000    9.958333       45.210003
1998-01-04     1.0    1.0  39.041667   11.500000       45.210003
1998-01-05     1.0    1.0  12.958333   21.000000       45.210003
...            ...    ...        ...         ...             ...
2024-11-26     1.0    1.0        NaN         NaN             NaN
2024-11-27     1.0    1.0        NaN         NaN             NaN
2024-11-28     1.0    1.0        NaN         NaN             NaN
2024-11-29     1.0    1.0        NaN         NaN             NaN
2024-11-30     1.0    1.0        NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01      -123.139992             1.626
1998-01-02      -123.139992             1.626
1998-01-03      -123.139992             1.626
1998-01-04      -123.139992             1.626
1998-01-05      -123.139992             1.626
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
hadisd.3.4.1.202411p_19310101-20241201_726883-04113_humidity.nc

C:\Users\User\AppData\Local\Temp\ipykernel_8428\81146084.py:87: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_filtered = df_filtered.interpolate()

Year: 1998
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.806
45.846000000000004
-119.28099999999999
-119.241
17520
[219383]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 1999
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.806
45.846000000000004
-119.28099999999999
-119.241
17520
[219383]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2000
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.806
45.846000000000004
-119.28099999999999
-119.241
17568
[219383]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2001
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.806
45.846000000000004
-119.28099999999999
-119.241
17520
[219383]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2002
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.806
45.846000000000004
-119.28099999999999
-119.241
17520
[219383]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2003
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.806
45.846000000000004
-119.28099999999999
-119.241
17520
[219383]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
Year: 2004
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.806
45.846000000000004
-119.28099999999999
-119.241
17568
[219383]
(17568, 2018392)
<HDF5 dataset "ghi": shape (17568, 2018392), type "<i2">
(17568, 2018392)
<HDF5 dataset "wind_speed": shape (17568, 2018392), type "<i2">
Year: 2005
Latitude: 0         -19.990000
1         -19.990000
2         -19.990000
3         -19.990000
4         -19.990000
             ...
2018387    51.810001
2018388    51.849998
2018389    51.689999
2018390    51.770000
2018391    51.689999
Name: latitude, Length: 2018392, dtype: float32
Longitude: 0         -175.259995
1         -175.220001
2         -175.179993
3         -175.139999
4         -175.100006
              ...
2018387    179.860001
2018388    179.860001
2018389    179.860001
2018390    179.860001
2018391    179.899994
Name: longitude, Length: 2018392, dtype: float32
45.806
45.846000000000004
-119.28099999999999
-119.241
17520
[219383]
(17520, 2018392)
<HDF5 dataset "ghi": shape (17520, 2018392), type "<i2">
(17520, 2018392)
<HDF5 dataset "wind_speed": shape (17520, 2018392), type "<i2">
         0
0       25
1        0
2        0
3        0
4        0
...    ...
70123  227
70124   19
70125   52
70126    9
70127    8

[70128 rows x 1 columns]
        0
0      14
1      15
2      17
3      19
4      22
...    ..
70123  20
70124  18
70125  34
70126  37
70127  27

[70128 rows x 1 columns]
                        0
0     1998-01-01 00:00:00
1     1998-01-01 01:00:00
2     1998-01-01 02:00:00
3     1998-01-01 03:00:00
4     1998-01-01 04:00:00
...                   ...
70123 2005-12-31 19:00:00
70124 2005-12-31 20:00:00
70125 2005-12-31 21:00:00
70126 2005-12-31 22:00:00
70127 2005-12-31 23:00:00

[70128 rows x 1 columns]
                     time  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
0     1998-01-01 00:00:00   25          14       45.810001      -119.260002
1     1998-01-01 01:00:00    0          15       45.810001      -119.260002
2     1998-01-01 02:00:00    0          17       45.810001      -119.260002
3     1998-01-01 03:00:00    0          19       45.810001      -119.260002
4     1998-01-01 04:00:00    0          22       45.810001      -119.260002
...                   ...  ...         ...             ...              ...
70123 2005-12-31 19:00:00  227          20       45.810001      -119.260002
70124 2005-12-31 20:00:00   19          18       45.810001      -119.260002
70125 2005-12-31 21:00:00   52          34       45.810001      -119.260002
70126 2005-12-31 22:00:00    9          37       45.810001      -119.260002
70127 2005-12-31 23:00:00    8          27       45.810001      -119.260002

       distance_h_NSRDB
0                 1.781
1                 1.781
2                 1.781
3                 1.781
4                 1.781
...                 ...
70123             1.781
70124             1.781
70125             1.781
70126             1.781
70127             1.781

[70128 rows x 6 columns]
70128
0        1998-01-01 00:00:00
1        1998-01-01 01:00:00
2        1998-01-01 02:00:00
3        1998-01-01 03:00:00
4        1998-01-01 04:00:00
                 ...
235620   2024-11-30 17:00:00
235621   2024-11-30 18:00:00
235622   2024-11-30 19:00:00
235623   2024-11-30 20:00:00
235624   2024-11-30 21:00:00
Name: time, Length: 235625, dtype: datetime64[ns]
                      time  longitude  latitude  elevation  temperatures  \
0      1998-01-01 00:00:00   -119.261    45.826      195.1           NaN
1      1998-01-01 01:00:00   -119.261    45.826      195.1           NaN
2      1998-01-01 02:00:00   -119.261    45.826      195.1           NaN
3      1998-01-01 03:00:00   -119.261    45.826      195.1           NaN
4      1998-01-01 04:00:00   -119.261    45.826      195.1           NaN
...                    ...        ...       ...        ...           ...
235620 2024-11-30 17:00:00   -119.261    45.826      195.1      1.099998
235621 2024-11-30 18:00:00   -119.261    45.826      195.1      1.099998
235622 2024-11-30 19:00:00   -119.261    45.826      195.1      1.699997
235623 2024-11-30 20:00:00   -119.261    45.826      195.1      2.199997
235624 2024-11-30 21:00:00   -119.261    45.826      195.1      2.199997

                slp  vapor_pressure  wet_bulb_temperature  specific_humidity  \
0               NaN             NaN                   NaN                NaN
1               NaN             NaN                   NaN                NaN
2               NaN             NaN                   NaN                NaN
3               NaN             NaN                   NaN                NaN
4               NaN             NaN                   NaN                NaN
...             ...             ...                   ...                ...
235620  1027.300003        5.605339             -0.358337           3.490479
235621  1027.400002        5.875198              0.026810           3.658539
235622  1027.400002        5.664223              0.084686           3.526688
235623  1027.000000        5.664215              0.345848           3.527893
235624  1026.599998        5.664207              0.345848           3.529266

        file_id  region  water
0          8000       1      1
1          8000       1      1
2          8000       1      1
3          8000       1      1
4          8000       1      1
...         ...     ...    ...
235620     8000       1      1
235621     8000       1      1
235622     8000       1      1
235623     8000       1      1
235624     8000       1      1

[235625 rows x 12 columns]
                  GHI  wind_speed  NSRDB_latitude  NSRDB_longitude  \
time
1998-01-01  40.083333   36.458333       45.810001      -119.260002
1998-01-02  80.583333   38.083333       45.810001      -119.260002
1998-01-03  11.750000   22.958333       45.810001      -119.260002
1998-01-04  80.666667   16.166667       45.810001      -119.260002
1998-01-05  61.500000   45.625000       45.810001      -119.260002
...               ...         ...             ...              ...
2005-12-27  16.833333   30.833333       45.810001      -119.260002
2005-12-28  14.416667   24.916667       45.810001      -119.260002
2005-12-29  60.416667   34.583333       45.810001      -119.260002
2005-12-30   9.166667   20.500000       45.810001      -119.260002
2005-12-31  17.708333   19.375000       45.810001      -119.260002

            distance_h_NSRDB
time
1998-01-01             1.781
1998-01-02             1.781
1998-01-03             1.781
1998-01-04             1.781
1998-01-05             1.781
...                      ...
2005-12-27             1.781
2005-12-28             1.781
2005-12-29             1.781
2005-12-30             1.781
2005-12-31             1.781

[2922 rows x 5 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01   -119.261    45.826      195.1           NaN          NaN
1998-01-02   -119.261    45.826      195.1           NaN          NaN
1998-01-03   -119.261    45.826      195.1           NaN          NaN
1998-01-04   -119.261    45.826      195.1           NaN          NaN
1998-01-05   -119.261    45.826      195.1           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26   -119.261    45.826      195.1      6.229166  1017.225000
2024-11-27   -119.261    45.826      195.1      3.237500  1025.662500
2024-11-28   -119.261    45.826      195.1      0.533333  1027.374999
2024-11-29   -119.261    45.826      195.1      0.945832  1025.054167
2024-11-30   -119.261    45.826      195.1      1.472725  1026.713637

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   8000.0
1998-01-02             NaN                   NaN                NaN   8000.0
1998-01-03             NaN                   NaN                NaN   8000.0
1998-01-04             NaN                   NaN                NaN   8000.0
1998-01-05             NaN                   NaN                NaN   8000.0
...                    ...                   ...                ...      ...
2024-11-26        7.989668              4.635959           5.026868   8000.0
2024-11-27        6.237026              1.436999           3.890849   8000.0
2024-11-28        5.630525             -0.591895           3.506424   8000.0
2024-11-29        5.724847             -0.235997           3.572999   8000.0
2024-11-30        5.576260             -0.152652           3.474179   8000.0

            region  water
time
1998-01-01     1.0    1.0
1998-01-02     1.0    1.0
1998-01-03     1.0    1.0
1998-01-04     1.0    1.0
1998-01-05     1.0    1.0
...            ...    ...
2024-11-26     1.0    1.0
2024-11-27     1.0    1.0
2024-11-28     1.0    1.0
2024-11-29     1.0    1.0
2024-11-30     1.0    1.0

[9831 rows x 11 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01   -119.261    45.826      195.1           NaN          NaN
1998-01-02   -119.261    45.826      195.1           NaN          NaN
1998-01-03   -119.261    45.826      195.1           NaN          NaN
1998-01-04   -119.261    45.826      195.1           NaN          NaN
1998-01-05   -119.261    45.826      195.1           NaN          NaN
...               ...       ...        ...           ...          ...
2024-11-26   -119.261    45.826      195.1      6.229166  1017.225000
2024-11-27   -119.261    45.826      195.1      3.237500  1025.662500
2024-11-28   -119.261    45.826      195.1      0.533333  1027.374999
2024-11-29   -119.261    45.826      195.1      0.945832  1025.054167
2024-11-30   -119.261    45.826      195.1      1.472725  1026.713637

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01             NaN                   NaN                NaN   8000.0
1998-01-02             NaN                   NaN                NaN   8000.0
1998-01-03             NaN                   NaN                NaN   8000.0
1998-01-04             NaN                   NaN                NaN   8000.0
1998-01-05             NaN                   NaN                NaN   8000.0
...                    ...                   ...                ...      ...
2024-11-26        7.989668              4.635959           5.026868   8000.0
2024-11-27        6.237026              1.436999           3.890849   8000.0
2024-11-28        5.630525             -0.591895           3.506424   8000.0
2024-11-29        5.724847             -0.235997           3.572999   8000.0
2024-11-30        5.576260             -0.152652           3.474179   8000.0

            region  water        GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     1.0    1.0  40.083333   36.458333       45.810001
1998-01-02     1.0    1.0  80.583333   38.083333       45.810001
1998-01-03     1.0    1.0  11.750000   22.958333       45.810001
1998-01-04     1.0    1.0  80.666667   16.166667       45.810001
1998-01-05     1.0    1.0  61.500000   45.625000       45.810001
...            ...    ...        ...         ...             ...
2024-11-26     1.0    1.0        NaN         NaN             NaN
2024-11-27     1.0    1.0        NaN         NaN             NaN
2024-11-28     1.0    1.0        NaN         NaN             NaN
2024-11-29     1.0    1.0        NaN         NaN             NaN
2024-11-30     1.0    1.0        NaN         NaN             NaN

            NSRDB_longitude  distance_h_NSRDB
time
1998-01-01      -119.260002             1.781
1998-01-02      -119.260002             1.781
1998-01-03      -119.260002             1.781
1998-01-04      -119.260002             1.781
1998-01-05      -119.260002             1.781
...                     ...               ...
2024-11-26              NaN               NaN
2024-11-27              NaN               NaN
2024-11-28              NaN               NaN
2024-11-29              NaN               NaN
2024-11-30              NaN               NaN

[9831 rows x 16 columns]
            longitude  latitude  elevation  temperatures          slp  \
time
1998-01-01    -86.467    30.393        5.4      6.562500  1034.810416
1998-01-02    -86.467    30.393        5.4      7.958333  1032.070833
1998-01-03    -86.467    30.393        5.4     13.312500  1027.208332
1998-01-04    -86.467    30.393        5.4     15.666667  1023.437499
1998-01-05    -86.467    30.393        5.4     17.833333  1019.037500
...               ...       ...        ...           ...          ...
2024-11-26   -119.261    45.826      195.1      6.229166  1017.225000
2024-11-27   -119.261    45.826      195.1      3.237500  1025.662500
2024-11-28   -119.261    45.826      195.1      0.533333  1027.374999
2024-11-29   -119.261    45.826      195.1      0.945832  1025.054167
2024-11-30   -119.261    45.826      195.1      1.472725  1026.713637

            vapor_pressure  wet_bulb_temperature  specific_humidity  file_id  \
time
1998-01-01        5.651680              2.772352           3.406661   6678.0
1998-01-02        8.549684              5.702755           5.175989   6678.0
1998-01-03       13.068624             11.663050           7.958255   6678.0
1998-01-04       15.956059             14.388488           9.763809   6678.0
1998-01-05       18.497606             16.658828          11.377341   6678.0
...                    ...                   ...                ...      ...
2024-11-26        7.989668              4.635959           5.026868   8000.0
2024-11-27        6.237026              1.436999           3.890849   8000.0
2024-11-28        5.630525             -0.591895           3.506424   8000.0
2024-11-29        5.724847             -0.235997           3.572999   8000.0
2024-11-30        5.576260             -0.152652           3.474179   8000.0

            region  water         GHI  wind_speed  NSRDB_latitude  \
time
1998-01-01     6.0    1.0  170.375000   23.125000       30.409998
1998-01-02     6.0    1.0  159.791667   20.916667       30.409998
1998-01-03     6.0    1.0  151.500000   19.125000       30.409998
1998-01-04     6.0    1.0  118.916667   20.291667       30.409998
1998-01-05     6.0    1.0   59.291667   25.208333       30.409998
...            ...    ...         ...         ...             ...
2024-11-26     1.0    1.0         NaN         NaN             NaN
2024-11-27     1.0    1.0         NaN         NaN             NaN
2024-11-28     1.0    1.0         NaN         NaN             NaN
2024-11-29     1.0    1.0         NaN         NaN             NaN